:root {
  /**
   * The designs of the tip is 1.5rem from corner to corner. To calculate
   * the pre-rotated square we use `Math.sqrt((1.5rem**2)/2)`
   */
  --cmp-context-tip-space: calc(var(--spacing-grid-size) * 2);
  --cmp-context-padding-vertical-tiny: calc(var(--spacing-grid-size) / 2);
  --cmp-context-padding-horizontal-tiny: calc(var(--spacing-grid-size) * 3);
  --cmp-context-padding-vertical-small: calc(var(--spacing-grid-size) * 1.5);
  --cmp-context-padding-horizontal-small: calc(var(--spacing-grid-size) * 3);
  --cmp-context-padding-medium: calc(var(--spacing-grid-size) * 4);
  --cmp-context-padding-large: calc(var(--spacing-grid-size) * 6);
  --cmp-context-menu-item-padding-vertical: calc(var(--spacing-grid-size) * 3);
  --cmp-context-menu-item-padding-vertical-small: calc(var(--spacing-grid-size) * 1.5);
}

.ax-context {
  position: relative;
  border-radius: var(--component-border-radius);
  box-shadow: var(--drop-shadow-theme-border), var(--drop-shadow-theme-elevation--x2);
}

.ax-context__content {
  position: relative;
  border-radius: var(--component-border-radius);
  background-color: var(--color-theme-background);
  color: var(--color-theme-text);
  overflow-y: auto;
  scroll-behavior: smooth;
}

.ax-context-content {
  position: relative;
  overflow: hidden;

  @nest .ax-context--success & {
    background-color: var(--color-ui-success);
    color: var(--color-ui-white-noise);
  }

  @nest .ax-context--warning & {
    background-color: var(--color-ui-warning);
    color: var(--color-ui-carbon);
  }

  @nest .ax-context--error & {
    background-color: var(--color-ui-error);
    color: var(--color-ui-white-noise);
  }

  @nest .ax-context--info & {
    background-color: var(--color-ui-info);
    color: var(--color-ui-white-noise);
  }

  @nest .ax-context--carbon & {
    background-color: var(--color-ui-carbon);
    color: var(--color-ui-white-noise);
  }

  @nest .ax-context--white & {
    background-color: var(--color-ui-white);
    color: var(--color-ui-carbon);
  }
}

.ax-context-content--padding-horizontal-tiny {
  padding-right: var(--cmp-context-padding-horizontal-tiny);
  padding-left: var(--cmp-context-padding-horizontal-tiny);
}

.ax-context-content--padding-horizontal-small {
  padding-right: var(--cmp-context-padding-horizontal-small);
  padding-left: var(--cmp-context-padding-horizontal-small);
}

.ax-context-content--padding-horizontal-medium {
  padding-right: var(--cmp-context-padding-medium);
  padding-left: var(--cmp-context-padding-medium);
}

.ax-context-content--padding-horizontal-large {
  padding-right: var(--cmp-context-padding-large);
  padding-left: var(--cmp-context-padding-large);
}

.ax-context-content--padding-vertical-tiny {
  padding-top: var(--cmp-context-padding-vertical-tiny);
  padding-bottom: var(--cmp-context-padding-vertical-tiny);
}

.ax-context-content--padding-vertical-small {
  padding-top: var(--cmp-context-padding-vertical-small);
  padding-bottom: var(--cmp-context-padding-vertical-small);
}

.ax-context-content--padding-vertical-medium {
  padding-top: var(--cmp-context-padding-medium);
  padding-bottom: var(--cmp-context-padding-medium);
}

.ax-context-content--padding-vertical-large {
  padding-top: var(--cmp-context-padding-large);
  padding-bottom: var(--cmp-context-padding-large);
}

.ax-context-content + .ax-context-content::before {
  content: '';
  position: absolute;
  top: 0;
  border-top: var(--component-border-width) solid var(--color-theme-border);
}

.ax-context-content--padding-horizontal-medium::before {
  right: var(--cmp-context-padding-medium);
  left: var(--cmp-context-padding-medium);
}

.ax-context-content--padding-horizontal-none::before,
.ax-context-content--padding-horizontal-large::before {
  right: var(--cmp-context-padding-large);
  left: var(--cmp-context-padding-large);
}

.ax-context-content--full-separator::before {
  right: 0;
  left: 0;
}

.ax-context-content--scrollable .ax-context-content__scroll {
  overflow-y: auto;
}

.ax-context-menu {
  height: 100%;
}

.ax-context-menu--padding-vertical-none {
  padding-top: 0;
  padding-bottom: 0;
}

.ax-context-menu--padding-vertical-medium {
  padding-top: var(--cmp-context-tip-space);
  padding-bottom: var(--cmp-context-tip-space);
}

.ax-context-menu__item {
  display: flex;
  align-items: center;
  width: 100%;
  outline: 0;
  border: 0;
  background-color: var(--color-theme-background);
  color: var(--color-theme-text);
  text-align: left;
  transition-property: background-color, color;
  transition-duration: var(--transition-time-base);
  transition-timing-function: var(--transition-function);
}

.ax-context-menu__item--padding-vertical-medium {
  padding: var(--cmp-context-menu-item-padding-vertical) var(--cmp-context-padding-large);
}

.ax-context-menu__item--padding-vertical-small {
  padding: var(--cmp-context-menu-item-padding-vertical-small) var(--cmp-context-padding-large);
}

.ax-context-menu__item:focus {
  outline: 0;
  background-color: var(--color-ui-accent--hover);
  color: var(--color-ui-white-noise);
  cursor: pointer;
}

.ax-context-menu__item:disabled {
  background-color: transparent;
  color: var(--color-theme-text--disabled);
  cursor: default;
}

.ax-context-menu__item-content {
  flex: 1 1 auto;
  overflow: hidden;
}

.ax-context-menu__item-checkbox {
  flex: 0 0 auto;
  margin-right: var(--spacing-grid-size--x2);
}

.ax-context-menu__item-icon {
  flex: 0 0 auto;
  margin-left: var(--spacing-grid-size--x2);
}

.ax-context-menu .ax-context-menu{
  padding: 0;

  & .ax-context-menu__item {
    padding-left: calc(var(--spacing-grid-size) * 12);
  }
}
