.ax-panels {
  display: flex;

  & > .ax-panel {
    flex: 1 1 0%;

    &:not(:first-child) {
      border-left: var(--component-border-width) solid var(--color-ui-light--dark);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
