:root {
  --cmp-panel-padding-vertical: calc(var(--spacing-grid-size) * 3);
  --cmp-panel-padding-horizontal: calc(var(--spacing-grid-size) * 4);
}

.ax-panel {
  display: flex;
  flex-direction: column;
  border-radius: var(--component-border-radius-large);
  background-color: var(--color-ui-white-noise--dark);
  color: var(--color-context-text);
}

.ax-panel--inactive {
  background-color: var(--color-ui-white-noise);
}

.ax-panel__header,
.ax-panel__body {
  padding: var(--cmp-panel-padding-vertical) var(--cmp-panel-padding-horizontal);
}

.ax-panel__body {
  position: relative;
  flex: 1 1 auto;
  border-top: var(--component-border-width) solid var(--color-ui-white-noise--darker);
}

.ax-panel__body--vertical-start,
.ax-panel__body--vertical-middle,
.ax-panel__body--vertical-end,
.ax-panel__body--vertical-around,
.ax-panel__body--vertical-between,
.ax-panel__body--horizontal-start,
.ax-panel__body--horizontal-middle,
.ax-panel__body--horizontal-end {
  display: flex;
  flex-direction: column;
}

.ax-panel__body--vertical-start { justify-content: flex-start; }
.ax-panel__body--vertical-middle { justify-content: center; }
.ax-panel__body--vertical-end { justify-content: flex-end; }
.ax-panel__body--vertical-around { justify-content: space-around; }
.ax-panel__body--vertical-between { justify-content: space-between; }
.ax-panel__body--horizontal-start { align-items: flex-start; }
.ax-panel__body--horizontal-middle { align-items: center; }
.ax-panel__body--horizontal-end { align-items: flex-end; }
