.si-documentation {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.si-documentation__header {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 3.75rem;
  padding: 0 var(--page-padding-horizontal);
  box-shadow: var(--drop-shadow-theme-elevation--x2);
  background-color: var(--color-theme-background);
  overflow: hidden;
}

.si-documentation__body {
  flex: 1 0 auto;
  padding: var(--page-padding-vertical) 0;
}

.si-documentation__footer {
  padding: var(--page-padding-vertical) var(--page-padding-horizontal);
  background-color: var(--color-theme-main--darker);
}
