.ax-horizontal-rule {
  width: 100%;
  border-width: var(--component-border-width-small) 0 0 0;
  border-color: var(--color-theme-border);
}

.ax-horizontal-rule--solid {
  border-style: solid;
}

.ax-horizontal-rule--dotted {
  border-style: dotted;
}
