//
@function _buildTransition($properties, $speed, $delay) {
  $transitions: ();

  @each $property in $properties {
    $transitions: append($transitions, $property $speed $transition-func $delay, comma);
  }

  @return $transitions;
}

//
@mixin transition($properties, $speed: $transition-time-base, $delay: 0ms) {
  transition: _buildTransition($properties, $speed, $delay);
}
