///
$_breakpoint: false;

@mixin for-each-breakpoint() {
  @each $breakpoint in $breakpoints {
    $_breakpoint: $breakpoint !global;
    @content;
  }

  $_breakpoint: false !global;
}

@function breakpoint-prop($prop, $breakpoint: $_breakpoint) {
  @if (map-has-key($breakpoint, $prop)) {
    @return map-get($breakpoint, $prop);
  } @else {
    @warn "Breakpoint property `#{$prop}` does not exists";
  }
}

/// Screen less than
/// @param {Number} $max - Breakpoint
@mixin screen-less-than($max: breakpoint-prop(width)) {
  @media (max-width: $max - 1px) {
    @content;
  }
}


/// Screen more than
/// @param {Number} $min - Breakpoint
@mixin screen-more-than($min: breakpoint-prop(width)) {
  @media (min-width: $min) {
    @content;
  }
}

///
@function breakpoint-first() {
  @return nth($breakpoints, 1);
}

///
@function breakpoint-last() {
  @return nth($breakpoints, length($breakpoints));
}
