.ax-platform__canvas {
  min-height: 100vh;
  margin-left: var(--cmp-platform-dock-size);
  transition-property: transform;
  transition-duration: var(--transition-time-slow);
  transition-timing-function: var(--transition-function);
}

.ax-platform__canvas--no-dock {
    margin-left: initial;
}
