@import '../../design-patterns/animations/vars';
@import '../../design-patterns/animations/mixins';
@import '../../design-patterns/spacing/vars';
@import './vars';

.ax-platform__canvas {
  @include transition((transform), $transition-time-slow);

  flex: 1 1 auto;
  margin-left: $platform-dock-size;
  overflow: auto;
}
