@import '../../design-patterns/animations/vars';
@import '../../design-patterns/animations/mixins';
@import '../../design-patterns/colors/vars';
@import '../../design-patterns/spacing/vars';
@import '../vars';
@import './vars';

.ax-platform__console {
  @include transition((transform), $transition-time-slow);

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  border-right: 0.0625rem solid $color-ui-light-0;
  background-color: $color-ui-light-1;
  z-index: $z-index-platform - 1;
}

.ax-platform__console--visible {
  transform: translateX($platform-dock-size);
}
