.ax-platform__console {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  border-right: var(--component-border-width) solid var(--color-context-border);
  background-color: var(--color-context-background-active);
  color: var(--color-content-text);
  overflow: auto;
  z-index: calc(var(--z-index-platform) - 1);
  transition-property: transform;
  transition-duration: var(--transition-time-slow);
  transition-timing-function: var(--transition-function);
}

.ax-platform__console--visible {
  transform: translateX(var(--cmp-platform-dock-size));
}
