.ax-platform__console {
  position: fixed;
  top: 0;
  bottom: 0;
  border-right: var(--component-border-width) solid var(--color-context-border);
  background-color: var(--color-context-background-active);
  color: var(--color-context-text);
  overflow: auto;
  transition-property: transform;
  transition-duration: var(--transition-time-slow);
  transition-timing-function: var(--transition-function);
}

.ax-platform__console--right {
  right: 0;
  transform: translateX(100%);
  z-index: calc(var(--z-index-platform) + 1);
}

.ax-platform__console--left {
  left: 0;
  transform: translateX(-100%);
  z-index: calc(var(--z-index-platform) - 1);
}

.ax-platform__console--visible-left {
  transform: translateX(var(--cmp-platform-dock-size));
}

.ax-platform__console--visible-right {
  transform: translateX(0%);
}

.ax-platform__console--visible-without-dock {
  transform: none;
}
