.ax-platform__dock-icon-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--color-ui-white-noise);
  transition-property: background-color, color;
  transition-duration: var(--transition-time-base);
  transition-timing-function: var(--transition-function);

  &:hover {
    color: var(--color-ui-accent--hover);
  }

  &:active {
    color: var(--color-ui-accent);
  }
}

.ax-platform__dock-icon-link--active,
.ax-platform__dock-icon-link--active:hover {
  background-color: var(--color-ui-accent);
  color: var(--color-ui-white-noise);
}
