@import '../../design-patterns/animations/mixins';
@import '../../design-patterns/colors/vars';
@import './vars';

.ax-platform__dock-item {
  @include transition((background-color, color));

  display: flex;
  flex-direction: column;
  width: $platform-dock-size;
  height: $platform-dock-size;
  color: $color-ui-light-1;

  &:hover {
    color: $color-ui-primary-2;
  }

  &:active {
    color: $color-ui-primary-1;
  }
}

.ax-platform__dock-item--active,
.ax-platform__dock-item--active:hover {
  background-color: $color-ui-primary-1;
  color: $color-ui-light-1;
}

.ax-platform__dock-item-link {
  display: flex;
  flex: 1 0 0%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
