.ax-platform__dock-item {
  display: flex;
  flex-direction: column;
  width: var(--cmp-platform-dock-size);
  height: var(--cmp-platform-dock-size);
}

.ax-platform__dock-item-wrapper {
  display: flex;
  flex: 1 0 0%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
