.ax-platform__dock {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: var(--color-ui-dark--light);
  list-style: none;
  z-index: var(--z-index-platform);
}

.ax-platform__dock-list-header,
.ax-platform__dock-list-footer {
  margin: 0;
  padding: 0;
}

.ax-platform__dock-list-footer {
  margin-top: auto;
}
