.ax-alert-icon {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  line-height: 0;
}

.ax-alert-icon--small {
  width: var(--component-round-size-small);
  height: var(--component-round-size-small);
}

.ax-alert-icon--medium {
  width: var(--component-round-size-medium);
  height: var(--component-round-size-medium);
}

.ax-alert-icon--large {
  width: var(--component-round-size-large);
  height: var(--component-round-size-large);
}

.ax-alert-icon--primary {
  color: var(--color-ui-white-noise);

  &.ax-alert-icon--success { background-color: var(--color-ui-success); }
  &.ax-alert-icon--warning { background-color: var(--color-ui-warning); }
  &.ax-alert-icon--error { background-color: var(--color-ui-error); }
  &.ax-alert-icon--info { background-color: var(--color-ui-info); }
}

.ax-alert-icon--secondary {
  background-color: var(--color-theme-background--active);

  &.ax-alert-icon--success { color: var(--color-ui-success); }
  &.ax-alert-icon--warning { color: var(--color-ui-warning); }
  &.ax-alert-icon--error { color: var(--color-ui-error); }
  &.ax-alert-icon--info { color: var(--color-ui-info); }
}

.ax-alert-icon--subtle {
  background-color: var(--color-theme-text--disabled);
  color: var(--color-ui-white-noise);
}
