@import '../../materials/typography';

.ax-chart-heading {
  font-size: 0.625rem;
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-loose);
  text-transform: uppercase;
  line-height: 1rem;

  &.ax-text--strong,
  & .ax-text--strong {
    font-weight: var(--font-weight-bold);
  }
}
