@import '../materials/sizing';
@import '../materials/typography';

/**
 *  [1] Needed to normalise bar widths. However
 *      this is not in relation to anything so
 *      will need adjusting if text widths change :sob:
 */

:root {
  --cmp-chart-label-margin: calc(var(--spacing-grid-size) * 2);
  --cmp-chart-label-line-height: var(--line-height-body);  /* [1] */
  --cmp-chart-label-width: calc(2rem + var(--cmp-chart-label-margin));  /* [1] */
  --cmp-chart-label-height: calc(var(--cmp-chart-label-line-height) + var(--cmp-chart-label-margin));

  --cmp-dot-plot-diameter: 0.8125rem;
  --cmp-dot-plot-radius: calc(var(--cmp-dot-plot-diameter) / 2);

  --cmp-benchmark-line-width: 0.0625rem;
  --cmp-benchmark-line-height: var(--cmp-dot-plot-diameter);

  --cmp-chart-overflow-space: calc(var(--cmp-chart-label-width) + var(--cmp-dot-plot-radius));
}
