@import "~axiom/sass/core/mixins";
@import "~axiom/sass/components/_mixins/scheme";

//
.dm-demo-box {
  display: flex;
  padding: $component-padding-v-base $component-padding-h-base;
  min-height: 50px;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: $component-border-width-base solid transparent;
  font-size: $font-size-sm;
  text-transform: uppercase;

  @include for-each-scheme {
    $primary-color: scheme-prop(primary);
    border-color: get-color($primary-color, 100);
    background-color: get-color($primary-color, 50);
    color: scheme-text-color(get-color($primary-color, 50));
  }
}

.dm-demo-box--attention {
  @include for-each-scheme {
    $primary-color: scheme-prop(primary);
    border-color: get-color($primary-color, 500);
    background-color: get-color($primary-color, 300);
    color: scheme-text-color(get-color($primary-color, 300));
  }
}

.dm-demo-container {
  min-height: 180px;
}
