.ax-bar-chart__bars {
  position: relative;
}

.ax-bar-chart__bars--x1 { padding: var(--spacing-grid-size--x1) 0; }
.ax-bar-chart__bars--x2 { padding: var(--spacing-grid-size--x2) 0; }
.ax-bar-chart__bars--x3 { padding: var(--spacing-grid-size--x3) 0; }

.ax-bar-chart__benchmark-line-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding-right: var(--cmp-chart-overflow-space);
  transition: opacity var(--transition-time-base) var(--transition-function);
  pointer-events: none;
}

.ax-bar-chart__benchmark-line {
  position: relative;
  height: 100%;
}

.ax-bar-chart__benchmark-line--faded {
  opacity: var(--cmp-chart-opacity-faded);
}

.ax-bar-chart__benchmark-line-path {
  position: absolute;
  top: 0;
  bottom: 0;
  border-right: var(--cmp-benchmark-line-width) solid var(--color-theme-text--subtle);
}
