@import '../typography/vars';

.ax-chart-heading {
  font-size: 0.625rem;
  font-weight: $font-weight-regular;
  letter-spacing: 0.00125rem;
  line-height: 1rem;
  text-transform: uppercase;

  &.ax-text--strong,
  .ax-text--strong {
    font-weight: $font-weight-bold;
  }
}
