@import '../../materials/breakpoints';

.ax-badge {
  display: inline-flex;
  position: relative;
  justify-content: flex-end;
  padding: 0 calc(var(--component-line-height) / 2);
  border-radius: var(--component-line-height);
  color: var(--color-context-text);
  font-size: var(--font-size-small);
  line-height: var(--component-line-height);
  white-space: nowrap;
  vertical-align: middle;
  overflow: hidden;
}

.ax-badge__content {
  position: relative;
}

.ax-badge__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ax-badge--faded .ax-badge__background { background-color: var(--color-context-text); }
.ax-badge--highlight .ax-badge__background { background-color: var(--color-ui-highlight); }
.ax-badge--success .ax-badge__background { background-color: var(--color-ui-success); }
.ax-badge--error .ax-badge__background { background-color: var(--color-ui-error); }
.ax-badge--rose .ax-badge__background { background-color: var(--color-brand-rose); }
.ax-badge--pink .ax-badge__background { background-color: var(--color-brand-pink); }
.ax-badge--purple .ax-badge__background { background-color: var(--color-brand-purple); }
.ax-badge--lilac .ax-badge__background { background-color: var(--color-brand-lilac); }
.ax-badge--blue .ax-badge__background { background-color: var(--color-brand-blue); }
.ax-badge--teal .ax-badge__background { background-color: var(--color-brand-teal); }
.ax-badge--green .ax-badge__background { background-color: var(--color-brand-green); }
.ax-badge--chartreuse .ax-badge__background { background-color: var(--color-brand-chartreuse); }
.ax-badge--amber .ax-badge__background { background-color: var(--color-brand-amber); }
.ax-badge--orange .ax-badge__background { background-color: var(--color-brand-orange); }
.ax-badge--brown .ax-badge__background { background-color: var(--color-brand-brown); }
.ax-badge--grey .ax-badge__background { background-color: var(--color-brand-grey); }

.ax-badge--full {
  width: 100%;
}

@media (--screen-less-than-small) {
  .ax-badge--full--small { width: 100%; }
}

@media (--screen-less-than-medium) {
  .ax-badge--full--medium { width: 100%; }
}

@media (--screen-less-than-large) {
  .ax-badge--full--large { width: 100%; }
}
