@import '../../design-patterns/spacing/vars';

$badge-spacing: $spacing-grid-size * 2;

.ax-badge-group {
  margin-bottom: -$badge-spacing;

  > .ax-badge {
    margin-right: $badge-spacing;
    margin-bottom: $badge-spacing;
  }
}
