{
  "plugins": [
    "./scripts/babel-plugin-inline-svg-import.js",
  ],
  "env": {
    "development": {
      "presets": [
        "es2015",
        "stage-2",
        "react",
        "react-hmre",
      ]
    },
    "production": {
      "presets": [
        "es2015",
        "stage-2",
        "react",
      ]
    },
    "production-esm": {
      "presets": [
        ["es2015", {"modules": false}],
        "stage-2",
        "react",
      ]
    }
  }
}
