{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react"],
  "env": {
    "amd": true,
    "node": true,
    "mocha": true,
    "jest": true,
  },
  "globals": {
    "__PACKAGE_NAME__": true,
    "__VERSION__": true,
    "__OUTPUT_DIR__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__PRODUCTION__": true,
    "__DEVELOPMENT__": true,
    "__INCLUDE_CSS__": true,
    "document": true,
    "window": true,
    "Promise": true,
  },
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "func-style": [2, "declaration"],
    "indent": [2, 2, {"SwitchCase": 0}],
    "keyword-spacing": [2],
    "jsx-quotes": [2, "prefer-double"],
    "no-case-declarations": [0],
    "no-trailing-spaces": [2],
    "no-var": [2],
    "object-curly-spacing": [2, "always"],
    "prefer-const": [2],
    "quotes": [2, "single"],
    "react/no-danger": [0],
    "react/prop-types": [2, { "ignore": ["className"] }],
    "react/sort-prop-types": [2, {"callbacksLast": true}],
    "react/jsx-boolean-value": [2, "always"],
    "react/jsx-closing-bracket-location": [2, "after-props"],
    "react/jsx-curly-spacing": [2, "always"],
    "react/jsx-indent": [2, 2],
    "react/jsx-indent-props": [2, 4],
    "react/jsx-max-props-per-line": [2, { "maximum": 5 }],
    "react/jsx-no-duplicate-props": [2],
    "react/jsx-pascal-case": [2],
    "react/jsx-sort-props": [2],
    "react/jsx-uses-react": [2],
    "semi": [2, "always"],
  }
}
