{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react"],
  "env": {
    "amd": true,
    "node": true,
    "mocha": true,
  },
  "globals": {
    "__PACKAGE_NAME__": true,
    "__VERSION__": true,
    "__OUTPUT_DIR__": true,
    "__OUTPUT_FOLDER_COMMON__": true,
    "__OUTPUT_FOLDER_REACT__": true,
    "__OTUPUT_FOLDER_SASS__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__PRODUCTION__": true,
    "__DEVELOPMENT__": true,
    "document": true,
    "window": true,
    "Promise": true,
  },
  "rules": {
    "comma-dangle": [1, "always-multiline"],
    "indent": ["error", 2, {"SwitchCase": 0}],
    "object-curly-spacing": [1, "always"],
    "react/no-danger": [0],
    "react/prop-types": [2, { "ignore": ["className"] }],
    "react/sort-prop-types": [1, {"callbacksLast": true}],
    "react/jsx-boolean-value": [1, "always"],
    "react/jsx-closing-bracket-location": [1, "after-props"],
    "react/jsx-curly-spacing": [1, "always"],
    "react/jsx-indent": [1, 2],
    "react/jsx-indent-props": [1, 4],
    "react/jsx-max-props-per-line": [1, { "maximum": 5 }],
    "react/jsx-no-duplicate-props": [1],
    "react/jsx-pascal-case": [1],
    "react/jsx-sort-props": [1],
    "react/jsx-uses-react": [1],
  }
}
