@import '../../design-patterns/spacing/vars';
@import '../typography/vars';

$button-border-width: 1px;
$button-border-radius: 3px;

$button-small-vertical-padding: $component-padding-sm - $button-border-width;
$button-medium-vertical-padding: $component-padding-md - $button-border-width;
$button-large-vertical-padding: $component-padding-lg - $button-border-width;

$button-small-horizontal-padding: $component-padding-lg;
$button-medium-horizontal-padding: $component-padding-lg;
$button-large-horizontal-padding: $component-padding-xl;

$button-small-font-size: $font-size-small;
$button-medium-font-size: $font-size-small;
$button-large-font-size: $font-size-heading-large;
