@import '../../design-patterns/spacing/vars';

.ax-button__icon {
  display: inline-flex;
  margin: 0 $spacing-grid-size;
}

.ax-button__icon--start { margin-left: 0; }
.ax-button__icon--end   { margin-right: 0; }
