@import '../../design-patterns/animations/mixins';
@import '../../design-patterns/colors/vars';
@import '../../design-patterns/layout/mixins';
@import '../../design-patterns/spacing/vars';
@import '../../design-patterns/spacing/mixins';
@import '../typography/vars';
@import '../vars';

// Button: Core
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: none;
  text-transform: inherit;
  cursor: pointer;

  &:hover {
    cursor: pointer;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    cursor: default;
  }
}

.ax-button {
  @include transition((background-color, border-color, color));

  display: inline-flex;
  align-items: center;
  border-width: $component-border-width;
  border-style: solid;
  border-radius: $component-border-radius;
  border-color: transparent;
  background-color: transparent;
  font-weight: $font-weight-bold;
  letter-spacing: 0.001875rem;
  line-height: $component-line-height;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
}


// Button: Full width
@mixin button-full-width {
  @include space-block();

  display: block;
  width: 100%;
}

.ax-button--full {
  @include button-full-width;
}

@include for-each-breakpoint {
  @include screen-less-than {
    .ax-button--full--#{breakpoint-prop(id)} {
      @include button-full-width;
    }
  }
}


// Button: Coloured
.ax-button--primary {
  border-color: transparent;
  background-color: $color-ui-primary-1;
  color: $color-ui-light-2;

  &:hover  { background-color: $color-ui-primary-2; }
  &:active { background-color: $color-ui-primary-0; }

  &:disabled {
    background-color: var(--color-context-background-disabled);
    color: var(--color-context-text-disabled);
  }
}


.ax-button--secondary {
  border-color: var(--color-context-border);
  color: $color-ui-primary-1;

  &:hover  {
    border-color: transparent;
    background-color: var(--color-context-border);
    color: $color-ui-primary-2;
  }

  &:active {
    border-color: transparent;
    background-color: $color-ui-primary-0;
    color: $color-ui-light-2;
  }

  &:disabled {
    border-color: var(--color-context-border);
    background-color: transparent;
    color: var(--color-context-text-disabled);
  }
}

.ax-button--tertiary {
  color: $color-ui-primary-1;

  &:hover {
    background-color: var(--color-context-border);
    color: $color-ui-primary-2;
  }

  &:active {
    color: $color-ui-primary-0;
  }

  &:disabled {
    background-color: transparent;
    color: var(--color-context-text-disabled);
  }
}


// Button: sizes
.ax-button--small {
  padding: $component-padding-vertical-small $component-padding-horizontal-small;
  font-size: $font-size-small;
}

.ax-button--medium {
  padding: $component-padding-vertical-medium $component-padding-horizontal-medium;
  font-size: $font-size-small;
}

.ax-button--large {
  padding: $component-padding-vertical-large $component-padding-horizontal-large;
  font-size: $font-size-large;
}
