@import '../../design-patterns/spacing/vars';
@import '../../design-patterns/spacing/mixins';
@import '../containers/mixins';

// Button Group: Base
.ax-button__group {
  @include space-block($container-padding-sm);
  @include inline-component-container(ax-button);
}
