@import '../../design-patterns/animations/mixins';
@import '../../design-patterns/animations/vars';
@import '../../design-patterns/colors/vars';
@import '../../design-patterns/layout/mixins';
@import '../../design-patterns/spacing/vars';
@import '../../design-patterns/spacing/mixins';
@import '../typography/vars';

// Button: Core
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: none;
  line-height: inherit;
  cursor: pointer;
}

.ax-button {
  @include space-inline();
  @include transition((background-color, border-color, color), $transition-time-fast);

  display: inline-block;
  position: relative;
  border-width: $component-border-width;
  border-style: solid;
  border-radius: $component-border-radius;
  border-color: transparent;
  background-color: transparent;
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-small;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;

  &:hover {
    cursor: pointer;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    cursor: default;
  }
}


// Button: Full width
@mixin button-full-width {
  @include space-block();

  display: block;
  width: 100%;
}

.ax-button--full {
  @include button-full-width;
}

@include for-each-breakpoint {
  @include screen-less-than {
    .ax-button--full--#{breakpoint-prop(id)} {
      @include button-full-width;
    }
  }
}


// Button: Coloured
.ax-button--primary {
  border-color: transparent;
  background-color: $color-ui-primary-1;
  color: $color-ui-light-1;

  &:hover  { background-color: $color-ui-primary-2; }
  &:active { background-color: $color-ui-primary-0; }

  &[disabled] {
    background-color: $color-context-disabled-background;
    color: $color-context-disabled-text;
  }
}


.ax-button--secondary {
  border-color: $color-context-component-border;
  color: $color-ui-primary-1;

  &:hover  {
    border-color: $color-ui-primary-2;
    color: $color-ui-primary-2;
  }

  &:active {
    border-color: transparent;
    background-color: $color-ui-primary-0;
    color: $color-ui-light-1;
  }

  &[disabled] {
    border-color: $color-context-component-border;
    color: $color-context-disabled-text;
  }
}

.ax-button--tertiary {
  color: $color-ui-primary-1;

  &:hover     { color: $color-ui-primary-2; }
  &:active    { color: $color-ui-primary-0; }
  &[disabled] { color: $color-context-disabled-text; }
}

// Button: sizes
.ax-button--small {
  padding: $component-padding-sm $component-padding-lg;
  font-size: $font-size-small;
}

.ax-button--large {
  padding: $component-padding-lg;
}

// Button: Icon
.ax-button__icon {
  margin-right: $component-margin-sm;
}
