@import '../../design-patterns/spacing/vars';

$button-spacing: $spacing-grid-size * 2;

.ax-button-group:not(.ax-button-group--joined) {
  margin-bottom: -$button-spacing;

  > .ax-button {
    margin-right: $button-spacing;
    margin-bottom: $button-spacing;
  }
}
