@import '../../design-patterns/spacing/vars';

$button-spacing: $spacing-grid-size * 2;

.ax-button__group:not(.ax-button__group--joined) {
  margin-bottom: -$button-spacing;
  margin-left: -$button-spacing;

  > .ax-button {
    margin-bottom: $button-spacing;
    margin-left: $button-spacing;
  }
}
