@import '../../materials/sizing';

:root {
  --cmp-button-spacing: calc(var(--spacing-grid-size) * 2);
}

.ax-button-group__container {
  overflow: hidden;
}

.ax-button-group:not(.ax-button-group--joined) {
  margin-bottom: calc(var(--cmp-button-spacing) * -1);

  & > .ax-button {
    margin-right: var(--cmp-button-spacing);
    margin-bottom: var(--cmp-button-spacing);
  }
}
