@import '../../design-patterns/animations/mixins';
@import '../../design-patterns/animations/_vars.js';
@import '../../design-patterns/colors/mixins';
@import '../../design-patterns/layout/mixins';
@import '../../design-patterns/spacing/_vars.js';
@import '../../design-patterns/spacing/mixins';
@import '../typography/_vars.js';
@import '../button/_vars.js';

// Button: Core
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: none;
}

.ax-button {
  @include space-inline($component-margin-h-sm);
  @include transition((background-color, border-color, color), $transition-time-fast);

  display: inline-block;
  position: relative;
  border-width: $button-border-width;
  border-style: solid;
  border-radius: $button-border-radius;
  border-color: transparent;
  background-color: transparent;
  font-weight: $font-weight-strong;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;

  &:hover {
    cursor: pointer;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    cursor: default;
  }
}


// Button: sizes
@each $button-size in $button-sizes {
  .ax-button--#{map-get($button-size, id)} {
    padding: map-get($button-size, padding-v) map-get($button-size, padding-h);
    font-size: map-get($button-size, font-size);
  }
}


// Button: Full width
@mixin button-full-width {
  @include space-block($component-margin-v-sm);

  display: block;
  width: 100%;
}

.ax-button--full {
  @include button-full-width;
}

@include for-each-breakpoint {
  @include screen-less-than {
    .ax-button--full--#{breakpoint-prop(id)} {
      @include button-full-width;
    }
  }
}


// Button: Coloured
@mixin button-color-filled($color) {
  border-color: get-color($color, 500);
  background-color: get-color($color, 400);
  color: get-text-color(get-color($color, 400));

  &:hover {
    border-color: get-color($color, 600);
    background-color: get-color($color, 500);
    color: get-text-color(get-color($color, 500));
  }

  &:active,
  &.active {
    border-color: get-color($color, 700);
    background-color: get-color($color, 600);
    color: get-text-color(get-color($color, 600));
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    border-color: get-color($color, 100);
    background-color: get-color($color, 50);
    color: get-color($color, 100);
  }
}

@mixin button-color-outlined($color) {
  border-color: get-color($color, 500);
  color: get-color($color, 500);

  &:hover {
    border-color: get-color($color, 600);
    color: get-color($color, 600);
  }

  &:active,
  &.active {
    border-color: get-color($color, 700);
    background-color: get-color($color, 600);
    color: get-text-color(get-color($color, 600));
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    border-color: get-color($color, 100);
    color: get-color($color, 100);
  }
}

@include for-each-color {
  .ax-button--#{color-prop(name)} {
    &:not(.ax-button--outlined) {
      @include button-color-filled(color-prop(color));
    }

    &.ax-button--outlined {
      @include button-color-outlined(color-prop(color));
    }
  }
}

.ax-button--primary {
  &:not(.ax-button--outlined) {
    @include button-color-filled($color-accent);
  }

  &.ax-button--outlined {
    @include button-color-outlined($color-accent);
  }
}


// Button: Circular
.ax-button--circular {
  padding: 0;
  border-radius: 50%;

  @each $button-size in $button-sizes {
    &.ax-button--#{map-get($button-size, id)} {
      width: $line-height + (map-get($button-size, padding-v) * 2);
      height: $line-height + (map-get($button-size, padding-v) * 2);
    }
  }
}


// Button: Icon
.ax-button__icon {
  margin-right: $component-margin-h-sm;
}
