@import '../../materials/animations';
@import '../../materials/colors';
@import '../../materials/typography';
@import '../vars';

:root {
  --cmp-dot-plot-difference-line-width: 0.0625rem;
}

.ax-dot-plot {
  display: block;
  position: relative;
  width: calc(100% - var(--cmp-chart-overflow-space));
  height: var(--cmp-dot-plot-diameter);
  margin-left: calc(var(--cmp-dot-plot-radius) * -1);
}

.ax-dot-plot__dots {
  display: flex;
  position: absolute;
  align-items: center;
  transition-property: opacity;
  transition-duration: var(--transition-time-base);
  transition-timing-function: var(--transition-function);
}

.ax-dot-plot__value {
  display: flex;
  position: absolute;
  top: 50%;
  margin-left: var(--cmp-chart-label-margin);
  transform: translate(var(--cmp-dot-plot-diameter), -50%);
  line-height: var(--cmp-dot-plot-diameter);
  transition-property: opacity;
  transition-duration: var(--transition-time-base);
  transition-timing-function: var(--transition-function);
  pointer-events: none;
}

.ax-dot-plot__benchmark-line-container,
.ax-dot-plot__difference-line-container {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.ax-dot-plot__benchmark-line-container  {
  top: 50%;
}

.ax-dot-plot__benchmark-line,
.ax-dot-plot__difference-line {
  position: relative;
  transition-property: opacity;
  transition-duration: var(--transition-time-base);
  transition-timing-function: var(--transition-function);
}

.ax-dot-plot__benchmark-line-path {
  position: absolute;
  top: 50%;
  height: var(--cmp-benchmark-line-height);
  transform: translate(0, -50%);
  border-right: var(--cmp-benchmark-line-width) solid var(--color-context-text-disabled);
}

.ax-dot-plot__difference-line-path {
  position: absolute;
  top: 50%;
  border-top: var(--cmp-dot-plot-difference-line-width) solid var(--color-context-text-disabled);
}

.ax-dot-plot__difference-line-container--dot .ax-dot-plot__difference-line-path {
  margin-left: var(--cmp-dot-plot-diameter);
}

.ax-dot-plot__dots--hidden,
.ax-dot-plot__difference-line--hidden,
.ax-dot-plot__value--hidden {
  opacity: 0;
}

.ax-dot-plot__benchmark-line--faded,
.ax-dot-plot__difference-line--faded,
.ax-dot-plot__dots--faded {
  opacity: 0.25;
}
