@import '../mixins';

@include for-each-breakpoint {
  .ax-hidden-until--#{breakpoint-prop(id)}  {
    @include screen-less-than {
      display: none !important;
    }
  }

  .ax-visible-until--#{breakpoint-prop(id)} {
    @include screen-more-than {
      display: none !important;
    }
  }
}

//
// .ax-space--left  { margin-left: $component-margin-h-base !important; }
// .ax-space--right { margin-right: $component-margin-h-base !important; }


//
.ax-block        { display: block; }
.ax-inline-block { display: inline-block; }


//
.ax-contain { position: relative; }
