@import '../mixins';

// sass-lint:disable no-important

@include for-each-breakpoint {
  .ax-util--hidden--#{breakpoint-prop(id)}  {
    @include screen-less-than {
      display: none !important;
    }
  }

  .ax-util--visible--#{breakpoint-prop(id)} {
    @include screen-more-than {
      display: none !important;
    }
  }
}

//
// .ax-util--space--left  { margin-left: $component-margin-h-base !important; }
// .ax-util--space--right { margin-right: $component-margin-h-base !important; }


//
.ax-util--block        { display: block; }
.ax-util--inline-block { display: inline-block; }


//
.ax-util--contain { position: relative; }

// sass-lint:enable no-important
