@import 'axiom-vars';

@import '~normalize.css/normalize.css';

@import '~bw-axiom/design-patterns/animations/animations';
@import '~bw-axiom/design-patterns/layout/layout';
@import '~bw-axiom/design-patterns/utilities/utilities';

@import '~bw-axiom/components/avatar/avatar';
@import '~bw-axiom/components/billboard/billboard';
@import '~bw-axiom/components/button/button';
@import '~bw-axiom/components/card/card';
@import '~bw-axiom/components/containers/containers';
@import '~bw-axiom/components/dialog/dialog';
@import '~bw-axiom/components/form/form';
@import '~bw-axiom/components/grid/grid';
@import '~bw-axiom/components/icon/icon';
@import '~bw-axiom/components/label/label';
@import '~bw-axiom/components/logo/logo';
@import '~bw-axiom/components/table/table';
@import '~bw-axiom/components/tabset/tabset';
@import '~bw-axiom/components/typography/typography';

@import '~style-guide/components/CodeSnippet/CodeSnippet';
@import '~style-guide/components/ColorSwatch/ColorSwatch';
@import '~style-guide/components/DemoBox/DemoBox';
@import '~style-guide/components/DocApi/DocApiPropType';
@import '~style-guide/components/Layout/Layout';
@import '~style-guide/components/Layout/LayoutContent';
@import '~style-guide/components/Layout/LayoutFooter';
@import '~style-guide/components/Layout/LayoutFullHeightContainer';
@import '~style-guide/components/Layout/LayoutHeader';
@import '~style-guide/components/Layout/LayoutMain';
@import '~style-guide/components/Layout/LayoutSidebar';
@import '~style-guide/components/Layout/LayoutSidebarContent';
@import '~style-guide/components/Layout/LayoutSidebarFooter';
@import '~style-guide/components/Layout/LayoutSidebarHeader';
@import '~style-guide/components/Navigation/Nav';
@import '~style-guide/components/Navigation/NavList';
@import '~style-guide/components/Navigation/NavListItem';

body {
  background-color: get-color($color-grey, 50);
  color: get-text-color(get-color($color-grey, 50));
}

body,
.dm-app-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 100%;
}
