@import '../../design-patterns/animations/mixins';
@import '../../design-patterns/colors/vars';
@import '../../design-patterns/spacing/vars';
@import '../typography/vars';
@import '../typography/mixins';

.ax-menu__item {
  display: inline-flex;
  margin: 0 $component-margin-lg 0 0;
  list-style: none;

  &:last-child {
    margin-right: 0;
  }
}

.ax-menu__item-button {
  @include transition((color, border-bottom-color));
  @include heading('headline');

  display: flex;
  flex: 0 1 auto;
  align-items: center;
  justify-content: center;
  padding: 0 0 $component-padding-md;
  border-bottom: 4px solid transparent;
  color: inherit;
  font-weight: $font-weight-medium;

  .ax-menu__item:hover & {
    border-bottom-color: $color-ui-primary-2;
    color: $color-ui-primary-2;
  }

  .ax-menu__item--active &,
  .ax-menu__item--active:hover & {
    border-bottom-color: $color-ui-primary-1;
    color: inherit;
  }

  .ax-menu__item--disabled &,
  .ax-menu__item--disabled:hover & {
    border-bottom-color: transparent;
    color: var(--color-context-text-disabled);
    cursor: default;
  }
}
