@import '../../design-patterns/animations/mixins';
@import '../../design-patterns/colors/vars';
@import '../../design-patterns/spacing/vars';
@import '../typography/vars';

.ax-menu__item {
  display: inline-flex;
  margin: 0 $component-margin-sm 0 0;
  list-style: none;

  &:last-child {
    margin-right: 0;
  }
}

.ax-menu__item-link {
  @include transition((border-bottom-color));

  display: flex;
  flex: 0 1 auto;
  align-items: center;
  justify-content: center;
  padding: $component-padding-sm;
  border-bottom: 4px solid transparent;
  font-size: $font-size-md;
  font-weight: $font-weight-bold;
  text-transform: uppercase;

  .ax-menu__item:hover & {
    border-bottom-color: $color-grey-0;
  }

  .ax-menu__item--active &,
  .ax-menu__item--active:hover & {
    border-bottom-color: $color-primary-1;
  }

  .ax-menu__item--disabled &,
  .ax-menu__item--disabled:hover & {
    border-bottom-color: transparent;
    color: $color-grey-2;
  }
}

