@import '../../design-patterns/spacing/mixins';
@import '../../design-patterns/spacing/vars';

.ax-menu {
  @include space-block($component-padding-lg);

  display: flex;
  padding: 0;
  white-space: nowrap;
  overflow: auto;
}
