@import '../../design-patterns/spacing/mixins';
@import '../../design-patterns/spacing/vars';

.ax-menu {
  display: flex;
  padding: 0;
  white-space: nowrap;
  overflow: auto;
}

.ax-menu--small {
  @include space-block($component-padding-sm);
}

.ax-menu--large {
  @include space-block($component-padding-lg);
}
