@import '../components/_mixins/scheme';

$_layout:  false;
@mixin for-layout($layout-name) {
  $_layout: $layout-name !global;
  @content;
  $_layout: false !global;
}

@function layout-prop($prop, $layout: $_layout) {
  $layout-props: scheme-prop($layout);

  @if (map-has-key($layout-props, $prop)) {
    @return map-get($layout-props, $prop);
  } @else {
    @error "Layout property `#{$prop}` does not exists";
    @return false;
  }
}
