@import '../core/mixins';
@import '../components/_mixins/scheme';
@import './_mixins';

@include forLayout(layout-emblem) {
  .ax-layout--emblem__body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  .ax-layout--emblem__container,
  .ax-layout--emblem {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .ax-layout--emblem__header {
    display: flex;
    flex-direction: column;
    min-height: $logo-vertical-height-sm;

    @include blockSpace($page-padding-v);
  }

  .ax-layout--emblem__nav-container {
    @include forEachScheme {
      background-color: layoutProp(header-background-color);
      color: schemeText(layoutProp(header-background-color));
    }
  }

  .ax-layout--emblem__nav {
    padding: $component-padding-v-base 0;
  }

  .ax-layout--emblem__title-container {
    display: flex;
    flex: 1;
    align-items: center;
    padding: $container-padding-v-sm 0;
  }


  .ax-layout--emblem__nav,
  .ax-layout--emblem__title {
    margin: 0 0 0 $logo-vertical-width-sm + $page-padding-h;
  }

  .ax-layout--emblem__main {
    flex: 1;
  }

  .ax-layout--emblem__footer {
    padding: $container-padding-v-base $container-padding-h-base;
    text-align: center;

    @include blockSpace($page-padding-v);
    @include forEachScheme {
      background-color: layoutProp(footer-background-color);
      color: schemeTextColor(layoutProp(footer-background-color));
    }
  }

  .ax-layout--emblem__logo {
    position: absolute;
    top: 0;
    width: $logo-vertical-width-sm;
    height: $logo-vertical-height-sm;

    @include forEachScheme {
      background-color: layoutProp(logo-background-color);
      color: schemeTextColor(layoutProp(logo-background-color));
    }
  }

  .ax-layout--emblem__content {
    margin: 0 auto;
    padding: 0 $page-padding-h;
    width: 100%;

    @include forEachBreakpoint {
      @include screenMoreThan {
        max-width: breakpointProp(width);
      }
    }
  }
}
