@import '../core/mixins';
@import '../components/_mixins/scheme';
@import './mixins';

@include for-layout(layout-emblem) {
  .ax-layout--emblem__body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  .ax-layout--emblem__container,
  .ax-layout--emblem {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .ax-layout--emblem__header {
    @include space-block($page-padding-v);

    display: flex;
    flex-direction: column;
    min-height: $logo-vertical-height-sm;
  }

  .ax-layout--emblem__nav-container {
    @include for-each-scheme {
      background-color: layout-prop(header-background-color);
      color: scheme-text-color(layout-prop(header-background-color));
    }
  }

  .ax-layout--emblem__nav {
    padding: $component-padding-v-base 0;
  }

  .ax-layout--emblem__title-container {
    display: flex;
    flex: 1;
    align-items: center;
    padding: $container-padding-v-sm 0;
  }


  .ax-layout--emblem__nav,
  .ax-layout--emblem__title {
    margin: 0 0 0 $logo-vertical-width-sm + $page-padding-h;
  }

  .ax-layout--emblem__main {
    flex: 1;
  }

  .ax-layout--emblem__footer {
    @include space-block($page-padding-v);
    padding: $container-padding-v-base $container-padding-h-base;
    text-align: center;

    @include for-each-scheme {
      background-color: layout-prop(footer-background-color);
      color: scheme-text-color(layout-prop(footer-background-color));
    }
  }

  .ax-layout--emblem__logo {
    position: absolute;
    top: 0;
    width: $logo-vertical-width-sm;
    height: $logo-vertical-height-sm;

    @include for-each-scheme {
      background-color: layout-prop(logo-background-color);
      color: scheme-text-color(layout-prop(logo-background-color));
    }
  }

  .ax-layout--emblem__content {
    width: 100%;
    margin: 0 auto;
    padding: 0 $page-padding-h;

    @include for-each-breakpoint {
      @include screen-more-than {
        max-width: breakpoint-prop(width);
      }
    }
  }
}
