@import '../core/mixins';
@import '../components/_vars/icon';
@import '../components/_mixins/icon';
@import '../components/_mixins/scheme';
@import './mixins';

@include for-layout(layout-established) {
  .ax-layout--established-nav {
    margin: 0;
    padding: 0;
  }

  .ax-layout--established-nav__link {
    display: block;
    padding: $component-padding-v-base $component-padding-h-base;
    font-size: $font-size-md;
    font-weight: $font-weight-strong;

    .ax-layout--established-nav__list-item--has-submenu > &::after {
      @include icon($fa-var-chevron-right);

      position: absolute;
      top: 50%;
      right: $component-padding-h-base;
      transform: translate3d(0, -50%, 0);
      font-size: $font-size-sm;
    }

    .ax-layout--established-nav__list-item--open > &::after {
      @include icon($fa-var-chevron-down);

      font-size: $font-size-sm;
    }
  }

  // First level
  .ax-layout--established-nav {
    > .ax-layout--established-nav__list {
      > .ax-layout--established-nav__list-item:not(.ax-layout--established-nav__list-item--active) {
        > .ax-layout--established-nav__link:hover {
          @include for-each-scheme {
            background-color: layout-prop(nav-first-item-hover-background-color);
            color: scheme-text-color(layout-prop(nav-first-item-hover-background-color));
          }
        }
      }

      > .ax-layout--established-nav__list-item--active {
        > .ax-layout--established-nav__link {
          @include for-each-scheme {
            color: layout-prop(nav-first-item-active-color);
          }
        }
      }

      > .ax-layout--established-nav__list-item--open {
        @include for-each-scheme {
          background-color: layout-prop(nav-first-item-active-background-color);
          color: scheme-text-color(layout-prop(nav-first-item-active-background-color));
        }
      }
    }
  }

  // Second level
  .ax-layout--established-nav > .ax-layout--established-nav__list > .ax-layout--established-nav__list-item {
    > .ax-layout--established-nav__list {
      display: none;
      margin: 0;

      > .ax-layout--established-nav__list-item {
        > .ax-layout--established-nav__link {
          padding-left: $component-padding-h-lg;
        }
      }

      > .ax-layout--established-nav__list-item:not(.ax-layout--established-nav__list-item--active) {
        > .ax-layout--established-nav__link:hover {
          @include for-each-scheme {
            background-color: layout-prop(nav-second-item-hover-background-color);
            color: scheme-text-color(layout-prop(nav-second-item-hover-background-color));
          }
        }
      }


      > .ax-layout--established-nav__list-item--active {
        > .ax-layout--established-nav__link {
          @include for-each-scheme {
            background-color: layout-prop(nav-second-item-active-background-color);
            color: layout-prop(nav-second-item-active-color);
          }
        }
      }
    }

    > .ax-layout--established-nav__list--open {
      display: block;
    }
  }
}
