@import '../core/mixins';
@import '../components/_mixins/scheme';
@import './_mixins';

$layout-header-height-sm: 50px;
$layout-header-height-lg: 100px;
$layout-sidebar-width: 240px;

@include forLayout(layout-established) {
  .ax-layout--established__body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  .ax-layout--established__container,
  .ax-layout--established {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .ax-layout--established--open {
    @include screenLessThan($layout-change-point) {
      overflow-x: hidden;
    }
  }

  .ax-layout--established__header {
    display: flex;
    position: fixed;
    padding: 0 $page-padding-h;
    top: 0;
    left: 0;
    width: $layout-sidebar-width;
    height: $layout-header-height-lg;
    flex-direction: column;
    justify-content: center;
    z-index: $z-index-layout-header;
    border-right: $component-border-width-base solid transparent;
    border-bottom: $component-border-width-base solid transparent;
    text-align: center;

    @include screenLessThan($layout-change-point) {
      height: $layout-header-height-sm;
      width: 100%;
      border-right: none;
      text-align: left;

      @include forEachScheme {
        border-bottom-color: layoutProp(sidebar-border-color);
      }
    }

    @include forEachScheme {
      color: schemeTextColor(layoutProp(header-background-color));
      background-color: getColor(layoutProp(header-background-color));
      border-right-color: layoutProp(sidebar-border-color);
    }

    ~ .ax-layout--established__main {
      @include screenLessThan($layout-change-point) {
        margin-top: $layout-header-height-sm;
      }
    }

    ~ .ax-layout--established__sidebar {
      @include screenLessThan($layout-change-point) {
        top: $layout-header-height-sm;
      }
    }
  }

  .ax-layout--established__footer-container {
    position: relative;
    min-height: $logo-vertical-height-sm + $page-padding-v;

    @include forEachScheme {
      color: schemeTextColor(layoutProp(footer-background-color));
      background-color: getColor(layoutProp(footer-background-color));
    }
  }

  .ax-layout--established__footer {
    margin: 0 0 0 $logo-vertical-width-sm + $page-padding-h;
  }

  .ax-layout--established__main {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .ax-layout--established__sidebar {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: $layout-header-height-lg;
    left: 0;
    bottom: 0;
    width: $layout-sidebar-width;
    border-right: $component-border-width-base solid transparent;

    @include screenLessThan($layout-change-point) {
      top: $layout-header-height-sm;
      transform: translateX(-100%);

      @include transition((transform));

      .ax-layout--established--open & {
        transform: translateX(-0%);
      }
    }

    @include forEachScheme {
      color: schemeTextColor(layoutProp(sidebar-background-color));
      background-color: getColor(layoutProp(sidebar-background-color));
      border-color: layoutProp(sidebar-border-color);
    }

    ~ .ax-layout--established__main,
    ~ .ax-layout--established__footer-container {
      margin-left: $layout-sidebar-width;

      @include screenLessThan($layout-change-point) {
        margin-left: 0;

        @include transition((transform));

        .ax-layout--established--open & {
          transform: translateX($layout-sidebar-width);
        }
      }
    }
  }

  .ax-layout--established__sidebar-header {
    padding: $component-padding-v-base $component-padding-h-base;
    flex: 0 1 auto;

    @include forEachScheme {
      color: schemeTextColor(layoutProp(sidebar-header-background-color));
      background-color: getColor(layoutProp(sidebar-header-background-color));
    }
  }

  .ax-layout--established__sidebar-content {
    flex: 1 1 auto;
  }

  .ax-layout--established__sidebar-footer {
    padding: $component-padding-v-base $component-padding-h-base;
    flex: 0 1 auto;
  }

  .ax-layout--established__logo {
    position: absolute;
    top: 0;
    width: $logo-vertical-width-sm;
    height: $logo-vertical-height-sm;

    @include forEachScheme {
      background-color: layoutProp(logo-background-color);
      color: schemeTextColor(layoutProp(logo-background-color));
    }
  }

  .ax-layout--established__full-height {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }

  .ax-layout--established__full-height--top    { justify-content: flex-start; }
  .ax-layout--established__full-height--middle { justify-content: center; }
  .ax-layout--established__full-height--bottom { justify-content: flex-end; }
  .ax-layout--established__full-height--left   { align-items: flex-start; }
  .ax-layout--established__full-height--center { align-items: center; }
  .ax-layout--established__full-height--right  { align-items: flex-end; }

  .ax-layout--established__content {
    position: relative;
    margin: 0 auto;
    padding: $page-padding-v $page-padding-h;
    width: 100%;

    @include forEachBreakpoint {
      @include screenMoreThan {
        width: breakpointProp(width) - $layout-sidebar-width;
      }
    }

    @include screenLessThan($layout-change-point) {
      width: 100%;
    }
  }
}


