@import '../core/mixins';
@import '../components/_mixins/scheme';
@import './mixins';

$layout-header-height-sm: 50px;
$layout-header-height-lg: 100px;
$layout-sidebar-width: 240px;

@include for-layout(layout-established) {
  .ax-layout--established__body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  .ax-layout--established__container,
  .ax-layout--established {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .ax-layout--established--open {
    @include screen-less-than($layout-change-point) {
      overflow-x: hidden;
    }
  }

  .ax-layout--established__header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    width: $layout-sidebar-width;
    height: $layout-header-height-lg;
    padding: 0 $page-padding-h;
    border-right: $component-border-width-base solid transparent;
    border-bottom: $component-border-width-base solid transparent;
    text-align: center;
    z-index: $z-index-layout-header;

    @include screen-less-than($layout-change-point) {
      width: 100%;
      height: $layout-header-height-sm;
      border-right: 0;
      text-align: left;

      @include for-each-scheme {
        border-bottom-color: layout-prop(sidebar-border-color);
      }
    }

    @include for-each-scheme {
      border-right-color: layout-prop(sidebar-border-color);
      background-color: get-color(layout-prop(header-background-color));
      color: scheme-text-color(layout-prop(header-background-color));
    }

    ~ .ax-layout--established__main {
      @include screen-less-than($layout-change-point) {
        margin-top: $layout-header-height-sm;
      }
    }

    ~ .ax-layout--established__sidebar {
      @include screen-less-than($layout-change-point) {
        top: $layout-header-height-sm;
      }
    }
  }

  .ax-layout--established__footer-container {
    position: relative;
    min-height: $logo-vertical-height-sm + $page-padding-v;

    @include for-each-scheme {
      background-color: get-color(layout-prop(footer-background-color));
      color: scheme-text-color(layout-prop(footer-background-color));
    }
  }

  .ax-layout--established__footer {
    margin: 0 0 0 $logo-vertical-width-sm + $page-padding-h;
  }

  .ax-layout--established__main {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .ax-layout--established__sidebar {
    display: flex;
    position: fixed;
    top: $layout-header-height-lg;
    bottom: 0;
    left: 0;
    flex-direction: column;
    width: $layout-sidebar-width;
    border-right: $component-border-width-base solid transparent;

    @include screen-less-than($layout-change-point) {
      @include transition((transform));

      top: $layout-header-height-sm;
      transform: translateX(-100%);

      .ax-layout--established--open & {
        transform: translateX(-0%);
      }
    }

    @include for-each-scheme {
      border-color: layout-prop(sidebar-border-color);
      background-color: get-color(layout-prop(sidebar-background-color));
      color: scheme-text-color(layout-prop(sidebar-background-color));
    }

    ~ .ax-layout--established__main,
    ~ .ax-layout--established__footer-container {
      margin-left: $layout-sidebar-width;

      @include screen-less-than($layout-change-point) {
        @include transition((transform));

        margin-left: 0;

        .ax-layout--established--open & {
          transform: translateX($layout-sidebar-width);
        }
      }
    }
  }

  .ax-layout--established__sidebar-header {
    flex: 0 1 auto;
    padding: $component-padding-v-base $component-padding-h-base;

    @include for-each-scheme {
      background-color: get-color(layout-prop(sidebar-header-background-color));
      color: scheme-text-color(layout-prop(sidebar-header-background-color));
    }
  }

  .ax-layout--established__sidebar-content {
    flex: 1 1 auto;
  }

  .ax-layout--established__sidebar-footer {
    flex: 0 1 auto;
    padding: $component-padding-v-base $component-padding-h-base;
  }

  .ax-layout--established__logo {
    position: absolute;
    top: 0;
    width: $logo-vertical-width-sm;
    height: $logo-vertical-height-sm;

    @include for-each-scheme {
      background-color: layout-prop(logo-background-color);
      color: scheme-text-color(layout-prop(logo-background-color));
    }
  }

  .ax-layout--established__full-height {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }

  .ax-layout--established__full-height--top    { justify-content: flex-start; }
  .ax-layout--established__full-height--middle { justify-content: center; }
  .ax-layout--established__full-height--bottom { justify-content: flex-end; }
  .ax-layout--established__full-height--left   { align-items: flex-start; }
  .ax-layout--established__full-height--center { align-items: center; }
  .ax-layout--established__full-height--right  { align-items: flex-end; }

  .ax-layout--established__content {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: $page-padding-v $page-padding-h;

    @include for-each-breakpoint {
      @include screen-more-than {
        width: breakpoint-prop(width) - $layout-sidebar-width;
      }
    }

    @include screen-less-than($layout-change-point) {
      width: 100%;
    }
  }
}


