@import '../../materials/animations';
@import '../../materials/colors';

@keyframes appear-word {
  from  { opacity: 0; }
  to    { opacity: 1; }
}

.ax-word {
  opacity: 0;
  color: inherit;
  fill: currentColor;
  animation-name: appear-word;
  animation-duration: var(--transition-time-slow);
  animation-fill-mode: forwards;
  animation-timing-function: var(--transition-function);
}

.ax-word--rose { color: var(--color-brand-rose); }
.ax-word--pink { color: var(--color-brand-pink); }
.ax-word--purple { color: var(--color-brand-purple); }
.ax-word--lilac { color: var(--color-brand-lilac); }
.ax-word--blue { color: var(--color-brand-blue); }
.ax-word--teal { color: var(--color-brand-teal); }
.ax-word--green { color: var(--color-brand-green); }
.ax-word--chartreuse { color: var(--color-brand-chartreuse); }
.ax-word--amber { color: var(--color-brand-amber); }
.ax-word--orange { color: var(--color-brand-orange); }
.ax-word--brown { color: var(--color-brand-brown); }
.ax-word--grey { color: var(--color-brand-grey); }
