$layout-width-xs: 28.125rem;
$layout-width-sm: 48rem;
$layout-width-md: 62rem;
$layout-width-lg: 75rem;

$breakpoints: (
  ( id: 'small', width: $layout-width-sm ),
  ( id: 'medium', width: $layout-width-md ),
  ( id: 'large', width: $layout-width-lg ),
);
