:root {
  --cmp-checkbox-thickness: calc(var(--cmp-input-checkbox-size) * 0.125);

  --cmp-checkbox-padding-top: calc(var(--cmp-input-checkbox-size) * 0.25);
  --cmp-checkbox-padding-bottom: calc(var(--cmp-input-checkbox-size) * 0.375);
  --cmp-checkbox-padding-horizontal: calc(var(--cmp-input-checkbox-size) * 0.25);
}

.ax-checkbox__indicator {
  border-radius: var(--component-border-radius);

  &::before {
    position: absolute;
    top: var(--cmp-checkbox-padding-top);
    right: var(--cmp-checkbox-padding-horizontal);
    bottom: var(--cmp-checkbox-padding-bottom);
    left: var(--cmp-checkbox-padding-horizontal);
    transform: rotate(-45deg);
    border-bottom: var(--cmp-checkbox-thickness) solid;
    border-left: var(--cmp-checkbox-thickness) solid;
    transition-property: border-color;
    transition-duration: var(--transition-time-base);
    transition-timing-function: var(--transition-function);

    @nest .ax-checkbox + &                  { border-color: transparent; }
    @nest .ax-checkbox:hover + &            { border-color: var(--cmp-input-border-color); }
    @nest .ax-checkbox:checked + &          { border-color: var(--cmp-input-color-checked); }
    @nest .ax-checkbox:disabled + &         { border-color: transparent; }
    @nest .ax-checkbox:disabled:checked + & { border-color: var(--cmp-input-border-color); }
  }
}

.ax-checkbox__indicator--invalid {
  @nest .ax-checkbox:checked + &::before {
    border-color: var(--cmp-input-color-invalid);
  }
}
