@import '../../design-patterns/spacing/_vars.js';
@import '../../design-patterns/spacing/mixins';
@import '../containers/mixins';

// Button Group: Base
.ax-chedio-buttox__group {
  @include space-block($component-margin-v-base);
  @include inline-component-container(ax-chedio-buttox__container, $component-margin-v-base);
}

.ax-chedio-buttox__group--inline {
  .ax-chedio-buttox__container {
    @include space-inline($component-margin-v-base);

    display: inline-flex;
  }
}
