:root {
  --cmp-chedio-indicator-space: calc(var(--spacing-grid-size) * 2);
}

.ax-chedio-buttox__container {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.ax-chedio-buttox__container--disabled {
  cursor: default;
}

.ax-chedio-buttox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.ax-chedio-buttox__indicator {
  position: relative;
  width: var(--cmp-input-checkbox-size);
  height: var(--cmp-input-checkbox-size);
  border: var(--component-border-width) solid var(--color-theme-border);
  background-color: var(--color-theme-background);
  transition-property: background-color, border-color, color;
  transition-duration: var(--transition-time-base);
  transition-timing-function: var(--transition-function);

  @nest .ax-chedio-buttox:focus + &    { border-color: var(--cmp-input-border-color-focused); }
  @nest .ax-chedio-buttox:disabled + & { background-color: var(--color-theme-background--disabled); }

  &::before {
    content: '';
  }
}

.ax-chedio-buttox__label {
  margin-left: var(--cmp-chedio-indicator-space);
}

.ax-chedio-buttox__container--invalid {
  & .ax-chedio-buttox + .ax-chedio-buttox__indicator,
  & .ax-chedio-buttox:focus + .ax-chedio-buttox__indicator {
    border-color: var(--cmp-input-border-color-invalid);
  }
}
