@import '../../design-patterns/animations/mixins';
@import '../../design-patterns/animations/vars';
@import '../../design-patterns/spacing/mixins';
@import '../../design-patterns/spacing/vars';
@import '../form/vars';
@import '../typography/vars';

$checkbox-size: $line-height-body-px + ($component-border-width * 2);

.ax-chedio-buttox__container {
  @include space-block();

  display: flex;
}

.ax-chedio-buttox__container--space {
  .ax-chedio-buttox__indicator {
    margin: 0 $component-margin-sm 0 0;
  }
}

.ax-chedio-buttox {
  position: absolute;
  opacity: 0;
  z-index: -1;

  + .ax-chedio-buttox__indicator,
  ~ .ax-chedio-buttox__label {
    cursor: pointer;
  }

  + .ax-chedio-buttox__indicator {
    @include transition((background-color, border-color, color), $transition-time-fast);
    position: relative;
    width: $checkbox-size;
    height: $checkbox-size;
    border: $component-border-width solid $input-border-color;
    background-color: $input-background-color;

    &::before {
      content: '';
    }
  }

  &:disabled {
    + .ax-chedio-buttox__indicator {
      background-color: $input-disabled-color;
    }

    + .ax-chedio-buttox__indicator,
    ~ .ax-chedio-buttox__label {
      cursor: default;
    }
  }

  &:focus {
    + .ax-chedio-buttox__indicator {
      border-color: $input-focus-color;
    }
  }
}
