@import '../../design-patterns/animations/mixins';
@import '../../design-patterns/animations/_vars.js';
@import '../../design-patterns/spacing/mixins';
@import '../../design-patterns/spacing/_vars.js';
@import '../form/_vars.js';
@import '../typography/_vars.js';

$checkbox-size: $line-height + ($component-border-width * 2);

.ax-chedio-buttox__container {
  @include space-block();

  display: flex;
  vertical-align: middle;
}

.ax-chedio-buttox__container--space {
  .ax-chedio-buttox__label {
    &::before {
      margin: 0 $component-margin-sm 0 0;
    }
  }
}

.ax-chedio-buttox {
  position: absolute;
  opacity: 0;
  z-index: -1;

  &:disabled {
    + .ax-chedio-buttox__label {
      cursor: default;
    }
  }

  + .ax-chedio-buttox__label {
    @include transition((background-color, border-color, color), $transition-time-fast);

    display: flex;
    align-items: flex-start;
    line-height: $checkbox-size;
    cursor: pointer;

    &::before {
      @include transition((background-color, border-color, color), $transition-time-fast);

      display: flex;
      flex: none;
      align-items: center;
      justify-content: center;
      width: $checkbox-size;
      height: $checkbox-size;
      border-width: $component-border-width;
      border-style: solid;
      font-size: $font-size-sm;
    }
  }
}

// Radio and Check box: Colouring
.ax-chedio-buttox {
  + .ax-chedio-buttox__label {
    &::before {
      border-color: $input-border-color;
      background-color: $input-background-color;
      color: transparent;
    }
  }

  &:hover {
    + .ax-chedio-buttox__label {
      &::before {
        color: $input-placeholder-color;
      }
    }
  }

  &:focus {
    + .ax-chedio-buttox__label {
      &::before {
        border-color: $input-focus-color;
      }
    }
  }

  &:checked {
    + .ax-chedio-buttox__label {
      &::before {
        color: $input-checked-color;
      }
    }
  }

  &:disabled {
    + .ax-chedio-buttox__label {
      cursor: default;

      &::before {
        background-color: $input-disabled-color;
        color: transparent;
      }
    }
  }
}
