@import '../../design-patterns/animations/mixins';
@import '../../design-patterns/spacing/vars';
@import '../typography/vars';
@import '../vars';
@import './vars';

.ax-chedio-buttox__container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ax-chedio-buttox__container--disabled {
  cursor: default;
}

.ax-chedio-buttox {
  position: absolute;
  opacity: 0;
  z-index: -1;

  + .ax-chedio-buttox__indicator {
    @include transition((background-color, border-color, color));

    position: relative;
    width: $input-checkbox-size;
    height: $input-checkbox-size;
    margin: 0 ($spacing-grid-size * 2) 0 0;
    border: $component-border-width solid $input-border-color;
    background-color: $input-background-color;

    &::before {
      content: '';
    }
  }

  &:disabled {
    + .ax-chedio-buttox__indicator {
      background-color: $input-disabled-background-color;
    }
  }

  &:focus {
    + .ax-chedio-buttox__indicator {
      border-color: $input-focus-border-color;
    }
  }
}
