:root {
  --cmp-input-checkbox-size: calc(var(--spacing-grid-size) * 4);

  --cmp-input-border-color-focused: rgba(var(--rgb-ui-accent), 0.5);
  --cmp-input-border-color-valid: rgba(var(--rgb-ui-success), 0.4);
  --cmp-input-border-color-invalid: rgba(var(--rgb-ui-error), 0.25);

  --cmp-input-color-checked: var(--color-ui-accent);
  --cmp-input-color-invalid: var(--color-ui-error);
}
