@import '../../design-patterns/animations/mixins';
@import '../../design-patterns/layout/mixins';
@import '../../design-patterns/schemes/mixins';
@import '../../design-patterns/spacing/mixins';
@import '../icon/mixins';
@import '../icon/vars';


$form-input-v-padding: $component-padding-v-base;
$form-input-h-padding: $component-padding-h-sm;
$form-input-border-width: 1px;
$form-input-border-radius: 2px;
$form-textarea: 200px;
$form-checkbox-size: $line-height + ($form-input-border-width * 2);


// Form: Base
.ax-form {
  @include space-block();
}


// Input: Text and Textarea
.ax-input__group {
  @include space-block();

  display: flex;
  position: relative;
  flex-direction: column;
}

.ax-input__button-container {
  display: flex;

  @include screen-less-than(breakpoint-prop(width, breakpoint-first())) {
    flex-direction: column;
  }
}

.ax-input__icon {
  @include transition((color), $transition-time-fast);

  position: absolute;
  top: 50%;
  right: $form-input-h-padding;
  transform: translate3d(0, -50%, 0);
}

.ax-input__button {
  margin: 0 0 0 $form-input-h-padding;

  @include screen-less-than(breakpoint-prop(width, breakpoint-first())) {
    margin: $component-margin-v-sm 0 0;
  }
}

.ax-input__icon-container {
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
}

.ax-input,
.ax-textarea {
  @include transition((border-color, color), $transition-time-fast);

  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  min-width: 0;
  padding: $form-input-v-padding $form-input-h-padding;
  border-width: $form-input-border-width;
  border-style: solid;
  border-radius: $form-input-border-radius;
  background-color: transparent;
  line-height: inherit;
  appearance: none;

  &:focus {
    outline: none;
  }
}


// Input: Colouring
@include for-each-scheme {
  $input-border-color: scheme-prop(input-border-color);
  $input-background-color: scheme-prop(input-background-color);
  $input-text-color: scheme-text-color($input-background-color);
  $input-placeholder-color: scheme-prop(input-placeholder-color);
  $input-focus-color: scheme-prop(input-focus-color);
  $input-disabled-color: scheme-prop(input-disabled-color);
  $input-valid-color: scheme-prop(input-valid-color);
  $input-invalid-color: scheme-prop(input-invalid-color);

  .ax-input__icon {
    color: $input-placeholder-color;
  }

  .ax-input,
  .ax-textarea {
    border-color: $input-border-color;
    background-color: $input-background-color;
    color: $input-text-color;

    &::placeholder {
      color: $input-placeholder-color;
    }

    &:disabled {
      background-color: $input-disabled-color;
    }

    &:focus {
      border-color: $input-focus-color;

      &::placeholder {
        color: transparent;
      }

      + .ax-input__icon {
        color: $input-focus-color;
      }
    }
  }

  // Input: Validation
  .ax-input--valid {
    .ax-input,
    .ax-textarea {
      border-color: $input-valid-color;

      + .ax-input__icon {
        color: $input-valid-color;
      }
    }
  }

  .ax-input--invalid {
    .ax-input,
    .ax-textarea {
      border-color: $input-invalid-color;

      + .ax-input__icon {
        color: $input-invalid-color;
      }
    }
  }
}


// Textarea: Base
.ax-textarea {
  min-height: $form-textarea;
  border-width: $form-input-border-width;
  border-style: solid;
  border-radius: $form-input-border-radius;
  background-color: transparent;
  resize: none;
}

// Textarea: Colouring
@include for-each-scheme {
  $input-border-color: scheme-prop(input-border-color);

  .ax-textarea {
    border-color: $input-border-color;
  }
}


// Radion and Check box: Base
.ax-radio__group,
.ax-checkbox__group {
  @include space-block();

  display: flex;
  vertical-align: middle;
}

.ax-radio__group--inline,
.ax-checkbox__group--inline {
  @include space-inline();

  display: inline-flex;
}

.ax-radio__group--space,
.ax-checkbox__group--space {
  .ax-radio__label,
  .ax-checkbox__label {
    &::before {
      margin: 0 $component-margin-h-sm 0 0;
    }
  }
}

.ax-radio,
.ax-checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;

  &:disabled {
    + .ax-radio__label,
    + .ax-checkbox__label {
      cursor: default;
    }
  }

  + .ax-checkbox__label {
    &:before {
      @include icon($fa-var-check);
      border-radius: $form-input-border-radius;
    }
  }

  + .ax-radio__label {
    &:before {
      @include icon($fa-var-circle);
      border-radius: 50%;
    }
  }

  + .ax-radio__label,
  + .ax-checkbox__label {
    @include transition((background-color, border-color, color), $transition-time-fast);

    display: flex;
    align-items: flex-start;
    line-height: $form-checkbox-size;
    cursor: pointer;

    &::before {
      @include transition((background-color, border-color, color), $transition-time-fast);

      display: flex;
      flex: none;
      align-items: center;
      justify-content: center;
      width: $form-checkbox-size;
      height: $form-checkbox-size;
      border-width: $form-input-border-width;
      border-style: solid;
      font-size: $font-size-sm;
    }
  }
}

// Radio and Check box: Colouring
@include for-each-scheme {
  $input-background-color: scheme-prop(input-background-color);
  $input-checked-color: scheme-prop(input-checked-color);
  $input-focus-color: scheme-prop(input-focus-color);
  $input-placeholder-color: scheme-prop(input-placeholder-color);
  $input-border-color: scheme-prop(input-border-color);
  $input-disabled-color: scheme-prop(input-disabled-color);

  .ax-radio,
  .ax-checkbox {
    + .ax-radio__label,
    + .ax-checkbox__label {
      &::before {
        border-color: $input-border-color;
        background-color: $input-background-color;
        color: transparent;
      }
    }

    &:hover {
      + .ax-radio__label,
      + .ax-checkbox__label {
        &::before {
          color: $input-placeholder-color;
        }
      }
    }

    &:focus {
      + .ax-radio__label,
      + .ax-checkbox__label {
        &::before {
          border-color: $input-focus-color;
        }
      }
    }

    &:checked {
      + .ax-radio__label,
      + .ax-checkbox__label {
        &::before {
          color: $input-checked-color;
        }
      }
    }

    &:disabled {
      + .ax-radio__label,
      + .ax-checkbox__label {
        cursor: default;

        &::before {
          background-color: $input-disabled-color;
          color: transparent;
        }
      }
    }
  }
}
