@import '../../design-patterns/animations/mixins';
@import '../../design-patterns/animations/vars';
@import '../form/vars';

.ax-radio__indicator {
  border-radius: 50%;

  &::before {
    @include transition((background-color), $transition-time-fast);

    position: absolute;
    top: ($input-checkbox-size / 4);
    right: ($input-checkbox-size / 4);
    bottom: ($input-checkbox-size / 4);
    left: ($input-checkbox-size / 4);
    border-radius: 50%;
  }
}

.ax-radio {
  + .ax-radio__indicator::before {
    background-color: transparent;
  }

  &:hover:not(:checked):not(:disabled) {
    + .ax-radio__indicator::before {
      background-color: $input-placeholder-color;
    }
  }

  &:focus {
    background-color: $input-focus-border-color;
  }

  &:checked {
    + .ax-radio__indicator::before {
      background-color: $input-checked-color;
    }
  }

  &:disabled:checked {
    + .ax-radio__indicator::before {
      background-color: $input-placeholder-color;
    }
  }
}
