@import '../../design-patterns/animations/mixins';
@import '../../design-patterns/spacing/vars';
@import '../vars';
@import './vars';

.ax-textarea {
  @include transition((border-color));

  padding: $component-padding-vertical-medium $component-padding-horizontal-small;
  border: $component-border-width solid $input-border-color;
  border-radius: $component-border-radius;
  background-color: $input-background-color;
  resize: none;

  &::placeholder {
    color: $input-placeholder-color;
  }

  &:focus {
    border-color: $input-focus-border-color;
    outline: none;

    &::placeholder {
      color: transparent;
    }
  }

  &:disabled {
    background-color: $input-disabled-background-color;
  }
}

.ax-textarea--valid  {
  border-color: $input-valid-border-color;
}

.ax-textarea--invalid {
  border-color: $input-invalid-border-color;
  color: $input-invalid-color;

  &::placeholder {
    color: $input-invalid-color;
  }
}
