@import '../../design-patterns/animations/mixins';
@import '../../design-patterns/animations/_vars.js';
@import '../../design-patterns/colors/mixins';
@import '../../design-patterns/layout/mixins';
@import '../../design-patterns/spacing/_vars.js';
@import '../../design-patterns/spacing/mixins';
@import '../form/_vars.js';

// Input: Button
.ax-input__button-container {
  display: flex;
}

.ax-input__button {
  margin: 0 0 0 $component-padding-sm;
}

// Input: Icon
.ax-input__icon-container {
  @include transition((border-color), $transition-time-fast);

  display: flex;
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  border: $component-border-width solid $input-border-color;
  border-style: solid;
  border-radius: $component-border-radius;
  background-color: $input-background-color;
}

.ax-input__icon-container--focused {
  border-color: $input-focus-color;

  .ax-input__icon {
    color: $input-focus-color;
  }
}

.ax-input__icon {
  @include transition((color), $transition-time-fast);

  padding: 0 $component-padding-sm 0 0;
  color: $input-placeholder-color;
}


// Input
.ax-input {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  min-width: 0;
  padding: $component-padding-sm;
  border: 0;
  background-color: transparent;
  color: get-text-color($input-background-color);
  line-height: inherit;
  text-overflow: ellipsis;
  appearance: none;

  &::placeholder {
    color: $input-placeholder-color;
  }

  &:disabled {
    background-color: $input-disabled-color;
  }

  &:focus {
    outline: none;

    &::placeholder {
      color: transparent;
    }
  }
}
