@import '../../design-patterns/animations/mixins';
@import '../../design-patterns/animations/_vars.js';
@import '../../design-patterns/layout/mixins';
@import '../../design-patterns/spacing/_vars.js';
@import '../../design-patterns/spacing/mixins';
@import '../form/_vars.js';

// Input: Text and Textarea
.ax-input__group {
  @include space-block();

  display: flex;
  position: relative;
  flex-direction: column;
}


// Input: Validation
.ax-input__group--valid {
  .ax-input {
    border-color: $input-valid-color;

    + .ax-input__icon {
      color: $input-valid-color;
    }
  }
}

.ax-input__group--invalid {
  .ax-input {
    border-color: $input-invalid-color;

    + .ax-input__icon {
      color: $input-invalid-color;
    }
  }
}


// Input: Button
.ax-input__button-container {
  display: flex;

  @include screen-less-than(breakpoint-prop(width, breakpoint-first())) {
    flex-direction: column;
  }
}

.ax-input__button {
  margin: 0 0 0 $form-input-h-padding;

  @include screen-less-than(breakpoint-prop(width, breakpoint-first())) {
    margin: $component-margin-v-sm 0 0;
  }
}


// Input: Icon
.ax-input__icon-container {
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
}

.ax-input__icon {
  @include transition((color), $transition-time-fast);

  position: absolute;
  top: 50%;
  right: $form-input-h-padding;
  transform: translate3d(0, -50%, 0);
  color: $input-placeholder-color;

  .ax-input:focus + & {
    color: $input-focus-color;
  }
}


// Input
.ax-input {
  @include transition((border-color, color), $transition-time-fast);

  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  min-width: 0;
  padding: $form-input-v-padding $form-input-h-padding;
  border: $form-input-border-width solid $input-border-color;
  border-style: solid;
  border-radius: $form-input-border-radius;
  background-color: $input-background-color;
  color: get-text-color($input-background-color);
  line-height: inherit;
  appearance: none;

  &::placeholder {
    color: $input-placeholder-color;
  }

  &:disabled {
    background-color: $input-disabled-color;
  }

  &:focus {
    border-color: $input-focus-color;
    outline: none;

    &::placeholder {
      color: transparent;
    }
  }
}
