@keyframes appear-word {
  to    { opacity: 1; }
}

.ax-word {
  opacity: 0;
  color: inherit;
  fill: currentColor;
  fill-opacity: 1;
  cursor: default;
  transition-property: color, fill-opacity, transform;
  transition-duration: var(--transition-time-slow);
  transition-timing-function: var(--transition-function);
  animation-name: appear-word;
  animation-duration: var(--transition-time-slow);
  animation-fill-mode: forwards;
  animation-timing-function: var(--transition-function);
  user-select: none;
}

.ax-word--tiny-clanger { color: var(--color-product-tiny-clanger); }
.ax-word--critical-mass { color: var(--color-product-critical-mass); }
.ax-word--fantastic-voyage { color: var(--color-product-fantastic-voyage); }
.ax-word--paradise-lost { color: var(--color-product-paradise-lost); }
.ax-word--serene-sea { color: var(--color-product-serene-sea); }
.ax-word--electric-dreams { color: var(--color-product-electric-dreams); }
.ax-word--giant-leap { color: var(--color-product-giant-leap); }
.ax-word--moon-lagoon { color: var(--color-product-moon-lagoon); }
.ax-word--space-invader { color: var(--color-product-space-invader); }
.ax-word--terra-form { color: var(--color-product-terra-form); }
.ax-word--primeval-soup { color: var(--color-product-primeval-soup); }
.ax-word--sun-maker { color: var(--color-product-sun-maker); }
.ax-word--new-horizon { color: var(--color-product-new-horizon); }
.ax-word--blast-off { color: var(--color-product-blast-off); }
.ax-word--crash-course { color: var(--color-product-crash-course); }
.ax-word--ground-control { color: var(--color-product-ground-control); }
.ax-word--space-oddity { color: var(--color-product-space-oddity); }
.ax-word--deep-thought { color: var(--color-product-deep-thought); }
.ax-word--luna-dust { color: var(--color-product-luna-dust); }

.ax-word--disabled {
  fill-opacity: 0.3;
}

.ax-word--hidden {
  fill-opacity: 0;
}

.ax-word--clickable {
  cursor: pointer;

  &.ax-word--tiny-clanger:active { color: var(--color-product-tiny-clanger--active); }
  &.ax-word--critical-mass:active { color: var(--color-product-critical-mass--active); }
  &.ax-word--paradise-lost:active { color: var(--color-product-paradise-lost--active); }
  &.ax-word--serene-sea:active { color: var(--color-product-serene-sea--active); }
  &.ax-word--giant-leap:active { color: var(--color-product-giant-leap--active); }
  &.ax-word--moon-lagoon:active { color: var(--color-product-moon-lagoon--active); }
  &.ax-word--terra-form:active { color: var(--color-product-terra-form--active); }
  &.ax-word--primeval-soup:active { color: var(--color-product-primeval-soup--active); }
  &.ax-word--new-horizon:active { color: var(--color-product-new-horizon--active); }
  &.ax-word--blast-off:active { color: var(--color-product-blast-off--active); }
  &.ax-word--ground-control:active { color: var(--color-product-ground-control--active); }
  &.ax-word--luna-dust:active { color: var(--color-product-luna-dust--active); }
}
