:root {
  /**
   * The designs of the medium tip is 1.5rem from corner to corner. To calculate
   * the pre-rotated square we use `Math.sqrt((1.5rem**2)/2)`
   */
  --cmp-tip-size--medium: 1.0606601717798212rem;

  --cmp-tip-size--small: 0.75rem;
}

.ax-tip__content {
  background-color: var(--color-theme-background);
  /* stylelint-disable */
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  /* stylelint-enable */
}

.ax-tip--shadow .ax-tip__content {
  background-color: transparent;
}

.ax-tip__arrow--small {
  width: var(--cmp-tip-size--small);
  height: var(--cmp-tip-size--small);
  margin: var(--cmp-tip-size--small);

  @nest .ax-tip--top & { bottom: calc(var(--cmp-tip-size--small) * -0.5); }
  @nest .ax-tip--right & { left: calc(var(--cmp-tip-size--small) * -0.5); }
  @nest .ax-tip--bottom & { top: calc(var(--cmp-tip-size--small) * -0.5); }
  @nest .ax-tip--left & { right: calc(var(--cmp-tip-size--small) * -0.5); }
}

.ax-tip__arrow--medium {
  width: var(--cmp-tip-size--medium);
  height: var(--cmp-tip-size--medium);
  margin: var(--cmp-tip-size--medium);

  @nest .ax-tip--top & { bottom: calc(var(--cmp-tip-size--medium) * -0.5); }
  @nest .ax-tip--right & { left: calc(var(--cmp-tip-size--medium) * -0.5); }
  @nest .ax-tip--bottom & { top: calc(var(--cmp-tip-size--medium) * -0.5); }
  @nest .ax-tip--left & { right: calc(var(--cmp-tip-size--medium) * -0.5); }
}

.ax-tip__arrow {
  position: absolute;
  transform: rotate(45deg);
  background-color: var(--color-theme-background);
  pointer-events: none;

  @nest .ax-tip--faded & { background-color: var(--color-theme-text); }
  @nest .ax-tip--success & { background-color: var(--color-ui-success); }
  @nest .ax-tip--warning & { background-color: var(--color-ui-warning); }
  @nest .ax-tip--error & { background-color: var(--color-ui-error); }
  @nest .ax-tip--info & { background-color: var(--color-ui-info); }
  @nest .ax-tip--shade-1 & { background-color: var(--color-theme-background--shade-1); }
  @nest .ax-tip--shade-2 & { background-color: var(--color-theme-background--shade-2); }
  @nest .ax-tip--shade-3 & { background-color: var(--color-theme-background--shade-3); }
  @nest .ax-tip--shade-4 & { background-color: var(--color-theme-background--shade-4); }
  @nest .ax-tip--carbon & { background-color: var(--color-ui-carbon); }
  @nest .ax-tip--white & { background-color: var(--color-ui-white); }

  @nest .ax-tip--shadow & {
    box-shadow: var(--drop-shadow-theme-border), var(--drop-shadow-theme-elevation--x2);
  }
}

.ax-tip--top .ax-tip__arrow--small {
  transform: translateY(var(--cmp-tip-size--small)) rotate(45deg);
}

.ax-tip--top .ax-tip__arrow--medium {
  transform: translateY(var(--cmp-tip-size--medium)) rotate(45deg);
}

.ax-tip--right .ax-tip__arrow--small {
  transform: translateX(calc(var(--cmp-tip-size--small) * -1)) rotate(45deg);
}

.ax-tip--right .ax-tip__arrow--medium {
  transform: translateX(calc(var(--cmp-tip-size--medium) * -1)) rotate(45deg);
}

.ax-tip--bottom .ax-tip__arrow--small {
  transform: translateY(calc(var(--cmp-tip-size--small) * -1)) rotate(45deg);
}

.ax-tip--bottom .ax-tip__arrow--medium {
  transform: translateY(calc(var(--cmp-tip-size--medium) * -1)) rotate(45deg);
}

.ax-tip--left .ax-tip__arrow--small {
  transform: translateX(var(--cmp-tip-size--small)) rotate(45deg);
}

.ax-tip--left .ax-tip__arrow--medium {
  transform: translateX(var(--cmp-tip-size--medium)) rotate(45deg);
}
