:root {
  --cmp-color-picker-border-width: 0.1875rem;
}

.ax-color-picker__option {
  border-width: var(--cmp-color-picker-border-width);
  border-radius: 50%;
  transition-property: background-color, border-color;
  transition-duration: var(--transition-time-base);
  transition-timing-function: var(--transition-function);
}

.ax-color-picker__option--tiny-clanger { background-color: var(--color-product-tiny-clanger); }
.ax-color-picker__option--critical-mass { background-color: var(--color-product-critical-mass); }
.ax-color-picker__option--paradise-lost { background-color: var(--color-product-paradise-lost); }
.ax-color-picker__option--serene-sea { background-color: var(--color-product-serene-sea); }
.ax-color-picker__option--giant-leap { background-color: var(--color-product-giant-leap); }
.ax-color-picker__option--moon-lagoon { background-color: var(--color-product-moon-lagoon); }
.ax-color-picker__option--terra-form { background-color: var(--color-product-terra-form); }
.ax-color-picker__option--primeval-soup { background-color: var(--color-product-primeval-soup); }
.ax-color-picker__option--new-horizon { background-color: var(--color-product-new-horizon); }
.ax-color-picker__option--blast-off { background-color: var(--color-product-blast-off); }
.ax-color-picker__option--ground-control { background-color: var(--color-product-ground-control); }
.ax-color-picker__option--luna-dust { background-color: var(--color-product-luna-dust); }

.ax-color-picker__option--empty {
  border: solid var(--color-theme-background--subtle);
}

.ax-color-picker__option--disabled {
  border: solid var(--component-border-width-small) var(--color-theme-background--subtle);
  background-color: transparent;
}

.ax-color-picker__option--clickable {
  cursor: pointer;

  &.ax-color-picker__option--tiny-clanger {
    &:hover  { background-color: var(--color-product-tiny-clanger--hover); }
    &:active { background-color: var(--color-product-tiny-clanger--active); }
  }

  &.ax-color-picker__option--critical-mass {
    &:hover  { background-color: var(--color-product-critical-mass--hover); }
    &:active { background-color: var(--color-product-critical-mass--active); }
  }

  &.ax-color-picker__option--paradise-lost {
    &:hover  { background-color: var(--color-product-paradise-lost--hover); }
    &:active { background-color: var(--color-product-paradise-lost--active); }
  }

  &.ax-color-picker__option--serene-sea {
    &:hover  { background-color: var(--color-product-serene-sea--hover); }
    &:active { background-color: var(--color-product-serene-sea--active); }
  }

  &.ax-color-picker__option--giant-leap {
    &:hover  { background-color: var(--color-product-giant-leap--hover); }
    &:active { background-color: var(--color-product-giant-leap--active); }
  }

  &.ax-color-picker__option--moon-lagoon {
    &:hover  { background-color: var(--color-product-moon-lagoon--hover); }
    &:active { background-color: var(--color-product-moon-lagoon--active); }
  }

  &.ax-color-picker__option--terra-form {
    &:hover  { background-color: var(--color-product-terra-form--hover); }
    &:active { background-color: var(--color-product-terra-form--active); }
  }

  &.ax-color-picker__option--primeval-soup {
    &:hover  { background-color: var(--color-product-primeval-soup--hover); }
    &:active { background-color: var(--color-product-primeval-soup--active); }
  }

  &.ax-color-picker__option--new-horizon {
    &:hover  { background-color: var(--color-product-new-horizon--hover); }
    &:active { background-color: var(--color-product-new-horizon--active); }
  }

  &.ax-color-picker__option--blast-off {
    &:hover  { background-color: var(--color-product-blast-off--hover); }
    &:active { background-color: var(--color-product-blast-off--active); }
  }

  &.ax-color-picker__option--ground-control {
    &:hover  { background-color: var(--color-product-ground-control--hover); }
    &:active { background-color: var(--color-product-ground-control--active); }
  }

  &.ax-color-picker__option--luna-dust {
    &:hover  { background-color: var(--color-product-luna-dust--hover); }
    &:active { background-color: var(--color-product-luna-dust--active); }
  }

  &.ax-color-picker__option--empty {
    &:hover  { border-color: var(--color-theme-background--hover); }
    &:active { border-color: var(--color-theme-background--active); }
  }
}
