:root {
  --cmp-color-picker-border-width: 0.1875rem;
}

.ax-color-picker__option {
  border-width: var(--cmp-color-picker-border-width);
  border-radius: 50%;
  transition-property: background-color, border-color;
  transition-duration: var(--transition-time-base);
  transition-timing-function: var(--transition-function);
}

.ax-color-picker__option--rose { background-color: var(--color-brand-rose); }
.ax-color-picker__option--pink { background-color: var(--color-brand-pink); }
.ax-color-picker__option--purple { background-color: var(--color-brand-purple); }
.ax-color-picker__option--lilac { background-color: var(--color-brand-lilac); }
.ax-color-picker__option--blue { background-color: var(--color-brand-blue); }
.ax-color-picker__option--teal { background-color: var(--color-brand-teal); }
.ax-color-picker__option--green { background-color: var(--color-brand-green); }
.ax-color-picker__option--chartreuse { background-color: var(--color-brand-chartreuse); }
.ax-color-picker__option--amber { background-color: var(--color-brand-amber); }
.ax-color-picker__option--orange { background-color: var(--color-brand-orange); }
.ax-color-picker__option--brown { background-color: var(--color-brand-brown); }
.ax-color-picker__option--grey { background-color: var(--color-brand-grey); }

.ax-color-picker__option--empty {
  border: solid var(--color-context-background-subtle);
}

.ax-color-picker__option--disabled {
  border: solid var(--component-border-width-small) var(--color-context-background-subtle);
  background-color: transparent;
}

.ax-color-picker__option--clickable {
  cursor: pointer;

  &.ax-color-picker__option--rose {
    &:hover  { background-color: var(--color-brand-rose--light); }
    &:active { background-color: var(--color-brand-rose--dark); }
  }

  &.ax-color-picker__option--pink {
    &:hover  { background-color: var(--color-brand-pink--light); }
    &:active { background-color: var(--color-brand-pink--dark); }
  }

  &.ax-color-picker__option--purple {
    &:hover  { background-color: var(--color-brand-purple--light); }
    &:active { background-color: var(--color-brand-purple--dark); }
  }

  &.ax-color-picker__option--lilac {
    &:hover  { background-color: var(--color-brand-lilac--light); }
    &:active { background-color: var(--color-brand-lilac--dark); }
  }

  &.ax-color-picker__option--blue {
    &:hover  { background-color: var(--color-brand-blue--light); }
    &:active { background-color: var(--color-brand-blue--dark); }
  }

  &.ax-color-picker__option--teal {
    &:hover  { background-color: var(--color-brand-teal--light); }
    &:active { background-color: var(--color-brand-teal--dark); }
  }

  &.ax-color-picker__option--green {
    &:hover  { background-color: var(--color-brand-green--light); }
    &:active { background-color: var(--color-brand-green--dark); }
  }

  &.ax-color-picker__option--chartreuse {
    &:hover  { background-color: var(--color-brand-chartreuse--light); }
    &:active { background-color: var(--color-brand-chartreuse--dark); }
  }

  &.ax-color-picker__option--amber {
    &:hover  { background-color: var(--color-brand-amber--light); }
    &:active { background-color: var(--color-brand-amber--dark); }
  }

  &.ax-color-picker__option--orange {
    &:hover  { background-color: var(--color-brand-orange--light); }
    &:active { background-color: var(--color-brand-orange--dark); }
  }

  &.ax-color-picker__option--brown {
    &:hover  { background-color: var(--color-brand-brown--light); }
    &:active { background-color: var(--color-brand-brown--dark); }
  }

  &.ax-color-picker__option--grey {
    &:hover  { background-color: var(--color-brand-grey--light); }
    &:active { background-color: var(--color-brand-grey--dark); }
  }

  &.ax-color-picker__option--empty {
    &:hover  { border-color: var(--color-context-background-faded); }
    &:active { border-color: var(--color-context-background-disabled); }
  }
}
