@import '~bw-axiom/design-patterns/colors/vars';
@import '~bw-axiom/design-patterns/spacing/vars';
@import '~bw-axiom/components/typography/vars';
@import '~bw-axiom/components/vars';
@import '../Layout/vars';

.dm-nav__list-item {
  list-style: none;
}

.dm-nav__link {
  display: block;
  padding: $spacing-grid-size $page-padding-h;
}

.dm-nav__list-item--active {
  > .dm-nav__link {
    color: $sidebar-active-color;
  }
}

.dm-nav__list-item--open {
  margin-bottom: $spacing-grid-size * 2;
}

// Second level
.dm-nav > .dm-nav__list > .dm-nav__list-item {
  > .dm-nav__list {
    > .dm-nav__list-item {
      > .dm-nav__link {
        padding-left: $page-padding-h + ($spacing-grid-size * 3);
      }
    }
  }
}
