.dm-nav__list {
  margin: 0;
  padding: 0;
}


// Second level
.dm-nav >
.dm-nav__list >
.dm-nav__list-item {
  > .dm-nav__list {
    display: none;
    margin: 0;
  }

  > .dm-nav__list--open {
    display: block;
  }
}

