@import '~bw-axiom/design-patterns/colors/vars';
@import '~bw-axiom/design-patterns/spacing/vars';
@import '~bw-axiom/components/typography/vars';

.dm-nav__list-item {
  list-style: none;
}

.dm-nav__link {
  display: block;
  padding: $component-padding-sm $page-padding-h;
  font-size: $font-size-md;
  font-weight: $font-weight-bold;
}

.dm-nav__list-item--active {
  > .dm-nav__link {
    color: $color-primary-1;
  }
}

.dm-nav__list-item--open {
  background-color: $color-grey-0;
}

// Second level
.dm-nav > .dm-nav__list > .dm-nav__list-item {
  > .dm-nav__list {
    > .dm-nav__list-item {
      > .dm-nav__link {
        padding-left: $page-padding-h * 2;
      }
    }
  }
}
