@import '~bw-axiom/design-patterns/colors/_vars.js';
@import '~bw-axiom/design-patterns/spacing/_vars.js';
@import '~bw-axiom/components/icon/mixins';
@import '~bw-axiom/components/icon/vars';
@import '~bw-axiom/components/typography/_vars.js';

$nav-first-level-item-background-color-hover: $color-grey-0;
$nav-first-level-item-active-color: $color-primary-1;
$nav-first-level-item-active-background-color: $color-grey-0;
$nav-second-level-item-background-color-hover: $color-grey-1;
$nav-second-level-item-active-color: $color-primary-1;
$nav-second-level-item-active-background-color: $color-grey-1;

.dm-nav__list-item {
  list-style: none;
}

.dm-nav__link {
  display: block;
  padding: $component-padding-sm $page-padding-h;
  font-family: $font-family-medium;
  font-size: $font-size-md;

  .dm-nav__list-item--has-submenu > &::after {
    @include icon($fa-var-chevron-right);

    position: absolute;
    top: 50%;
    right: $component-padding-sm;
    transform: translate3d(0, -50%, 0);
    font-size: $font-size-sm;
  }

  .dm-nav__list-item--open > &::after {
    @include icon($fa-var-chevron-down);

    font-size: $font-size-sm;
  }
}

// First level
.dm-nav {
  > .dm-nav__list {
    > .dm-nav__list-item:not(.dm-nav__list-item--active) {
      > .dm-nav__link:hover {
        background-color: $nav-first-level-item-background-color-hover;
      }
    }

    > .dm-nav__list-item--active {
      > .dm-nav__link {
        color: $nav-first-level-item-active-color;
      }
    }

    > .dm-nav__list-item--open {
      background-color: $nav-first-level-item-active-background-color;
    }
  }
}

// Second level
.dm-nav > .dm-nav__list > .dm-nav__list-item {
  > .dm-nav__list {
    > .dm-nav__list-item {
      > .dm-nav__link {
        padding-left: $page-padding-h * 2;
      }
    }

    > .dm-nav__list-item:not(.dm-nav__list-item--active) {
      > .dm-nav__link:hover {
        background-color: $nav-second-level-item-background-color-hover;
      }
    }


    > .dm-nav__list-item--active {
      > .dm-nav__link {
        background-color: $nav-second-level-item-active-background-color;
        color: $nav-second-level-item-active-color;
      }
    }
  }
}
