.dm-nav__link {
  display: block;
  padding: var(--spacing-grid-size) var(--page-padding-horizontal);
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

.dm-nav__list-item--active .dm-nav__link {
  color: var(--color-ui-primary);
}

.dm-nav__list-item--open {
  margin-bottom: calc(var(--spacing-grid-size) * 2);
}

.dm-nav__list-item {
  list-style: none;

  & .dm-nav__list-item .dm-nav__link {
    padding-left: calc(var(--page-padding-horizontal) + calc(var(--spacing-grid-size) * 3));
  }
}
