@import '../../design-patterns/layout/mixins';
@import '../../design-patterns/layout/vars';
@import '../../design-patterns/spacing/vars';
@import '../grid/mixins';


// Grid: Base
.ax-grid {
  @include grid-gutter($container-margin-sm);

  display: flex;
  flex-wrap: wrap;

  &:first-child {
    margin-top: 0;
  }
}


// Grid Cell: Base
.ax-grid__cell {
  flex: 1 1 0%;
  min-width: 0;
}


// Grid: Vertical alignment
.ax-grid--top    { align-items: flex-start; }
.ax-grid--middle { align-items: center; }
.ax-grid--bottom { align-items: flex-end; }


// Grid: Horizontal alignment
.ax-grid--left       { justify-content: flex-start; }
.ax-grid--center     { justify-content: center; }
.ax-grid--right      { justify-content: flex-end; }
.ax-grid--around     { justify-content: space-around; }
.ax-grid--between    { justify-content: space-between; }


// Grid Cell: Vertical alignment
.ax-grid__cell--top    { align-self: flex-start; }
.ax-grid__cell--middle { align-self: center; }
.ax-grid__cell--bottom { align-self: flex-end; }


// Grid: Gutter sizing
.ax-grid--gutters--small { @include grid-gutter($container-margin-sm); }
.ax-grid--gutters--large { @include grid-gutter($container-margin-lg); }


// Grid: Gutter removal
.ax-grid--gutters-none,
.ax-grid--gutters-none-v {
  margin-bottom: 0;

  > .ax-grid__cell {
    padding-bottom: 0;
  }
}

.ax-grid--gutters-none,
.ax-grid--gutters-none-h {
  margin-left: 0;

  > .ax-grid__cell {
    padding-left: 0;
  }
}


// Grid: Grid cell height alignment
.ax-grid--full-height {
  > .ax-grid__cell {
    display: flex;
    flex-direction: column;
  }
}

// Create the grid sizing classes to span all breakpoints
@include make-responsive-grid(false);

// Create the responsive grid
@include for-each-breakpoint {
  @include make-responsive-grid(true);
}

// Grid Cell: Sizing
// When below the lowest given breakpoint cells
// will flex to 100%. Can be suppressed with with the
// --unresponsive modifier.
@include screen-less-than($layout-width-sm) {
  .ax-grid {
    &:not(.ax-grid--unresponsive) {
      > .ax-grid__cell {
        flex: 0 0 100%;
      }
    }
  }
}
