@import '../../design-patterns/spacing/vars';

// Trick to allow small inline components to vertically space themselves
// correctly and not break the vertical flow when stacked when going responsive.

@mixin inline-component-container($component, $component-space: $component-margin-sm) {
  &,
  &:last-child {
    margin-bottom: -$component-space;
  }

  > .#{$component} {
    margin-top: 0;
    margin-bottom: $component-space;
  }
}
