.ax-input,
.ax-textarea {
  width: 100%;
  min-width: 0;
  color: inherit;
  appearance: none;

  &::placeholder {
    opacity: 1;
    color: var(--color-theme-text--disabled);
  }

  &:focus {
    outline: none;

    &::placeholder {
      color: transparent;
    }
  }
}

.ax-input__wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
}
