@import '../../materials/sizing';

.ax-column-chart__x-axis {
  display: flex;
  flex: 0 0 auto;
  margin: calc(var(--spacing-grid-size) * 3) 0;

  &:first-child { margin-top: 0; }
  &:last-child  { margin-bottom: 0; }
}
