@import '../../materials/sizing';

.ax-column-chart__row {
  display: flex;
  flex: 1 1 0%;
  margin: calc(var(--spacing-grid-size) * 3) 0;

  &:first-child { margin-top: 0; }
  &:last-child  { margin-bottom: 0; }
}
