.ax-column-chart__y-axis {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
}

.ax-column-chart__y-axis--top    { justify-content: flex-start; }
.ax-column-chart__y-axis--bottom { justify-content: flex-end; }

