/* stylelint-disable max-line-length */
:root {
  --rgb-ui-carbon--darker: 43, 43, 43;
  --rgb-ui-carbon--dark: 53, 53, 53;
  --rgb-ui-carbon: 63, 63, 63;

  --rgb-ui-white-noise--darker: 228, 228, 228;
  --rgb-ui-white-noise--dark: 238, 238, 238;
  --rgb-ui-white-noise: 248, 248, 248;

  --rgb-ui-white: 255, 255, 255;
  --rgb-ui-black: 33, 33, 33;

  --rgb-ui-accent--hover: 48, 171, 232;
  --rgb-ui-accent: 35, 158, 219;
  --rgb-ui-accent--active: 22, 145, 207;

  --rgb-ui-success--hover: 10, 204, 162;
  --rgb-ui-success: 0, 190, 150;
  --rgb-ui-success--active: 0, 166, 130;

  --rgb-ui-warning--hover: 230, 186, 85;
  --rgb-ui-warning: 218, 174, 69;
  --rgb-ui-warning--active: 204, 159, 55;

  --rgb-ui-error--hover: 255, 99, 133;
  --rgb-ui-error: 252, 72, 112;
  --rgb-ui-error--active: 240, 58, 97;

  --rgb-ui-info--hover: var(--rgb-ui-accent--hover);
  --rgb-ui-info: var(--rgb-ui-accent);
  --rgb-ui-info--active: var(--rgb-ui-accent--active);

  --color-ui-carbon--darker: rgb(var(--rgb-ui-carbon--darker));
  --color-ui-carbon--dark: rgb(var(--rgb-ui-carbon--dark));
  --color-ui-carbon: rgb(var(--rgb-ui-carbon));

  --color-ui-white-noise--darker: rgb(var(--rgb-ui-white-noise--darker));
  --color-ui-white-noise--dark: rgb(var(--rgb-ui-white-noise--dark));
  --color-ui-white-noise: rgb(var(--rgb-ui-white-noise));

  --color-ui-black: rgb(var(--rgb-ui-black));
  --color-ui-white: rgb(var(--rgb-ui-white));

  --color-ui-accent--active: rgb(var(--rgb-ui-accent--active));
  --color-ui-accent: rgb(var(--rgb-ui-accent));
  --color-ui-accent--hover: rgb(var(--rgb-ui-accent--hover));

  --color-ui-success--hover: rgb(var(--rgb-ui-success--hover));
  --color-ui-success: rgb(var(--rgb-ui-success));
  --color-ui-success--active: rgb(var(--rgb-ui-success--active));

  --color-ui-warning--hover: rgb(var(--rgb-ui-warning--hover));
  --color-ui-warning: rgb(var(--rgb-ui-warning));
  --color-ui-warning--active: rgb(var(--rgb-ui-warning--active));

  --color-ui-error--hover: rgb(var(--rgb-ui-error--hover));
  --color-ui-error: rgb(var(--rgb-ui-error));
  --color-ui-error--active: rgb(var(--rgb-ui-error--active));

  --color-ui-info--hover: rgb(var(--rgb-ui-info--hover));
  --color-ui-info: rgb(var(--rgb-ui-info));
  --color-ui-info--active: rgb(var(--rgb-ui-info--active));

  --color-ui-highlight: rgb(215, 255, 0);

  --color-sentiment-positive-active: rgb(62, 148, 76);
  --color-sentiment-positive: rgb(76, 161, 90);
  --color-sentiment-positive-hover: rgb(90, 173, 104);
  --color-sentiment-negative-active: rgb(201, 58, 58);
  --color-sentiment-negative: rgb(215, 74, 74);
  --color-sentiment-negative-hover: rgb(227, 89, 89);

  --color-product-forbidden-planet--active: rgb(232, 159, 144);
  --color-product-forbidden-planet: rgb(245, 177, 164);
  --color-product-forbidden-planet--hover: rgb(255, 195, 184);

  --color-product-tiny-clanger--active: rgb(232, 132, 166);
  --color-product-tiny-clanger: rgb(244, 152, 183);
  --color-product-tiny-clanger--hover: rgb(255, 171, 199);

  --color-product-critical-mass--active: rgb(214, 75, 107);
  --color-product-critical-mass: rgb(227, 90, 122);
  --color-product-critical-mass--hover: rgb(240, 108, 139);

  --color-product-fantastic-voyage--active: rgb(156, 36, 82);
  --color-product-fantastic-voyage: rgb(167, 46, 94);
  --color-product-fantastic-voyage--hover: rgb(181, 60, 106);

  --color-product-paradise-lost--active: rgb(143, 99, 166);
  --color-product-paradise-lost: rgb(156, 115, 178);
  --color-product-paradise-lost--hover: rgb(171, 134, 191);

  --color-product-serene-sea--active: rgb(125, 143, 201);
  --color-product-serene-sea: rgb(144, 160, 214);
  --color-product-serene-sea--hover: rgb(163, 178, 227);

  --color-product-event-horizon--active: rgb(81, 85, 148);
  --color-product-event-horizon: rgb(96, 99, 161);
  --color-product-event-horizon--hover: rgb(113, 116, 173);

  --color-product-electric-dreams--active: rgb(46, 109, 191);
  --color-product-electric-dreams: rgb(59, 121, 204);
  --color-product-electric-dreams--hover: rgb(74, 136, 217);

  --color-product-outer-limits--active: rgb(108, 199, 235);
  --color-product-outer-limits: rgb(127, 214, 248);
  --color-product-outer-limits--hover: rgb(147, 222, 252);

  --color-product-giant-leap--active: rgb(69, 192, 217);
  --color-product-giant-leap: rgb(85, 205, 230);
  --color-product-giant-leap--hover: rgb(102, 219, 242);

  --color-product-moon-lagoon--active: rgb(25, 161, 176);
  --color-product-moon-lagoon: rgb(36, 173, 189);
  --color-product-moon-lagoon--hover: rgb(48, 186, 201);

  --color-product-space-invader--active: rgb(36, 133, 100);
  --color-product-space-invader: rgb(47, 145, 112);
  --color-product-space-invader--hover: rgb(58, 158, 125);

  --color-product-extraterrestrial--active: rgb(99, 189, 96);
  --color-product-extraterrestrial: rgb(116, 201, 113);
  --color-product-extraterrestrial--hover: rgb(133, 214, 131);

  --color-product-terra-form--active: rgb(115, 179, 62);
  --color-product-terra-form: rgb(128, 190, 76);
  --color-product-terra-form--hover: rgb(142, 204, 92);

  --color-product-primeval-soup--active: rgb(186, 186, 15);
  --color-product-primeval-soup: rgb(200, 200, 25);
  --color-product-primeval-soup--hover: rgb(212, 212, 38);

  --color-product-future-shock--active: rgb(227, 223, 16);
  --color-product-future-shock: rgb(240, 236, 29);
  --color-product-future-shock--hover: rgb(252, 249, 43);

  --color-product-sun-maker--active: rgb(240, 201, 5);
  --color-product-sun-maker: rgb(252, 213, 18);
  --color-product-sun-maker--hover: rgb(255, 220, 46);

  --color-product-new-horizon--active: rgb(242, 178, 0);
  --color-product-new-horizon: rgb(255, 190, 10);
  --color-product-new-horizon--hover: rgb(254, 199, 49);

  --color-product-blast-off--active: rgb(237, 124, 43);
  --color-product-blast-off: rgb(249, 138, 57);
  --color-product-blast-off--hover: rgb(255, 148, 71);

  --color-product-crash-course--active: rgb(242, 93, 70);
  --color-product-crash-course: rgb(255, 109, 86);
  --color-product-crash-course--hover: rgb(255, 126, 106);

  --color-product-solar-rust--active: rgb(191, 118, 15);
  --color-product-solar-rust: rgb(205, 129, 26);
  --color-product-solar-rust--hover: rgb(217, 143, 39);

  --color-product-ground-control--active: rgb(145, 85, 45);
  --color-product-ground-control: rgb(158, 97, 57);
  --color-product-ground-control--hover: rgb(171, 110, 70);

  --color-product-space-oddity--active: rgb(176, 149, 76);
  --color-product-space-oddity: rgb(189, 163, 91);
  --color-product-space-oddity--hover: rgb(201, 176, 107);

  --color-product-rocky-planet--active: rgb(145, 128, 100);
  --color-product-rocky-planet: rgb(158, 142, 117);
  --color-product-rocky-planet--hover: rgb(171, 157, 135);

  --color-product-deep-thought--active: rgb(167, 162, 179);
  --color-product-deep-thought: rgb(187, 185, 192);
  --color-product-deep-thought--hover: rgb(204, 204, 204);

  --color-product-luna-dust--active: rgb(103, 129, 143);
  --color-product-luna-dust: rgb(120, 144, 156);
  --color-product-luna-dust--hover: rgb(138, 158, 168);

  --color-sentiment-negative--active: rgb(201, 58, 58);
  --color-sentiment-negative: rgb(215, 74, 74);
  --color-sentiment-negative--hover: rgb(227, 89, 89);

  --color-sentiment-positive--active: rgb(62, 148, 76);
  --color-sentiment-positive: rgb(76, 161, 90);
  --color-sentiment-positive--hover: rgb(90, 173, 104);

  --color-sentiment-neutral--active: var(--color-product-deep-thought--active);
  --color-sentiment-neutral: var(--color-product-deep-thought);
  --color-sentiment-neutral--hover: var(--color-product-deep-thought--hover);

  --color-social-twitter--active: rgb(16, 148, 230);
  --color-social-twitter: rgb(29, 161, 242);
  --color-social-twitter--hover: rgb(43, 174, 255);

  --color-social-facebook--active: rgb(48, 77, 140);
  --color-social-facebook: rgb(59, 89, 152);
  --color-social-facebook--hover: rgb(73, 102, 166);

  --color-social-instagram--active: rgb(171, 58, 133);
  --color-social-instagram: rgb(183, 71, 146);
  --color-social-instagram--hover: rgb(196, 86, 160);

  --color-better-together: rgb(240, 78, 78);
}
/* stylelint-enable */
