/* Hack: around webkits autofill styling */
@keyframes inputAutofillFix {
  to {
    background-color: transparent;
    color: inherit;
  }
}

@keyframes appear-standard {
  from { transform: scale3d(0.8, 0.8, 1); opacity: 0; }
  to   { transform: scale3d(1, 1, 1);     opacity: 1; }
}

@keyframes disappear-standard {
  from { transform: scale3d(1, 1, 1);     opacity: 1; }
  to   { transform: scale3d(0.8, 0.8, 1); opacity: 0; }
}

@keyframes appear-fade {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes disappear-fade {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

/* stylelint-disable declaration-no-important */
@media (max-width: 47.9375rem) {
  .ax-hidden-until--small  {
    display: none !important;
  }
}

@media (max-width: 61.9375rem) {
  .ax-hidden-until--medium  {
    display: none !important;
  }
}

@media (max-width: 74.9375rem) {
  .ax-hidden-until--large  {
    display: none !important;
  }
}

@media (min-width: 48rem) {
  .ax-visible-until--small  {
    display: none !important;
  }
}

@media (min-width: 62rem) {
  .ax-visible-until--medium  {
    display: none !important;
  }
}

@media (min-width: 75rem) {
  .ax-visible-until--large  {
    display: none !important;
  }
}

/* stylelint-enable */
.ax-space--x0 {
  margin-top: 0;
  margin-bottom: 0;
}

.ax-space--x1 {
  margin-top: var(--spacing-grid-size--x1);
  margin-bottom: var(--spacing-grid-size--x1);
}

.ax-space--x2 {
  margin-top: var(--spacing-grid-size--x2);
  margin-bottom: var(--spacing-grid-size--x2);
}

.ax-space--x3 {
  margin-top: var(--spacing-grid-size--x3);
  margin-bottom: var(--spacing-grid-size--x3);
}

.ax-space--x4 {
  margin-top: var(--spacing-grid-size--x4);
  margin-bottom: var(--spacing-grid-size--x4);
}

.ax-space--x5 {
  margin-top: var(--spacing-grid-size--x5);
  margin-bottom: var(--spacing-grid-size--x5);
}

.ax-space--x6 {
  margin-top: var(--spacing-grid-size--x6);
  margin-bottom: var(--spacing-grid-size--x6);
}

.ax-space--x8 {
  margin-top: var(--spacing-grid-size--x8);
  margin-bottom: var(--spacing-grid-size--x8);
}

.ax-space--x0,
.ax-space--x1,
.ax-space--x2,
.ax-space--x3,
.ax-space--x4,
.ax-space--x5,
.ax-space--x6,
.ax-space--x8 {
  &:first-child { margin-top: 0; }
  &:last-child  { margin-bottom: 0; }
}

.ax-sticky {
  position: sticky;
  z-index: var(--z-index-sticky);
}

.ax-container {
  position: relative;
}

.ax-cloak {
  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--transition-time-base);
  transition-timing-function: var(--transition-function);
  pointer-events: none;

  @nest .ax-cloak__container:hover &,
  &.ax-cloak--visible {
    opacity: 1;
    pointer-events: all;
  }
}

.ax-pointer--disabled {
  pointer-events: none;
}
