@import '../../materials/colors';
@import '../../materials/sizing';

:root {
  --ax-bar-bar-label-spacing: calc(var(--spacing-grid-size) * 2);
}

.ax-bar-chart__bar-container {
  position: relative;
  flex: 1 1 0%;
}

.ax-bar-chart__bar {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.ax-bar-chart__bar-label {
  flex: 0 0 auto;
  margin-bottom: var(--ax-bar-bar-label-spacing);
}

.ax-bar-chart__bar-rect {
  flex: 0 1 0%;
}

.ax-bar-chart__bar-rect--rose { background-color: var(--color-brand-rose); }
.ax-bar-chart__bar-rect--pink { background-color: var(--color-brand-pink); }
.ax-bar-chart__bar-rect--purple { background-color: var(--color-brand-purple); }
.ax-bar-chart__bar-rect--lilac { background-color: var(--color-brand-lilac); }
.ax-bar-chart__bar-rect--blue { background-color: var(--color-brand-blue); }
.ax-bar-chart__bar-rect--teal { background-color: var(--color-brand-teal); }
.ax-bar-chart__bar-rect--green { background-color: var(--color-brand-green); }
.ax-bar-chart__bar-rect--chartreuse { background-color: var(--color-brand-chartreuse); }
.ax-bar-chart__bar-rect--amber { background-color: var(--color-brand-amber); }
.ax-bar-chart__bar-rect--orange { background-color: var(--color-brand-orange); }
.ax-bar-chart__bar-rect--brown { background-color: var(--color-brand-brown); }
.ax-bar-chart__bar-rect--grey { background-color: var(--color-brand-grey); }
