@import '../../materials/colors';
@import '../../materials/sizing';
@import '../vars';

:root {
  --cmp-benchmark-hang-over: calc(var(--spacing-grid-size) * 2);
}

.ax-bar-chart__bars {
  position: relative;
  padding: var(--cmp-benchmark-hang-over) 0;
}

.ax-bar-chart__benchmark-line-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding-right: var(--cmp-chart-overflow-space);
  pointer-events: none;
}

.ax-bar-chart__benchmark-line {
  position: relative;
  height: 100%;
}

.ax-bar-chart__benchmark-line-path {
  position: absolute;
  top: 0;
  bottom: 0;
  border-right: var(--cmp-benchmark-line-width) solid var(--cmp-benchmark-line-color);
}
