@import '../../materials/colors';
@import '../../materials/sizing';
@import '../vars';

.ax-bar-chart__bars {
  position: relative;
}

.ax-bar-chart__benchmark-line-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.ax-bar-chart__benchmark-line {
  position: relative;
  height: 100%;
}

.ax-bar-chart__benchmark-line-path {
  position: absolute;
  top: 0;
  bottom: 0;
  border-right: var(--cmp-benchmark-line-width) solid var(--cmp-benchmark-line-color);
}
