@import '../../materials/sizing';

:root {
  --ax-bar-chart-label-spacing: calc(var(--spacing-grid-size) * 3);
  --ax-bar-chart-group-spacing: calc(var(--spacing-grid-size) * 3);
}

.ax-bar-chart__group {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: var(--ax-bar-chart-group-spacing);
  text-align: center;

  &:last-child {
    margin-right: 0;
  }
}

.ax-bar-chart__group-bars {
  display: flex;
  flex: 1 1 0%;
}

.ax-bar-chart__group-label {
  flex: 0 0 auto;
  margin-top: var(--ax-bar-chart-label-spacing);
}
