.ax-data-points {
  display: block;
  overflow: visible;
}

.ax-data-point {
  color: inherit;
  fill: currentColor;
  transition-property: color;
  transition-duration: var(--transition-time-base);
  transition-timing-function: var(--transition-function);
}

.ax-data-point--tiny-clanger { color: var(--color-product-tiny-clanger); }
.ax-data-point--critical-mass { color: var(--color-product-critical-mass); }
.ax-data-point--paradise-lost { color: var(--color-product-paradise-lost); }
.ax-data-point--serene-sea { color: var(--color-product-serene-sea); }
.ax-data-point--giant-leap { color: var(--color-product-giant-leap); }
.ax-data-point--moon-lagoon { color: var(--color-product-moon-lagoon); }
.ax-data-point--terra-form { color: var(--color-product-terra-form); }
.ax-data-point--primeval-soup { color: var(--color-product-primeval-soup); }
.ax-data-point--new-horizon { color: var(--color-product-new-horizon); }
.ax-data-point--blast-off { color: var(--color-product-blast-off); }
.ax-data-point--ground-control { color: var(--color-product-ground-control); }
.ax-data-point--luna-dust { color: var(--color-product-luna-dust); }

.ax-data-points--clickable {
  cursor: pointer;

  &:hover {
    & .ax-data-point--tiny-clanger { color: var(--color-product-tiny-clanger--hover); }
    & .ax-data-point--critical-mass { color: var(--color-product-critical-mass--hover); }
    & .ax-data-point--paradise-lost { color: var(--color-product-paradise-lost--hover); }
    & .ax-data-point--serene-sea { color: var(--color-product-serene-sea--hover); }
    & .ax-data-point--giant-leap { color: var(--color-product-giant-leap--hover); }
    & .ax-data-point--moon-lagoon { color: var(--color-product-moon-lagoon--hover); }
    & .ax-data-point--terra-form { color: var(--color-product-terra-form--hover); }
    & .ax-data-point--primeval-soup { color: var(--color-product-primeval-soup--hover); }
    & .ax-data-point--new-horizon { color: var(--color-product-new-horizon--hover); }
    & .ax-data-point--blast-off { color: var(--color-product-blast-off--hover); }
    & .ax-data-point--ground-control { color: var(--color-product-ground-control--hover); }
    & .ax-data-point--luna-dust { color: var(--color-product-luna-dust--hover); }
  }

  &:active {
    & .ax-data-point--tiny-clanger { color: var(--color-product-tiny-clanger--active); }
    & .ax-data-point--critical-mass { color: var(--color-product-critical-mass--active); }
    & .ax-data-point--paradise-lost { color: var(--color-product-paradise-lost--active); }
    & .ax-data-point--serene-sea { color: var(--color-product-serene-sea--active); }
    & .ax-data-point--giant-leap { color: var(--color-product-giant-leap--active); }
    & .ax-data-point--moon-lagoon { color: var(--color-product-moon-lagoon--active); }
    & .ax-data-point--terra-form { color: var(--color-product-terra-form--active); }
    & .ax-data-point--primeval-soup { color: var(--color-product-primeval-soup--active); }
    & .ax-data-point--new-horizon { color: var(--color-product-new-horizon--active); }
    & .ax-data-point--blast-off { color: var(--color-product-blast-off--active); }
    & .ax-data-point--ground-control { color: var(--color-product-ground-control--active); }
    & .ax-data-point--luna-dust { color: var(--color-product-luna-dust--active); }
  }
}
