@import '../../design-patterns/colors/vars';
@import '../../design-patterns/layout/vars';
@import '../../design-patterns/spacing/vars';

$login-header-height: 7.75rem;

.ax-login {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  padding: 0 $page-padding-h;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: var(--color-context-text);
}

.ax-login__header {
  flex: 0 1 auto;
  min-height: $login-header-height;
}

.ax-login__header-container {
  max-width: $layout-width-md;
  height: var(--login-logo-height);
  margin: 0 auto;
}

.ax-login__body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 $login-header-height;
}

.ax-login__form {
  width: $layout-width-xs;
  max-width: 100%;
  margin: 0 auto;
}
