@import '../../materials/layout';
@import '../../materials/sizing';

:root {
  --login-header-height: 7.75rem;
}

.ax-login {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  padding: 0 var(--page-padding-horizontal);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.ax-login__header {
  flex: 0 1 auto;
  min-height: var(--login-header-height);
}

.ax-login__header-container {
  max-width: var(--layout-width-medium);
  margin: 0 auto;
}

.ax-login__body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 var(--login-header-height);
}

.ax-login__form {
  width: var(--layout-width-tiny);
  max-width: 100%;
  margin: 0 auto;
}
