.ax-logo {
  max-width: 100%;
}

.cls-1 {
  fill: #fff;
}

.cls-2 {
  fill: #3f3f3f;
}

.Anon-3 {
  fill: #57b7dd;
}

.Anon-2 {
  fill: #f99132;
}

.Anon-5 {
  fill: #a98bbc;
}

.Anon-4 {
  fill: #ff6d56;
}

.Anon-12102 {
  fill: #8ac539;
}

.cls-3 {
  fill: #ffbe0a;
}
