@import '../../materials/animations';
@import '../../materials/layout';
@import '../../materials/sizing';

:root {
  --cmp-chart-table-row-padding: calc((var(--spacing-grid-size) * 3) / 2);
}

@media (--screen-less-than-small) {
  .ax-chart-table--responsive {
    & .ax-chart-table__grid-line-svg:nth-child(even),
    & .ax-chart-table__axis-label:nth-child(even) {
      visibility: hidden;
    }
  }
}

.ax-chart-table__axis-button-container {
  flex-shrink: 0;
}

.ax-chart-table__axis-row-container {
  display: flex;
}

.ax-chart-table__collapse-expand-text {
  margin-left: calc(var(--spacing-grid-size) * 2);
}

.ax-chart-table__cell {
  padding-top: var(--cmp-chart-table-row-padding);
  padding-bottom: var(--cmp-chart-table-row-padding);
}

.ax-chart-table__cell:first-child {
  padding-left: calc(var(--spacing-grid-size) * 6);
}

.ax-chart-table,
.ax-chart-table__rows {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.ax-chart-table__rows-container {
  overflow-y: hidden;
  transition-property: height;
  transition-duration: var(--transition-time-base);
  transition-timing-function: var(--transition-function);
}
