@import '../../materials/colors';
@import '../../materials/sizing';
@import './vars';

.ax-context-box {
  position: relative;
}

.ax-context-box--padding-small {
  padding: var(--cmp-context-padding-small);
}

.ax-context-box--padding-large {
  padding: var(--cmp-context-padding-large);
}

.ax-context-box + .ax-context-box::before {
  content: '';
  position: absolute;
  top: 0;
  border-bottom-width: var(--component-border-width);
  border-bottom-style: solid;
}

.ax-context-box--padding-small::before {
  right: var(--cmp-context-padding-small);
  left: var(--cmp-context-padding-small);
}

.ax-context-box--padding-none::before,
.ax-context-box--padding-large::before {
  right: var(--cmp-context-padding-large);
  left: var(--cmp-context-padding-large);
}

.ax-context--dark .ax-context-box::before {
  border-bottom-color: var(--color-theme-dark-border-subtle);
}

.ax-context--light .ax-context-box::before {
  border-bottom-color: var(--color-theme-light-border-subtle);
}
