:root {
  --cmp-context-menu-item-padding-vertical: calc(var(--spacing-grid-size) * 3);
}

.ax-context-menu__item-single,
.ax-context-menu__item-multi {
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--cmp-context-menu-item-padding-vertical) var(--cmp-context-padding-large);
}

.ax-context-menu__item-single {
  outline: 0;
  border: 0;
  background-color: var(--color-theme-background);
  color: var(--color-theme-text);
  text-align: left;
  transition-property: background-color, color;
  transition-duration: var(--transition-time-base);
  transition-timing-function: var(--transition-function);

  &:hover {
    background-color: var(--color-ui-accent--hover);
    color: var(--color-ui-white-noise);
    cursor: pointer;
  }
}

.ax-context-menu__item-single:disabled,
.ax-context-menu__item-multi--disabled {
  background-color: transparent;
  color: var(--color-theme-text--disabled);
  cursor: default;
}

.ax-context-menu__item-content {
  flex: 1 1 auto;
}

.ax-context-menu__item-icon {
  flex: 0 0 auto;
  margin-left: var(--spacing-grid-size--x2);
}
