@import '../../design-patterns/animations/mixins';
@import '../../design-patterns/colors/vars';
@import '../../design-patterns/spacing/vars';

.ax-context-menu__item {
  @include transition((background-color, color));

  background-color: var(--color-context-background);
  color: var(--color-context-text);

  &:hover {
    background-color: $color-ui-primary-2;
    color: $color-ui-light-2;
  }
}

.ax-context-menu__item-link {
  display: block;
  padding: ($spacing-grid-size * 3) ($spacing-grid-size * 6);
}
