:root {
  /**
   * The designs of the tip is 1.5rem from corner to corner. To calculate
   * the pre-rotated square we use `Math.sqrt((1.5rem**2)/2)`
   */
  --cmp-context-tip-size: 1.0606601717798212rem;
  --cmp-context-tip-edge-to-edge: 1.5rem;
  --cmp-context-tip-space: calc(var(--spacing-grid-size) * 2);
  --cmp-context-padding-small: calc(var(--spacing-grid-size) * 4);
  --cmp-context-padding-large: calc(var(--spacing-grid-size) * 6);
}

.ax-context {
  position: relative;
  border-radius: var(--component-border-radius);
  box-shadow: var(--drop-shadow-1), var(--drop-shadow-2);
}

.ax-context__content {
  position: relative;
  border-radius: var(--component-border-radius);
  background-color: var(--color-context-background);
  color: var(--color-context-text);
  overflow-y: auto;
  /* stylelint-disable */
  /* ensures rounded corners in Safari */
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  /* stylelint-enable */
}

.ax-context__arrow {
  position: absolute;
  width: var(--cmp-context-tip-size);
  height: var(--cmp-context-tip-size);
  transform: rotate(45deg);
  box-shadow: var(--drop-shadow-1), var(--drop-shadow-2);
  background-color: var(--color-context-background);
  pointer-events: none;

  @nest .ax-context--top & { bottom: calc(var(--cmp-context-tip-size) * -0.5); }
  @nest .ax-context--right & { left: calc(var(--cmp-context-tip-size) * -0.5); }
  @nest .ax-context--bottom & { top: calc(var(--cmp-context-tip-size) * -0.5); }
  @nest .ax-context--left & { right: calc(var(--cmp-context-tip-size) * -0.5); }
}

.ax-context--top .ax-context__arrow,
.ax-context--bottom .ax-context__arrow {
  margin: 0 var(--cmp-context-tip-size);
}

.ax-context--left .ax-context__arrow,
.ax-context--right .ax-context__arrow {
  margin: var(--cmp-context-tip-size) 0;
}
