.ax-context-box {
  position: relative;
}

.ax-context-box--padding-small {
  padding: var(--cmp-context-padding-small);
}

.ax-context-box--padding-large {
  padding: var(--cmp-context-padding-large);
}

.ax-context-box + .ax-context-box::before {
  content: '';
  position: absolute;
  top: 0;
  border-bottom: var(--component-border-width) solid var(--color-context-border-subtle);
}

.ax-context-box--padding-small::before {
  right: var(--cmp-context-padding-small);
  left: var(--cmp-context-padding-small);
}

.ax-context-box--padding-none::before,
.ax-context-box--padding-large::before {
  right: var(--cmp-context-padding-large);
  left: var(--cmp-context-padding-large);
}
