@import '../../design-patterns/animations/mixins';
@import '../../design-patterns/colors/vars';
@import '../../design-patterns/spacing/vars';

.ax-context-menu__item {
  @include transition((background-color, color));

  display: block;
  width: 100%;
  padding: ($spacing-grid-size * 3) ($spacing-grid-size * 6);
  background-color: var(--color-context-background);
  color: var(--color-context-text);
  text-align: left;

  &:hover:not(:disabled) {
    background-color: $color-ui-primary-2;
    color: $color-ui-light-2;
  }

  &:disabled {
    color: var(--color-context-text-disabled);
  }
}
