@import '../../../materials/colors';
@import '../../../materials/sizing';

.dm-color-swatch {
  height: calc(var(--spacing-grid-size) * 16);
  border-top: 0.0625rem solid var(--color-context-border);
  border-bottom: 0.0625rem solid var(--color-context-border);

  &--ui-dark-0 { background-color: var(--color-ui-dark-0); }
  &--ui-dark-1 { background-color: var(--color-ui-dark-1); }
  &--ui-dark-2 { background-color: var(--color-ui-dark-2); }
  &--ui-light-0 { background-color: var(--color-ui-light-0); }
  &--ui-light-1 { background-color: var(--color-ui-light-1); }
  &--ui-light-2 { background-color: var(--color-ui-light-2); }
  &--ui-white { background-color: var(--color-ui-white); }
  &--ui-primary-0 { background-color: var(--color-ui-primary-0); }
  &--ui-primary-1 { background-color: var(--color-ui-primary-1); }
  &--ui-primary-2 { background-color: var(--color-ui-primary-2); }
  &--ui-success { background-color: var(--color-ui-success); }
  &--ui-warning { background-color: var(--color-ui-warning); }
  &--ui-error { background-color: var(--color-ui-error); }
  &--ui-highlight { background-color: var(--color-ui-highlight); }

  &--brand-rose-0 { background-color: var(--color-brand-rose-0); }
  &--brand-rose-1 { background-color: var(--color-brand-rose-1); }
  &--brand-rose-2 { background-color: var(--color-brand-rose-2); }
  &--brand-pink-0 { background-color: var(--color-brand-pink-0); }
  &--brand-pink-1 { background-color: var(--color-brand-pink-1); }
  &--brand-pink-2 { background-color: var(--color-brand-pink-2); }
  &--brand-purple-0 { background-color: var(--color-brand-purple-0); }
  &--brand-purple-1 { background-color: var(--color-brand-purple-1); }
  &--brand-purple-2 { background-color: var(--color-brand-purple-2); }
  &--brand-lilac-0 { background-color: var(--color-brand-lilac-0); }
  &--brand-lilac-1 { background-color: var(--color-brand-lilac-1); }
  &--brand-lilac-2 { background-color: var(--color-brand-lilac-2); }
  &--brand-blue-0 { background-color: var(--color-brand-blue-0); }
  &--brand-blue-1 { background-color: var(--color-brand-blue-1); }
  &--brand-blue-2 { background-color: var(--color-brand-blue-2); }
  &--brand-teal-0 { background-color: var(--color-brand-teal-0); }
  &--brand-teal-1 { background-color: var(--color-brand-teal-1); }
  &--brand-teal-2 { background-color: var(--color-brand-teal-2); }
  &--brand-green-0 { background-color: var(--color-brand-green-0); }
  &--brand-green-1 { background-color: var(--color-brand-green-1); }
  &--brand-green-2 { background-color: var(--color-brand-green-2); }
  &--brand-chartreuse-0 { background-color: var(--color-brand-chartreuse-0); }
  &--brand-chartreuse-1 { background-color: var(--color-brand-chartreuse-1); }
  &--brand-chartreuse-2 { background-color: var(--color-brand-chartreuse-2); }
  &--brand-amber-0 { background-color: var(--color-brand-amber-0); }
  &--brand-amber-1 { background-color: var(--color-brand-amber-1); }
  &--brand-amber-2 { background-color: var(--color-brand-amber-2); }
  &--brand-orange-0 { background-color: var(--color-brand-orange-0); }
  &--brand-orange-1 { background-color: var(--color-brand-orange-1); }
  &--brand-orange-2 { background-color: var(--color-brand-orange-2); }
  &--brand-brown-0 { background-color: var(--color-brand-brown-0); }
  &--brand-brown-1 { background-color: var(--color-brand-brown-1); }
  &--brand-brown-2 { background-color: var(--color-brand-brown-2); }
  &--brand-grey-0 { background-color: var(--color-brand-grey-0); }
  &--brand-grey-1 { background-color: var(--color-brand-grey-1); }
  &--brand-grey-2 { background-color: var(--color-brand-grey-2); }

  &--context-border-subtle { background-color: var(--color-context-border-subtle); }
  &--context-border { background-color: var(--color-context-border); }
  &--context-background { background-color: var(--color-context-background); }
  &--context-background-disabled { background-color: var(--color-context-background-disabled); }
  &--context-background-faded { background-color: var(--color-context-background-faded); }
  &--context-background-subtle { background-color: var(--color-context-background-subtle); }
  &--context-text { background-color: var(--color-context-text); }
  &--context-text-disabled { background-color: var(--color-context-text-disabled); }
  &--context-text-subtle { background-color: var(--color-context-text-subtle); }
}
