@import '../../../materials/colors';
@import '../../../materials/sizing';

.dm-color-swatch {
  height: calc(var(--spacing-grid-size) * 16);
  border-top: 0.0625rem solid var(--color-context-border);
  border-bottom: 0.0625rem solid var(--color-context-border);

  &--ui-dark--dark { background-color: var(--color-ui-dark--dark); }
  &--ui-dark { background-color: var(--color-ui-dark); }
  &--ui-dark--light { background-color: var(--color-ui-dark--light); }
  &--ui-light--dark { background-color: var(--color-ui-light--dark); }
  &--ui-light { background-color: var(--color-ui-light); }
  &--ui-light--light { background-color: var(--color-ui-light--light); }
  &--ui-white { background-color: var(--color-ui-white); }
  &--ui-primary--dark { background-color: var(--color-ui-primary--dark); }
  &--ui-primary { background-color: var(--color-ui-primary); }
  &--ui-primary--light { background-color: var(--color-ui-primary--light); }
  &--ui-success { background-color: var(--color-ui-success); }
  &--ui-warning { background-color: var(--color-ui-warning); }
  &--ui-error { background-color: var(--color-ui-error); }
  &--ui-highlight { background-color: var(--color-ui-highlight); }

  &--brand-rose--dark { background-color: var(--color-brand-rose--dark); }
  &--brand-rose { background-color: var(--color-brand-rose); }
  &--brand-rose--light { background-color: var(--color-brand-rose--light); }
  &--brand-pink--dark { background-color: var(--color-brand-pink--dark); }
  &--brand-pink { background-color: var(--color-brand-pink); }
  &--brand-pink--light { background-color: var(--color-brand-pink--light); }
  &--brand-purple--dark { background-color: var(--color-brand-purple--dark); }
  &--brand-purple { background-color: var(--color-brand-purple); }
  &--brand-purple--light { background-color: var(--color-brand-purple--light); }
  &--brand-lilac--dark { background-color: var(--color-brand-lilac--dark); }
  &--brand-lilac { background-color: var(--color-brand-lilac); }
  &--brand-lilac--light { background-color: var(--color-brand-lilac--light); }
  &--brand-blue--dark { background-color: var(--color-brand-blue--dark); }
  &--brand-blue { background-color: var(--color-brand-blue); }
  &--brand-blue--light { background-color: var(--color-brand-blue--light); }
  &--brand-teal--dark { background-color: var(--color-brand-teal--dark); }
  &--brand-teal { background-color: var(--color-brand-teal); }
  &--brand-teal--light { background-color: var(--color-brand-teal--light); }
  &--brand-green--dark { background-color: var(--color-brand-green--dark); }
  &--brand-green { background-color: var(--color-brand-green); }
  &--brand-green--light { background-color: var(--color-brand-green--light); }
  &--brand-chartreuse--dark { background-color: var(--color-brand-chartreuse--dark); }
  &--brand-chartreuse { background-color: var(--color-brand-chartreuse); }
  &--brand-chartreuse--light { background-color: var(--color-brand-chartreuse--light); }
  &--brand-amber--dark { background-color: var(--color-brand-amber--dark); }
  &--brand-amber { background-color: var(--color-brand-amber); }
  &--brand-amber--light { background-color: var(--color-brand-amber--light); }
  &--brand-orange--dark { background-color: var(--color-brand-orange--dark); }
  &--brand-orange { background-color: var(--color-brand-orange); }
  &--brand-orange--light { background-color: var(--color-brand-orange--light); }
  &--brand-brown--dark { background-color: var(--color-brand-brown--dark); }
  &--brand-brown { background-color: var(--color-brand-brown); }
  &--brand-brown--light { background-color: var(--color-brand-brown--light); }
  &--brand-grey--dark { background-color: var(--color-brand-grey--dark); }
  &--brand-grey { background-color: var(--color-brand-grey); }
  &--brand-grey--light { background-color: var(--color-brand-grey--light); }

  &--context-border-subtle { background-color: var(--color-context-border-subtle); }
  &--context-border { background-color: var(--color-context-border); }
  &--context-background { background-color: var(--color-context-background); }
  &--context-background-disabled { background-color: var(--color-context-background-disabled); }
  &--context-background-faded { background-color: var(--color-context-background-faded); }
  &--context-background-subtle { background-color: var(--color-context-background-subtle); }
  &--context-text { background-color: var(--color-context-text); }
  &--context-text-disabled { background-color: var(--color-context-text-disabled); }
  &--context-text-subtle { background-color: var(--color-context-text-subtle); }
}
