@import '~axiom/sass/core/mixins';
@import '~axiom/sass/components/_mixins/scheme';

// sass-lint:disable no-qualifying-elements

pre[class*='language-'] {
  @include space-block();

  padding: $component-padding-v-lg $component-padding-h-base;
  border: $component-border-width-base solid get-color($color-grey, 100);
  border-radius: $border-radius-base;
  background-color: get-color($color-grey, 50);
}
