.ax-position {
  margin: calc(var(--cmp-context-tip-edge-to-edge) * 0.5);
  z-index: var(--z-index-position);
}

.ax-position__mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: calc(var(--z-index-position) - 1);
}
