@import '../../materials/colors';

.ax-progress-infinite__arc {
  fill: none;
  animation: spin 1s linear infinite;
}

.ax-progress-infinite__arc-gradient-stop--subtle {
  stop-color: var(--color-context-background-subtle);
}

.ax-progress-infinite__arc-gradient-stop--white {
  stop-color: var(--color-ui-light-1);
}

.ax-progress-infinite__arc-gradient-stop--subtle:last-of-type,
.ax-progress-infinite__arc-gradient-stop--white:last-of-type {
  stop-opacity: 0;
}
