@import '../typography/_vars.js';

@mixin heading($heading) {
  @if (map-has-key($font-headings, $heading)) {
    $heading: map-get($font-headings, $heading);
    $margin: map-get($heading, margin);
    $size: map-get($heading, size);
    $family: map-get($heading, family);
    $family-index: index($font-heading-families, $family);

    margin: $margin;
    font-family: $family;
    font-size: $size;
    font-weight: $font-weight-base;
    line-height: $line-height-dyn;

    &:first-child { margin-top: 0; }
    &:last-child  { margin-bottom: 0; }

    @if ($family-index != 1) {
      .ax-text--weak {
        font-family: nth($font-heading-families, $family-index - 1);
      }
    }

    @if ($family-index != length($font-heading-families)) {
      strong {
        font-family: nth($font-heading-families, $family-index + 1);
        font-weight: $font-weight-base;
      }
    }
  }
}
