@import '../../design-patterns/spacing/vars';
@import '../../design-patterns/spacing/mixins';
@import './vars';

$heading-map: (
  'display': ($font-size-heading-display, $line-height-heading-display, $font-weight-thin, $font-weight-medium, -1),
  'headline': ($font-size-heading-headline, $line-height-heading-headline, -1, $font-weight-medium, -1),
  'title': ($font-size-heading-title, $line-height-heading-title, -1, $font-weight-regular, $font-weight-bold),
  'large': ($font-size-heading-large, $line-height-heading-large, -1, $font-weight-regular, $font-weight-bold),
);

@mixin heading($style) {
  $font-config: map-get($heading-map, $style);
  $size: nth($font-config, 1);
  $line-height: nth($font-config, 2);
  $weight-weak: nth($font-config, 3);
  $weight-standard: nth($font-config, 4);
  $weight-strong: nth($font-config, 5);

  @include space-block();

  font-size: $size;
  font-weight: $weight-standard;
  line-height: $line-height;

  @if $weight-weak != -1 {
    .ax-text--weak {
      font-weight: $weight-weak;
    }
  }

  @if $weight-strong != -1 {
    .ax-text--strong {
      font-weight: $weight-strong;
    }
  }
}
