$font-family-body: 'Roboto', Helvetica, Arial, sans-serif;

$font-size-body: 14px;
$font-size-md: 12px;
$font-size-sm: 11px;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 500;

$line-height-body: 1.6;
$line-height-body-px: floor($font-size-body * $line-height-body);
$line-height-heading: 1.2;
