@import '../../design-patterns/spacing/vars';
@import '../vars';
@import './vars';

.ax-heading--display {
  font-size: $font-size-display;
  font-weight: $font-weight-medium;
  letter-spacing: $letter-spacing-display;
  line-height: $line-height-display;

  &.ax-text--weak,
  .ax-text--weak {
    font-weight: $font-weight-display-weak;
  }
}

.ax-heading--headline {
  font-size: $font-size-headline;
  font-weight: $font-weight-headline-standard;
  letter-spacing: $letter-spacing-headline;
  line-height: $line-height-headline;
}

.ax-heading--title {
  font-size: $font-size-title;
  font-weight: $font-weight-title-standard;
  letter-spacing: $letter-spacing-title;
  line-height: $line-height-title;

  &.ax-text--strong,
  .ax-text--strong {
    font-weight: $font-weight-title-strong;
  }
}

.ax-heading--large {
  font-size: $font-size-large;
  font-weight: $font-weight-large-standard;
  line-height: $line-height-large;

  &.ax-text--strong,
  .ax-text--strong {
    font-weight: $font-weight-large-strong;
  }
}

.ax-heading--underline {
  &.ax-heading--display,
  &.ax-heading--headline {
    border-bottom: $component-border-width solid var(--color-context-border);
  }

  &.ax-heading--display  {
    padding: 0 0 ($spacing-grid-size * 3);
  }

  &.ax-heading--headline {
    padding: 0 0 ($spacing-grid-size * 2);
  }
}
