@import '../../design-patterns/colors/_vars.js';
@import '../../design-patterns/colors/mixins';


// Links
a {
  position: relative;
  color: inherit;
  font-style: inherit;
  text-decoration: inherit;

  &:hover {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
  }
}


// sass-lint:disable no-qualifying-elements
a.ax-link {
  // Color links but this will need to be
  // suppressed for things like menu.
  &:not(.ax-link--inherit-color) {
    color: get-color($color-accent);

    &:hover {
      color: get-color($color-accent, 600);
    }
  }

  // Underline for main links but this will need to be
  // suppressed for things like menu links and icons.
  &:not(.ax-link--no-decoration) {
    &:hover {
      text-decoration: underline;
    }
  }
}
// sass-lint:enable no-qualifying-elements
