@import '../../design-patterns/animations/mixins';
@import '../../design-patterns/colors/vars';

// Links
a {
  @include transition((color));

  color: inherit;
  font-style: inherit;
  text-decoration: inherit;

  &:hover,
  &:active {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
  }
}

.ax-link--style-normal {
  color: $color-ui-primary-1;

  &:hover  { color: $color-ui-primary-2; }
  &:active { color: $color-ui-primary-0; }
}

.ax-link--style-subtle {
  color: var(--color-context-text);

  &:hover  { color: $color-ui-primary-2; }
  &:active { color: $color-ui-primary-0; }
}

.ax-link--style-light {
  color: $color-theme-dark-context-text-subtle;

  &:hover,
  &:active {
    color: $color-theme-dark-context-text;
  }
}
