.ax-link {
  color: inherit;
  font-style: inherit;
  text-decoration: inherit;
  transition-property: color;
  transition-duration: var(--transition-time-base);
  transition-timing-function: var(--transition-function);

  &:hover,
  &:active {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
  }
}

.ax-link--style-normal {
  color: var(--color-ui-accent);

  &:hover  { color: var(--color-ui-accent--hover); }
  &:active { color: var(--color-ui-accent--active); }
}

.ax-link--style-subtle {
  color: var(--color-theme-text);

  &:hover  { color: var(--color-ui-accent--hover); }
  &:active { color: var(--color-ui-accent--active); }
}

.ax-link--style-light {
  color: var(--color-theme-night-text--subtle);

  &:hover,
  &:active {
    color: var(--color-theme-night-text);
  }
}
