@import '../../design-patterns/colors/vars';
@import '../../design-patterns/spacing/vars';
@import '../../design-patterns/spacing/mixins';

// List styling
// sass-lint:disable no-qualifying-elements

.ax-list {
  @include space-block();
}

.ax-list--inline,
.ax-list--inline {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  > li {
    padding: 0 $component-padding-sm 0 0;
    list-style: none;

    &::after {
      margin: 0 0 0 $component-padding-sm;
      color: $color-context-component-border;
      content: '|';
    }

    &:last-child {
      padding-right: 0;

      &::after {
        margin-left: 0;
        content: '';
      }
    }
  }
}

// sass-lint:enable no-qualifying-elements
