@import '../../design-patterns/spacing/vars';

$label-spacing: $spacing-grid-size * 2;

.ax-label-group {
  margin-bottom: -$label-spacing;

  > .ax-label {
    margin-right: $label-spacing;
    margin-bottom: $label-spacing;
  }
}
