@import '../../design-patterns/colors/vars';
@import '../../design-patterns/layout/mixins';
@import '../../design-patterns/layout/vars';
@import '../../design-patterns/spacing/mixins';
@import '../../design-patterns/spacing/vars';
@import '../typography/vars';
@import '../vars';

// Label: Base
.ax-label {
  @include space-inline();

  display: inline-flex;
  position: relative;
  align-items: center;
  border-width: $component-border-width;
  border-style: solid;
  border-radius: $component-border-radius;
  background-color: transparent;
  line-height: $component-line-height;
  text-align: center;
}

.ax-label--small {
  padding: $component-padding-vertical-small $component-padding-horizontal-small;
  font-size: $font-size-small;
}

.ax-label--medium {
  padding: $component-padding-vertical-medium $component-padding-horizontal-medium;
  font-size: $font-size-heading-large;
}


// Label: Full width
@mixin label-full-width {
  @include space-block();

  display: block;
  width: 100%;
}

.ax-label--full {
  @include label-full-width;
}

@include for-each-breakpoint {
  @include screen-less-than {
    .ax-label--full--#{breakpoint-prop(id)} {
      @include label-full-width;
    }
  }
}


// Label: colors
.ax-label--white {
  border-color: var(--color-context-border-subtle);
  background-color: $color-ui-white;
  color: $color-ui-dark-0;
}

.ax-label--grey {
  border-color: transparent;
  background-color: $color-ui-light-2;
  color: $color-ui-dark-0;
}

.ax-label--valid {
  border-color: transparent;
  background-color: $color-ui-valid;
  color: $color-ui-light-2;
}

.ax-label--invalid {
  border-color: transparent;
  background-color: $color-ui-invalid;
  color: $color-ui-light-2;
}
