@import '../../design-patterns/spacing/vars';

$label-spacing: $spacing-grid-size * 2;

// Label Group
.ax-label__group {
  margin-bottom: -$label-spacing;
  margin-left: -$label-spacing;

  > .ax-label {
    margin-bottom: $label-spacing;
    margin-left: $label-spacing;
  }
}
