@import '../../design-patterns/colors/mixins';
@import '../../design-patterns/colors/mixins';
@import '../../design-patterns/layout/mixins';
@import '../../design-patterns/layout/_vars.js';
@import '../../design-patterns/spacing/mixins';
@import '../../design-patterns/spacing/_vars.js';
@import '../typography/vars';

// Label: Base
.ax-label {
  @include space-inline();

  display: inline-block;
  position: relative;
  border-width: $component-border-width;
  border-style: solid;
  border-radius: $component-border-radius;
  border-color: transparent;
  background-color: transparent;
  font-weight: $font-weight-bold;
  text-align: center;
  vertical-align: middle;
}

// Label: Sizing
.ax-label--small {
  padding: 0 $component-padding-sm;
  font-size: $font-size-md;
}

.ax-label--large {
  padding: $component-padding-sm;
}


// Label: Full width
@mixin label-full-width {
  @include space-block();

  display: block;
  width: 100%;
}

.ax-label--full {
  @include label-full-width;
}

@include for-each-breakpoint {
  @include screen-less-than {
    .ax-label--full--#{breakpoint-prop(id)} {
      @include label-full-width;
    }
  }
}


// Label: colors
@mixin label-color($color) {
  border-color: $color;
  background-color: $color;
  color: get-text-color($color);
}

.ax-label--white { @include label-color($color-white-0); }
.ax-label--grey { @include label-color($color-grey-1); }
.ax-label--red { @include label-color($color-red-0); }
.ax-label--pink { @include label-color($color-pink-0); }
.ax-label--orange { @include label-color($color-orange-0); }
.ax-label--orange-light { @include label-color($color-orange-light-0); }
.ax-label--yellow { @include label-color($color-yellow-0); }
.ax-label--green { @include label-color($color-green-0); }
.ax-label--blue { @include label-color($color-blue-0); }
.ax-label--blue-light { @include label-color($color-blue-light-0); }
.ax-label--purple { @include label-color($color-purple-0); }
