@import '../../design-patterns/colors/mixins';
@import '../../design-patterns/layout/mixins';
@import '../../design-patterns/layout/_vars.js';
@import '../../design-patterns/spacing/mixins';
@import '../../design-patterns/spacing/_vars.js';
@import '../label/_vars.js';
@import '../typography/_vars.js';

$label-border-width: 1px;
$label-border-radius: 2px;

// Label: Base
.ax-label {
  @include space-inline($component-margin-h-sm);

  display: inline-block;
  position: relative;
  border-width: $label-border-width;
  border-style: solid;
  border-radius: $label-border-radius;
  border-color: transparent;
  background-color: transparent;
  font-weight: $font-weight-strong;
  text-align: center;
  vertical-align: middle;
}


// Label: Sizing
@each $label-size in $label-sizes {
  .ax-label--#{map-get($label-size, id)} {
    padding: map-get($label-size, padding-v) map-get($label-size, padding-h);
    font-size: map-get($label-size, font-size);
  }
}


// Label: Full width
@mixin label-full-width {
  @include space-block($component-margin-v-sm);

  display: block;
  width: 100%;
}

.ax-label--full {
  @include label-full-width;
}

@include for-each-breakpoint {
  @include screen-less-than {
    .ax-label--full--#{breakpoint-prop(id)} {
      @include label-full-width;
    }
  }
}


// Label: Colouring
@mixin label-color-filled($color) {
  border-color: get-color($color, 300);
  background-color: get-color($color, 50);
  color: get-color($color, 900);
}

@include for-each-color {
  .ax-label--#{color-prop(name)} {
    @include label-color-filled(color-prop(color));
  }
}

.ax-label--primary {
  @include label-color-filled($color-accent);
}


// Label: Icon
.ax-label__icon {
  margin-right: $component-margin-h-sm;
}
