@import '../../design-patterns/layout/mixins';
@import '../../design-patterns/schemes/mixins';
@import '../../design-patterns/spacing/mixins';
@import '../containers/mixins';

$label-border-width: 1px;
$label-border-radius: 2px;

// Label: Base
.ax-label {
  @include space-inline($component-margin-h-sm);

  display: inline-block;
  position: relative;
  border-width: $label-border-width;
  border-style: solid;
  border-radius: $label-border-radius;
  border-color: transparent;
  background-color: transparent;
  font-weight: $font-weight-strong;
  text-align: center;
  vertical-align: middle;
}


// Label: Sizing
.ax-label--sm {
  padding: 0 $component-padding-h-sm;
  font-size: $font-size-sm;
}

.ax-label--md {
  padding: $component-padding-v-sm $component-padding-h-sm;
  font-size: $font-size-md;
}

.ax-label--lg {
  padding: $component-padding-v-base $component-padding-h-base;
  font-size: $font-size-base;
}


// Label: Full width
@mixin label-full-width {
  @include space-block($component-margin-v-sm);

  display: block;
  width: 100%;
}

.ax-label--full {
  @include label-full-width;
}

@include for-each-breakpoint {
  @include screen-less-than {
    .ax-label--full--#{breakpoint-prop(id)} {
      @include label-full-width;
    }
  }
}


// Label: Colouring
@mixin label-color-filled($color) {
  border-color: get-color($color, 300);
  background-color: get-color($color, 50);
  color: get-color($color, 900);
}

@include for-each-scheme {
  @include for-each-color {
    .ax-label--#{color-prop(name)} {
      @include label-color-filled(color-prop(color));
    }
  }

  .ax-label--primary {
    @include label-color-filled(scheme-prop(primary));
  }
}


// Label: Icon
.ax-label__icon {
  margin-right: $component-margin-h-sm;
}


// Label Group
.ax-label__group {
  @include space-block($component-margin-v-base);
  @include inline-component-container(ax-label);
}
