@import '../../design-patterns/colors/mixins';
@import '../../design-patterns/colors/_vars.js';
@import '../../design-patterns/spacing/_vars.js';
@import '../form/_vars.js';

.ax-select__list-item {
  display: block;
  padding: $form-input-v-padding $form-input-h-padding;
  border-bottom: $form-input-border-width solid $input-border-color;

  &:last-child {
    border-bottom: 0;
  }
}

.ax-select__list-item--selectable {
  cursor: pointer;
}

.ax-select__list-item--active {
  background-color: get-color($color-grey, 50);
}

.ax-select__list-item--selected {
  background-color: get-color($color-primary, 50);
}
