@import '../../design-patterns/colors/vars';
@import '../../design-patterns/colors/mixins';
@import '../../design-patterns/spacing/vars';
@import '../form/vars';

.ax-select__list-item {
  display: block;
  padding: $component-padding-sm;
  border-bottom: $component-border-width solid $input-border-color;

  &:last-child {
    border-bottom: 0;
  }
}

.ax-select__list-item--selectable {
  cursor: pointer;
}

.ax-select__list-item--active {
  background-color: $color-grey-2;
}

.ax-select__list-item--selected {
  background-color: $color-primary-0;
  color: get-text-color($color-primary-0);
}
