@import '../form/_vars.js';
@import '../select/_vars.js';

.ax-select__list {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  transform: translateY(100%);
  border-right: $form-input-border-width solid $input-border-color;
  border-bottom: $form-input-border-width solid $input-border-color;
  border-left: $form-input-border-width solid $input-border-color;
  background-color: $input-background-color;
  list-style: none;
  overflow: auto;
  z-index: $z-index-select;
}

.ax-select__list--open {
  display: block;
}
