@import '../select/_vars.js';

.ax-select__mask {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-select - 1;
}

.ax-select__mask--open {
  display: block;
}
