@import '~axiom/sass/core/mixins';

.dm-doc-api__pre {
  @include space-block();
}

.dm-doc-api__code {
  border: $component-border-width-base solid get-color($color-grey, 100);
  background-color: get-color($color-grey, 50);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  white-space: normal;
}
