@import '../../design-patterns/animations/mixins';
@import '../../design-patterns/spacing/vars';

.ax-card--medium {
  padding: ($spacing-grid-size * 4);
}

.ax-card--large {
  padding: ($spacing-grid-size * 6);
}

.ax-card--compact {
  padding-right: 0;
  padding-left: 0;
}

.ax-card--clickable {
  @include transition((background-color));

  cursor: pointer;

  &:not(.ax-card--compact) {
    &:hover,
    &.ax-card--active {
      background-color: var(--color-context-background-disabled);
    }
  }
}
