@import '../../design-patterns/animations/mixins';
@import '../../design-patterns/colors/vars';

.ax-card-list__item {
  border-bottom: 1px solid var(--color-context-border);
  background-color: var(--color-context-background);

  &:last-child {
    border-bottom: 0;
  }
}

.ax-card-list__item--clickable {
  @include transition((background-color));

  cursor: pointer;
}

.ax-card-list__item--clickable:hover,
.ax-card-list__item--active {
  background-color: var(--color-context-background-disabled);
}
