@import '../../design-patterns/animations/mixins';
@import '../../design-patterns/spacing/mixins';
@import '../vars';

$card-medium-padding: $spacing-grid-size * 4;
$card-large-padding: $spacing-grid-size * 6;

.ax-card-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ax-card-list--medium {
  padding: $card-medium-padding 0;

  .ax-card {
    padding: $card-medium-padding;
  }
}

.ax-card-list--large  {
  padding: $card-large-padding 0;

  .ax-card {
    padding: $card-large-padding;
  }
}

.ax-card-list--compact {
  .ax-card {
    padding-right: 0;
    padding-left: 0;
  }
}

.ax-card-list--separators {
  padding-top: 0;
  padding-bottom: 0;

  .ax-card {
    border-bottom: $component-border-width solid var(--color-context-border);
  }
}

.ax-card--clickable {
  cursor: pointer;
}

.ax-card-list:not(.ax-card-list--compact) {
  .ax-card--clickable {
    @include transition((background-color));

    &:hover,
    &.ax-card--active {
      background-color: var(--color-context-background-disabled);
    }
  }
}


