@import '../../design-patterns/animations/mixins';
@import '../../design-patterns/colors/vars';

.ax-icon-link {
  @include transition((color));

  display: flex;
  color: var(--color-context-text-subtle);

  &:hover  {
    color: var(--color-context-text);
  }
}
