@import '../../design-patterns/colors/vars';
@import '../../design-patterns/spacing/vars';
@import '../vars';

.ax-icon-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: $color-ui-light-2;
  line-height: 0;
}

.ax-icon-indicator--small {
  width: $component-round-size-small;
  height: $component-round-size-small;
}

.ax-icon-indicator--medium {
  width: $component-round-size-medium;
  height: $component-round-size-medium;
}

.ax-icon-indicator--large {
  width: $component-round-size-large;
  height: $component-round-size-large;
}

.ax-icon-indicator--success { background-color: $color-ui-success; }
.ax-icon-indicator--warning { background-color: $color-ui-warning; }
.ax-icon-indicator--error   { background-color: $color-ui-error; }
.ax-icon-indicator--info    { background-color: $color-ui-primary-2; }
.ax-icon-indicator--subtle  { background-color: var(--color-context-background-subtle); }
