@import '../../design-patterns/animations/mixins';
@import '../../design-patterns/colors/vars';
@import '../../design-patterns/spacing/vars';
@import '../../design-patterns/spacing/mixins';

.ax-icon-button {
  @include space-inline();
  @include transition((background-color, border-color, color));

  padding: 0;
  border: 0 solid var(--color-context-border);
  border-style: solid;
  border-radius: 50%;
  color: var(--color-context-text-subtle);
  line-height: 0;

  &:hover {
    border-color: transparent;
    background-color: var(--color-context-border);
    color: $color-ui-primary-1;
  }

  &:active {
    border-color: transparent;
    background-color: $color-ui-primary-1;
    color: $color-ui-light-2;
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:active {
    border-color: var(--color-context-border);
    background-color: transparent;
    color: var(--color-context-text-disabled);
  }
}

.ax-icon-button--small {
  width: 1.5rem;
  height: 1.5rem;
  border-width: 0.0625rem;
}

.ax-icon-button--medium {
  width: 3rem;
  height: 3rem;
  border-width: 0.0625rem;
}

.ax-icon-button--large {
  width: 4.5rem;
  height: 4.5rem;
  border-width: 0.125rem;
}
