// Palette Colours
$color-ui-dark-0: #48464F;
$color-ui-dark-1: #525059;
$color-ui-dark-2: #706E77;

$color-ui-primary-0: #107EB4;
$color-ui-primary-1: #1F8DC3;
$color-ui-primary-2: #2E9CD2;

$color-ui-light-0: #E3E1EB;
$color-ui-light-1: #F2F0F9;
$color-ui-light-2: #F7F5FE;

$color-ui-white:   #FFFFFF;

$color-ui-valid: #00BE96;
$color-ui-invalid: #F0006E;

$color-brand-pink: #FF586F;
$color-brand-orange: #F46B00;
$color-brand-amber: #FF8F00;
$color-brand-yellow: #F7BE00;
$color-brand-green: #8EA53C;
$color-brand-aqua: #5FC3E6;
$color-brand-blue: #008EB4;
$color-brand-purple: #9C7CB6;
$color-brand-grey: #969C9E;

$drop-shadow: 0 0 0.375rem rgba($color-ui-dark-1, 0.30);
