$color-white-0: #fff;
$color-black-0: #000;

$color-grey-0: #f7f5f9;
$color-grey-1: #f2f0f9;
$color-grey-2: #edebf4;
$color-grey-3: #e8e6ef;
$color-grey-4: #e3e1ea;
$color-grey-5: #d4d2db;
$color-grey-6: #cac8d1;
$color-grey-7: #c0bec7;
$color-grey-8: #98969f;
$color-grey-9: #706e77;
$color-grey-10: #5c5a63;
$color-grey-11: #48464f;

$color-blue-0: #2997cd;
$color-blue-1: #1f8dc3;
$color-blue-2: #1583b9;

$color-red-0: #ff4949;
$color-pink-0: #ff586f;
$color-orange-0: #f46b00;
$color-orange-light-0: #ff8f00;
$color-yellow-0: #f6be00;
$color-green-0: #8ea53c;
$color-blue-light-0: #5fc3e6;
$color-purple-0: #9c7cb6;

$color-primary-0: $color-blue-0;
$color-primary-1: $color-blue-1;
$color-primary-2: $color-blue-2;

$text-color-light: $color-grey-0;
$text-color-subtle: $color-grey-5;
$text-color-dark: $color-grey-11;
