// Palette Colours
$color-ui-dark-0: #48464F;
$color-ui-dark-1: #525059;
$color-ui-dark-2: #706E77;

$color-ui-primary-0: #107EB4;
$color-ui-primary-1: #1F8DC3;
$color-ui-primary-2: #2E9CD2;

$color-ui-light-0: #E3E1EB;
$color-ui-light-1: #F2F0F9;
$color-ui-light-2: #F7F5FE;

$color-ui-white:   #FFFFFF;

$color-ui-success: #00BE96;
$color-ui-warning: #E0B651;
$color-ui-error: #FC4870;

$color-brand-rose: #F498B7;
$color-brand-pink: #ED556D;
$color-brand-purple: #9C73B2;
$color-brand-lilac: #90A0D6;
$color-brand-blue: #5FC3E6;
$color-brand-teal: #31A6AF;
$color-brand-green: #77B232;
$color-brand-chartreuse: #C1B816;
$color-brand-amber: #F9B800;
$color-brand-orange: #F38700;
$color-brand-brown: #AA6130;
$color-brand-grey: #78909C;

$drop-shadow: 0 0 0.375rem rgba($color-ui-dark-1, 0.30);
