@import './vars';

:root {
  #{--color-ui-dark-0}: $color-ui-dark-0;
  #{--color-ui-dark-1}: $color-ui-dark-1;
  #{--color-ui-dark-2}: $color-ui-dark-2;

  #{--color-ui-primary-0}: $color-ui-primary-0;
  #{--color-ui-primary-1}: $color-ui-primary-1;
  #{--color-ui-primary-2}: $color-ui-primary-2;

  #{--color-ui-light-0}: $color-ui-light-0;
  #{--color-ui-light-1}: $color-ui-light-1;
  #{--color-ui-light-2}: $color-ui-light-2;
  #{--color-ui-white}: $color-ui-white;

  #{--color-ui-valid}: $color-ui-valid;
  #{--color-ui-invalid}: $color-ui-invalid;

  #{--color-brand-pink}: $color-brand-pink;
  #{--color-brand-orange}: $color-brand-orange;
  #{--color-brand-amber}: $color-brand-amber;
  #{--color-brand-yellow}: $color-brand-yellow;
  #{--color-brand-green}: $color-brand-green;
  #{--color-brand-aqua}: $color-brand-aqua;
  #{--color-brand-blue}: $color-brand-blue;
  #{--color-brand-purple}: $color-brand-purple;
  #{--color-brand-grey}: $color-brand-grey;

  #{--color-context-component-border}: $color-context-component-border;

  #{--color-context-disabled-background}: $color-context-disabled-background;
  #{--color-context-disabled-text}: $color-context-disabled-text;
  #{--color-context-subtle-text}: $color-context-subtle-text;
  #{--color-context-standard-text}: $color-context-standard-text;
}
