@import '../core/mixins';
@import './_mixins/scheme';

.ax-billboard--image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.ax-billboard--overlay {
  position: relative;
  @include overlay();
}

.ax-billboard--sm { padding: $container-padding-v-sm 0; }
.ax-billboard--md { padding: $container-padding-v-base 0; }
.ax-billboard--lg { padding: $container-padding-v-lg 0; }

@include for-each-color {
  @each $variation, $hex in color-prop(color) {
    .ax-billboard--#{color-prop(name)}--#{$variation} {
      @include for-each-scheme {
        background-color: $hex;
        color: scheme-text-color($hex);
      }
    }
  }
}
