@import '../core/mixins';
@import './_mixins/scheme';

$button-padding-v-sm: 0;
$button-padding-h-sm: $component-padding-h-sm;
$button-font-size-sm: $font-size-sm;

$button-padding-v-md: $component-padding-v-sm;
$button-padding-h-md: $component-padding-h-sm;
$button-font-size-md: $font-size-md;

$button-padding-v-lg: $component-padding-v-base;
$button-padding-h-lg: $component-padding-h-base;
$button-font-size-lg: $font-size-base;

/**
 * Standard button styling
 */
button {
  margin: 0;
  padding: 0;
  outline: 0;
  background: none;
  border: none;
}

.ax-button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border-width: $component-border-width-base;
  border-style: solid;
  border-color: transparent;
  border-radius: $border-radius-base;
  background-color: transparent;
  font-weight: $font-weight-strong;
  text-align: center;
  cursor: pointer;

  &:hover {
    cursor: pointer;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    cursor: default;
  }

  @include space-inline($component-margin-h-sm);
  @include transition(( background-color, border-color, color ), $transition-time-fast);
}


/**
 * Size buttons
 */
.ax-button--sm {
  padding: $button-padding-v-sm $button-padding-h-sm;
  font-size: $button-font-size-sm;
}

.ax-button--md {
  padding: $button-padding-v-md $button-padding-h-md;
  font-size: $button-font-size-md;
}

.ax-button--lg {
  padding: $button-padding-v-lg $button-padding-h-lg;
  font-size: $button-font-size-lg;
}

/**
 * Full width buttons
 */
@mixin button-full-width {
  display: block;
  width: 100%;
  @include space-block($component-margin-v-sm);
}

.ax-button--full {
  @include button-full-width;
}

@include for-each-breakpoint {
  @include screen-less-than {
    .ax-button--full--#{breakpoint-prop(id)} {
      @include button-full-width;
    }
  }
}


/**
 * Button Colours
 */
@mixin button-color-filled($color) {
  border-color: get-color($color, 500);
  background-color: get-color($color, 400);
  color: scheme-text-color(get-color($color, 400));

  &:hover {
    border-color: get-color($color, 600);
    background-color: get-color($color, 500);
    color: scheme-text-color(get-color($color, 500));
  }

  &:active,
  &.active {
    border-color: get-color($color, 700);
    background-color: get-color($color, 600);
    color: scheme-text-color(get-color($color, 600));
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    border-color: get-color($color, 100);
    background-color: get-color($color, 50);
    color: get-color($color, 100);
  }
}

@mixin button-color-outlined($color) {
  border-color: get-color($color, 500);
  color: get-color($color, 500);

  &:hover {
    border-color: get-color($color, 600);
    color: get-color($color, 600);
  }

  &:active,
  &.active {
    border-color: get-color($color, 700);
    background-color: get-color($color, 600);
    color: scheme-text-color(get-color($color, 600));
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    border-color: get-color($color, 100);
    color: get-color($color, 100);
  }
}

@include for-each-scheme {
  @include for-each-color {
    .ax-button--#{color-prop(name)} {
      &:not(.ax-button--outlined) {
        @include button-color-filled(color-prop(color));
      }

      &.ax-button--outlined {
        @include button-color-outlined(color-prop(color));
      }
    }
  }

  .ax-button--primary {
    &:not(.ax-button--outlined) {
      @include button-color-filled(scheme-prop(primary));
    }

    &.ax-button--outlined {
      @include button-color-outlined(scheme-prop(primary));
    }
  }
}


/**
 * Circular buttons
 */
.ax-button--circular {
  padding: 0;
  border-radius: 50%;

  &.ax-button--sm {
    height: $line-height + ($button-padding-v-sm * 2);
    width: $line-height + ($button-padding-v-sm * 2);
  }

  &.ax-button--md {
    height: $line-height + ($button-padding-v-md * 2);
    width: $line-height + ($button-padding-v-md * 2);
  }

  &.ax-button--lg {
    height: $line-height + ($button-padding-v-lg * 2);
    width: $line-height + ($button-padding-v-lg * 2);
  }
}


/**
 * Button icon
 */
.ax-button__icon {
  margin-right: $component-margin-h-sm;
}


/**
 * Button group
 * Trick to allow buttons to vertically space themselves
 * when stacked when going responsive.
 */
.ax-button__group {
  @include space-block($component-margin-v-base);

  &:last-child {
    margin-bottom: -$component-margin-h-sm;
  }

  > .ax-button {
    margin-top: 0;
    margin-bottom: $component-margin-v-sm ;
  }
}

.ax-button__group--joined {
  > .ax-button {
    margin: 0;
    border-radius: 0;
    border-right-width: 0;

    &:first-child {
      border-radius: $border-radius-base 0 0 $border-radius-base;
    }

    &:last-child {
      border-right-width: $component-border-width-base;
      border-radius: 0 $border-radius-base $border-radius-base 0;
    }
  }
}
