@import '../core/mixins';
@import './_mixins/scheme';
@import './_mixins/typography';
@import './_vars/card';

/**
 * Standard card styling
 */
.ax-card {
  @include blockSpace($container-margin-v-base);

  &:not(.ax-card--transparent) {
    @include forEachScheme() {
      color: schemeTextColor(schemeProp(card-color));
      background-color: schemeProp(card-color);
    }
  }
}

.ax-card__title,
.ax-card__content,
.ax-card__footer, {
  padding: $card-padding-v $card-padding-h;

  + .ax-card__title,
  + .ax-card__content,
  + .ax-card__footer {
    padding-top: 0;
  }
}

.ax-card__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ax-card__list-item {
  padding: ($card-padding-v / 2) $card-padding-h;
  border-bottom: $card-border;

  @include forEachScheme() {
    @if schemeHasProp(card-border) {
      border-color: schemeProp(card-border);
    }
  }

  &:first-child  {
    padding-top: $card-padding-v;
  }

  &:last-child  {
    padding-bottom: $card-padding-v;
    border-bottom: none;
  }
}

.ax-card__list-item--clickable {
  cursor: pointer;

  @include forEachScheme() {
    @if schemeHasProp(card-border) {
      &:hover {
        color: schemeTextColor(schemeProp(card-hover-color));
        background-color: schemeProp(card-hover-color);
      }
    }
  }
}
