@import '../core/mixins';

.ax-logo--vertical--sm { width: $logo-vertical-width-sm; height: $logo-vertical-height-sm; }
.ax-logo--vertical--md { width: $logo-vertical-width-md; height: $logo-vertical-height-md; }
.ax-logo--vertical--lg { width: $logo-vertical-width-lg; height: $logo-vertical-height-lg; }

.ax-logo--horizontal--sm { width: $logo-horizontal-width-sm; height: $logo-horizontal-height-sm; }
.ax-logo--horizontal--md { width: $logo-horizontal-width-md; height: $logo-horizontal-height-md; }
.ax-logo--horizontal--lg { width: $logo-horizontal-width-lg; height: $logo-horizontal-height-lg; }
