@import '../core/mixins';

.ax-status-indicator {
  @include space-block();

  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.ax-status-indicator__dot {
  display: inline-flex;
  margin: 0 $component-margin-h-sm 0 0;
  padding: $component-border-width-base;
  border: $component-border-width-base solid get-color($color-grey, 300);
  border-radius: 50%;

  &::after {
    display: inline-block;
    content: "";
    border-radius: 50%;
  }
}

/**
 * Size variations
 */
@mixin status-indicator-size($size) {
  font-size: $size;

  .ax-status-indicator__dot::after {
    width: $size;
    height: $size;
  }
}

.ax-status-indicator--sm { @include status-indicator-size($font-size-md) }
.ax-status-indicator--md { @include status-indicator-size($font-size-base) }
.ax-status-indicator--lg { @include status-indicator-size($font-size-h4) }

/**
 * Color variations
 */
@mixin status-indicator-color($color) {
  color: get-color($color, 600);

  .ax-status-indicator__dot {
    &::after {
      background-color: get-color($color, 400);
    }
  }
}

@include for-each-color {
  .ax-status-indicator--#{color-prop(name)} {
    @include status-indicator-color(color-prop(color));
  }
}

@include for-each-scheme {
  .ax-status-indicator--primary {
    @include status-indicator-color(scheme-prop(primary));
  }
}
