@import '../core/mixins';
@import './_vars/icon';
@import './_mixins/icon';
@import './_mixins/scheme';


// Table: Base
.ax-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;

  th,
  td {
    padding: $component-padding-v-base $component-padding-h-sm;
    font-weight: normal;
    vertical-align: middle;
  }

  th {
    font-size: $font-size-md;
    font-weight: $font-weight-strong;
  }
}


// Table: Stripey Row
@include for-each-scheme {
  .ax-table--striped {
    tbody {
      tr {
        &:nth-child(odd)  { background-color: scheme-prop(table-row-odd-color); }
        &:nth-child(even) { background-color: scheme-prop(table-row-even-color); }
      }
    }
  }
}


// Table: Bordered
@include for-each-scheme {
  .ax-table--borders,
  .ax-table--borders--v {
    th:not(:first-child),
    td:not(:first-child) {
      border-left: $component-border-width-base solid scheme-prop(table-border-color);
    }
  }
}

@include for-each-scheme {
  .ax-table--borders,
  .ax-table--borders--h {
    tr {
      border-bottom: $component-border-width-base solid scheme-prop(table-border-color);
    }
  }
}


// Table: Cell alignment (content dependant)
.ax-table__cell--number {
  text-align: right;
  white-space: nowrap;
}


// Table: Sorting
.ax-table--sortable {
  .ax-table__sort--asc,
  .ax-table__sort--desc {
    white-space: nowrap;
    cursor: pointer;

    &::after {
      margin: 0 0 0 $component-padding-h-sm;
    }
  }

  .ax-table__sort--asc::after  { @include icon($fa-var-sort-asc); }
  .ax-table__sort--desc::after { @include icon($fa-var-sort-desc); }
}
