@import '../core/mixins';

.ax-tabs {
  @include space-block();
}

.ax-tabs__nav {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: auto;
  z-index: 0;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $component-border-width-base;
    content: '';
    z-index: -1;

    @include for-each-scheme {
      background-color: scheme-prop(tabs-border-color);
    }
  }
}

.ax-tabs__nav-item {
  @include transition((background-color, border-color));

  margin: 0 $component-margin-h-sm 0 0;
  border: $component-border-width-base solid transparent;
  border-bottom: 0;
  border-radius: $border-radius-base $border-radius-base 0 0;
  list-style: none;
  white-space: nowrap;

  @include for-each-scheme {
    border-color: scheme-prop(tabs-border-color);
    background-color: scheme-prop(tabs-inactive-background-color);
    color: scheme-text-color(scheme-prop(tabs-inactive-background-color));
  }

  &:hover {
    @include for-each-scheme {
      background-color: scheme-prop(tabs-hover-background-color);
      color: scheme-text-color(scheme-prop(tabs-hover-background-color));
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

@include for-each-scheme {
  .ax-tabs__nav-item--active {
    &,
    &:hover {
      background-color: scheme-prop(tabs-active-background-color);
      color: scheme-text-color(scheme-prop(tabs-active-background-color));
    }
  }
}

.ax-tabs__nav-link {
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  justify-content: center;
  padding: $component-padding-v-base $component-padding-h-base;
  font-size: $font-size-md;
  font-weight: $font-weight-strong;
  text-transform: uppercase;
}

.ax-tabs__content {
  padding: $component-padding-v-base 0 0;
}
