@import '~bw-axiom/design-patterns/colors/vars';
@import '~bw-axiom/design-patterns/spacing/mixins';
@import '~bw-axiom/design-patterns/spacing/vars';

// sass-lint:disable no-qualifying-elements

pre[class*='language-'] {
  @include space-block();

  padding: $component-padding-md;
  border-radius: $component-border-radius;
  background-color: $color-ui-light-2;
}
