@import '~bw-axiom/design-patterns/colors/mixins';
@import '~bw-axiom/design-patterns/colors/_vars.js';
@import '~bw-axiom/design-patterns/spacing/mixins';
@import '~bw-axiom/design-patterns/spacing/_vars.js';

// sass-lint:disable no-qualifying-elements

pre[class*='language-'] {
  @include space-block();

  padding: $component-padding-v-lg $component-padding-h-base;
  border: 1px solid get-color($color-grey, 100);
  border-radius: 2px;
  background-color: get-color($color-grey, 50);
}
