.ax-alert {
  padding-right: var(--page-padding-horizontal);
  padding-left: var(--page-padding-horizontal);
  color: var(--color-ui-light--light);
  font-weight: var(--font-weight-medium);
}

.ax-alert--small {
  padding-top: var(--spacing-grid-size--x2);
  padding-bottom: var(--spacing-grid-size--x2);
}

.ax-alert--medium {
  padding-top: var(--spacing-grid-size--x3);
  padding-bottom: var(--spacing-grid-size--x3);
}

.ax-alert--success { background-color: var(--color-ui-success); }
.ax-alert--warning { background-color: var(--color-ui-warning); }
.ax-alert--error   { background-color: var(--color-ui-error); }
.ax-alert--info    { background-color: var(--color-ui-primary--light); }
