@import '../../materials/colors';
@import '../../materials/sizing';
@import '../../materials/typography';

:root {
  --cmp-alert-padding-vertical: calc(var(--spacing-grid-size) * 3);
  --cmp-alert-padding-horizontal: var(--page-padding-horizontal);
}

.ax-alert {
  padding: var(--cmp-alert-padding-vertical) var(--cmp-alert-padding-horizontal);
  color: var(--color-ui-light-2);
  font-weight: var(--font-weight-medium);
}

.ax-alert--success { background-color: var(--color-ui-success); }
.ax-alert--warning { background-color: var(--color-ui-warning); }
.ax-alert--error   { background-color: var(--color-ui-error); }
.ax-alert--info    { background-color: var(--color-ui-primary-2); }
