@import '../../design-patterns/colors/vars';
@import '../../design-patterns/colors/colors-dark';
@import '../../design-patterns/spacing/vars';
@import '../typography/vars';
@import '../vars';

.ax-alert {
  padding: $component-padding-vertical-large $page-padding-h;
  color: $color-ui-light-2;
  font-weight: $font-weight-medium;
}

.ax-alert--success { background-color: $color-ui-success; }
.ax-alert--warning { background-color: $color-ui-warning; }
.ax-alert--error   { background-color: $color-ui-error; }
.ax-alert--info    { background-color: $color-ui-primary-2; }
