@import '../../design-patterns/colors/vars';
@import '../../design-patterns/spacing/mixins';
@import '../../design-patterns/spacing/vars';
@import '../typography/vars';
@import '../vars';

.ax-alert {
  @include space-block();

  padding: $component-padding-vertical-large $page-padding-h;
  font-weight: $font-weight-medium;
}

.ax-alert--success {
  background-color: $color-ui-success;
  color: $color-ui-light-2;
}

.ax-alert--warning {
  background-color: $color-ui-warning;
  color: $color-ui-light-2;
}

.ax-alert--error {
  background-color: $color-ui-error;
  color: $color-ui-light-2;
}

.ax-alert--info {
  background-color: $color-ui-primary-2;
  color: $color-ui-light-2;
}
