.ax-documentation-viewer__menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ax-documentation-viewer__menu-item {
  border-right: var(--spacing-grid-size--x1) solid transparent;
  transition-property: border-right-color, background-color, color;
  transition-duration: var(--transition-time-base);
  transition-timing-function: var(--transition-function);

  &:hover {
    color: var(--color-ui-accent--hover);
  }
}

.ax-documentation-viewer__menu-item--active {
  border-right-color: var(--color-ui-accent--active);
  background-color: var(--color-theme-background--disabled);
  color: var(--color-ui-accent--hover);
}

.ax-documentation-viewer__link {
  display: block;
  padding: var(--spacing-grid-size--x2) var(--page-padding-horizontal);
  color: inherit;
  text-decoration: none;
}
