/** https://github.com/philipwalton/flexbugs#flexbug-3 */
.ax-documentation-viewer__showcase-container,
.ax-documentation-viewer__showcase {
  display: flex;
  flex-direction: column;
}

.ax-documentation-viewer__showcase-snippet {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
