@import '../../design-patterns/animations/vars';
@import '../../design-patterns/colors/vars';
@import '../../design-patterns/spacing/vars';
@import '../../components/vars';

$modal-animation-duration: $transition-time-base;

:root {
  #{--modal-animation-duration}: $modal-animation-duration;
}

.ax-modal__overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: fade-out($color-ui-dark-0, .7);
  z-index: $z-index-modal;
}

.ax-modal {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  padding: $container-padding-sm;

  &:focus {
    outline: none;
  }
}

// sass-lint:disable class-name-format

// React modal animations
.ReactModal__Overlay,
.ReactModal__Content {
  animation-duration: $modal-animation-duration;
  animation-fill-mode: forwards;
}

.ReactModal__Overlay--after-open   { animation-name: appear-fade; }
.ReactModal__Overlay--before-close { animation-name: disappear-fade; }

.ReactModal__Content--after-open   { animation-name: appear-standard; }
.ReactModal__Content--before-close { animation-name: disappear-standard; }

// Stop body scrolling
.ReactModal__Body--open {
  overflow: hidden;
}

// sass-lint:enable class-name-format
