.ax-text--align-left   { text-align: left; }
.ax-text--align-center { text-align: center; }
.ax-text--align-right  { text-align: right; }

@media (min-width: 48rem) {
  .ax-text--align-left--small   { text-align: left; }
  .ax-text--align-center--small { text-align: center; }
  .ax-text--align-right--small  { text-align: right; }
}

@media (min-width: 62rem) {
  .ax-text--align-left--medium   { text-align: left; }
  .ax-text--align-center--medium { text-align: center; }
  .ax-text--align-right--medium  { text-align: right; }
}

@media (min-width: 75rem) {
  .ax-text--align-left--large   { text-align: left; }
  .ax-text--align-center--large { text-align: center; }
  .ax-text--align-right--large  { text-align: right; }
}

.ax-text--break-none { white-space: nowrap; }
.ax-text--break-all  { white-space: initial; word-break: break-all; }
.ax-text--break-word { white-space: initial; word-wrap: break-word; }

.ax-text--case-upper   { text-transform: uppercase; }
.ax-text--case-capital { text-transform: capitalize; }
.ax-text--case-lower   { text-transform: lowercase; }

.ax-text--color-body { color: var(--color-theme-text); }
.ax-text--color-day { color: var(--color-theme-day-text); }
.ax-text--color-night { color: var(--color-theme-night-text); }
.ax-text--color-error { color: var(--color-ui-error); }
.ax-text--color-success { color: var(--color-ui-success); }
.ax-text--color-warning { color: var(--color-ui-warning); }
.ax-text--color-disabled { color: var(--color-theme-text--disabled); }
.ax-text--color-subtle { color: var(--color-theme-text--subtle); }
.ax-text--color-twitter { color: var(--color-social-twitter); }
.ax-text--color-facebook { color: var(--color-social-facebook); }
.ax-text--color-instagram { color: var(--color-social-instagram); }
.ax-text--color-forbidden-planet { color: var(--color-product-forbidden-planet); }
.ax-text--color-tiny-clanger { color: var(--color-product-tiny-clanger); }
.ax-text--color-critical-mass { color: var(--color-product-critical-mass); }
.ax-text--color-fantastic-voyage { color: var(--color-product-fantastic-voyage); }
.ax-text--color-paradise-lost { color: var(--color-product-paradise-lost); }
.ax-text--color-serene-sea { color: var(--color-product-serene-sea); }
.ax-text--color-event-horizon { color: var(--color-product-event-horizon); }
.ax-text--color-electric-dreams { color: var(--color-product-electric-dreams); }
.ax-text--color-outer-limits { color: var(--color-product-outer-limits); }
.ax-text--color-giant-leap { color: var(--color-product-giant-leap); }
.ax-text--color-moon-lagoon { color: var(--color-product-moon-lagoon); }
.ax-text--color-space-invader { color: var(--color-product-space-invader); }
.ax-text--color-extraterrestrial { color: var(--color-product-extraterrestrial); }
.ax-text--color-terra-form { color: var(--color-product-terra-form); }
.ax-text--color-primeval-soup { color: var(--color-product-primeval-soup); }
.ax-text--color-future-shock { color: var(--color-product-future-shock); }
.ax-text--color-sun-maker { color: var(--color-product-sun-maker); }
.ax-text--color-new-horizon { color: var(--color-product-new-horizon); }
.ax-text--color-blast-off { color: var(--color-product-blast-off); }
.ax-text--color-crash-course { color: var(--color-product-crash-course); }
.ax-text--color-solar-rust { color: var(--color-product-solar-rust); }
.ax-text--color-ground-control { color: var(--color-product-ground-control); }
.ax-text--color-space-oddity { color: var(--color-product-space-oddity); }
.ax-text--color-rocky-planet { color: var(--color-product-rocky-planet); }
.ax-text--color-deep-thought { color: var(--color-product-deep-thought); }
.ax-text--color-luna-dust { color: var(--color-product-luna-dust); }
.ax-text--color-sentiment-positive { color: var(--color-sentiment-positive); }
.ax-text--color-sentiment-negative { color: var(--color-sentiment-negative); }
.ax-text--color-sentiment-neutral { color: var(--color-sentiment-neutral); }

.ax-text--ellipsis {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ax-text--emphasize { font-style: italic; }

.ax-text--size-label {
  font-size: var(--font-size-label);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-loose);
  text-transform: uppercase;
  line-height: var(--line-height-label);
}

.ax-text--size-small {
  font-size: var(--font-size-small);
}

.ax-text--size-body {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
}

.ax-text--size-large {
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
}

.ax-text--size-headtitle {
  font-size: var(--font-size-headtitle);
  line-height: var(--line-height-headtitle);
}

.ax-text--size-headline {
  font-size: var(--font-size-headline);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-headline);
}

.ax-text--size-display2 {
  font-size: var(--font-size-display2);
  line-height: var(--line-height-display2);
}

.ax-text--size-display1 {
  font-size: var(--font-size-display1);
  line-height: var(--line-height-display1);
}

.ax-text--size-headtitle,
.ax-text--size-headline,
.ax-text--size-display2,
.ax-text--size-display1 {
  letter-spacing: var(--letter-spacing-tight);
}

.ax-text--strike         { text-decoration: line-through; }
.ax-text--underline-body { text-decoration: underline; }

.ax-text--underline-display2,
.ax-text--underline-display1,
.ax-text--underline-headline {
  border-bottom: var(--component-border-width) solid var(--color-theme-border);
}

.ax-text--underline-headline { padding-bottom: calc(var(--spacing-grid-size) * 2); }
.ax-text--underline-display1 { padding-bottom: calc(var(--spacing-grid-size) * 2); }
.ax-text--underline-display2 { padding-bottom: calc(var(--spacing-grid-size) * 3); }

.ax-text--size-large,
.ax-text--size-headtitle {
  font-weight: var(--font-weight-regular);
}

.ax-text--strong,
.ax-text--size-label.ax-text--strong,
.ax-text--size-label .ax-text--strong {
  font-weight: var(--font-weight-bold);
}

.ax-text--size-display2,
.ax-text--size-display1 {
  font-weight: var(--font-weight-thin);
}

.ax-text--size-headline.ax-text--strong,
.ax-text--size-headline .ax-text--strong,
.ax-text--size-display1.ax-text--strong,
.ax-text--size-display1 .ax-text--strong,
.ax-text--size-display2.ax-text--strong,
.ax-text--size-display2 .ax-text--strong {
  font-weight: var(--font-weight-medium);
}
