@import './globals';
@import '../../materials/colors';
@import '../../materials/layout';
@import '../../materials/sizing';

/* Hack: around webkits autofill styling */
@keyframes inputAutofillFix {
  to {
    background-color: transparent;
    color: inherit;
  }
}

@keyframes appear-standard {
  from { transform: scale3d(0.8, 0.8, 1); opacity: 0; }
  to   { transform: scale3d(1, 1, 1);     opacity: 1; }
}

@keyframes disappear-standard {
  from { transform: scale3d(1, 1, 1);     opacity: 1; }
  to   { transform: scale3d(0.8, 0.8, 1); opacity: 0; }
}

@keyframes appear-fade {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes disappear-fade {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

/* stylelint-disable declaration-no-important */
@media (--screen-less-than-small) {
  .ax-hidden-until--small  {
    display: none !important;
  }
}

@media (--screen-less-than-medium) {
  .ax-hidden-until--medium  {
    display: none !important;
  }
}

@media (--screen-less-than-large) {
  .ax-hidden-until--large  {
    display: none !important;
  }
}

@media (--screen-more-than-small) {
  .ax-visible-until--small  {
    display: none !important;
  }
}

@media (--screen-more-than-medium) {
  .ax-visible-until--medium  {
    display: none !important;
  }
}

@media (--screen-more-than-large) {
  .ax-visible-until--large  {
    display: none !important;
  }
}
/* stylelint-enable */

.ax-space--none {
  margin-top: 0;
  margin-bottom: 0;
}

.ax-space--tiny {
  margin-top: var(--component-margin-vertical-tiny);
  margin-bottom: var(--component-margin-vertical-tiny);
}

.ax-space--small  {
  margin-top: var(--component-margin-vertical-small);
  margin-bottom: var(--component-margin-vertical-small);
}

.ax-space--medium {
  margin-top: var(--component-margin-vertical-medium);
  margin-bottom: var(--component-margin-vertical-medium);
}

.ax-space--large  {
  margin-top: var(--component-margin-vertical-large);
  margin-bottom: var(--component-margin-vertical-large);
}

.ax-space--tiny,
.ax-space--small,
.ax-space--medium,
.ax-space--large {
  &:first-child { margin-top: 0; }
  &:last-child  { margin-bottom: 0; }
}
