@import '~normalize.css/normalize.css';
@import '../../design-patterns/animations/animations';
@import '../../design-patterns/colors/_vars.js';
@import '../../design-patterns/layout/mixins';
@import '../../design-patterns/layout/layout';
@import '../../design-patterns/utilities/utilities';
@import '../typography/vars';

// sass-lint:disable no-vendor-prefixes

html,
body {
  font-family: $font-family-body;
  font-size: $font-size-body;
  line-height: $line-height-body-px;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
}

// sass-lint:enable no-vendor-prefixes

// Alignment Modifiers
.ax-text--left { text-align: left; }
.ax-text--center { text-align: center; }
.ax-text--right { text-align: right; }

@include for-each-breakpoint {
  @include screen-more-than {
    .ax-text--left--#{breakpoint-prop(id)} { text-align: left; }
    .ax-text--center--#{breakpoint-prop(id)} { text-align: center; }
    .ax-text--right--#{breakpoint-prop(id)} { text-align: right; }
  }
}


// Case Modifiers
.ax-text--uppercase   { text-transform: uppercase; }
.ax-text--capitalize  { text-transform: capitalize; }
.ax-text--lowercase   { text-transform: lowercase; }


// Breaking
.ax-text--break-none { white-space: nowrap; }
.ax-text--break-all  { white-space: initial; word-break: break-all; }
.ax-text--break-word { white-space: initial; word-wrap: break-word; }

.ax-text--light  { color: $text-color-light; }
.ax-text--subtle { color: $text-color-subtle; }
.ax-text--dark   { color: $text-color-dark; }

//
.ax-text--ellipsis {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
