@import '~normalize.css/normalize.css';
@import '../../design-patterns/animations/animations';
@import '../../design-patterns/colors/vars';
@import '../../design-patterns/colors/colors';
@import '../../design-patterns/layout/mixins';
@import '../typography/vars';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
}


// sass-lint:disable no-vendor-prefixes
html,
body {
  font-family: $font-family-body;
  font-size: $font-size-body;
  line-height: $line-height-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// sass-lint:enable no-vendor-prefixes

// sass-lint:disable no-important
@include for-each-breakpoint {
  .ax-hidden-until--#{breakpoint-prop(id)}  {
    @include screen-less-than {
      display: none !important;
    }
  }

  .ax-visible-until--#{breakpoint-prop(id)} {
    @include screen-more-than {
      display: none !important;
    }
  }
}
// sass-lint:enable no-important

// Alignment Modifiers
.ax-text--left { text-align: left; }
.ax-text--center { text-align: center; }
.ax-text--right { text-align: right; }

@include for-each-breakpoint {
  @include screen-more-than {
    .ax-text--left--#{breakpoint-prop(id)} { text-align: left; }
    .ax-text--center--#{breakpoint-prop(id)} { text-align: center; }
    .ax-text--right--#{breakpoint-prop(id)} { text-align: right; }
  }
}


// Case Modifiers
.ax-text--uppercase   { text-transform: uppercase; }
.ax-text--capitalize  { text-transform: capitalize; }
.ax-text--lowercase   { text-transform: lowercase; }


// Breaking
.ax-text--break-none { white-space: nowrap; }
.ax-text--break-all  { white-space: initial; word-break: break-all; }
.ax-text--break-word { white-space: initial; word-wrap: break-word; }

.ax-text--light   { color: $color-ui-light-1; } // Revisit
.ax-text--subtle  { color: $color-context-subtle-text; }
.ax-text--dark    { color: $color-context-standard-text; }
.ax-text--valid   { color: $color-ui-valid; }
.ax-text--invalid { color: $color-ui-invalid; }

//
.ax-text--ellipsis {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
