.dm-grid-block {
  padding: calc(var(--spacing-grid-size) * 2);
  border-width: 0.0625rem;
  border-style: solid;
  text-align: center;

  @nest [data-axiom=GridExample]:nth-child(3n+1) & {
    border-color: var(--color-product-giant-leap--active);
    background-color: var(--color-product-giant-leap--hover);
  }

  @nest [data-axiom=GridExample]:nth-child(3n+2) & {
    border-color: var(--color-product-critical-mass--active);
    background-color: var(--color-product-critical-mass--hover);
  }

  @nest [data-axiom=GridExample]:nth-child(3n+3) & {
    border-color: var(--color-product-new-horizon--active);
    background-color: var(--color-product-new-horizon--hover);
  }
}
