@import '../../design-patterns/colors/mixins';
@import '../../design-patterns/spacing/_vars.js';
@import '../../design-patterns/spacing/mixins';
@import '../../design-patterns/utilities/mixins';
@import '../billboard/_vars.js';


// Billboard: Base
.ax-billboard {
  @include space-block();
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $container-padding-v-base $container-padding-h-base;
}

.ax-billboard__content {
  position: relative;
}

// Billboard: Image
.ax-billboard--image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


// Billboard: Overlay
.ax-billboard--overlay {
  @include overlay();

  position: relative;
}


// Billboard: Sizes
@each $billboard-size in $billboard-sizes {
  .ax-billboard--#{map-get($billboard-size, id)} {
    min-height: map-get($billboard-size, min-height);
  }
}


// Billboard: Colours
@include for-each-color {
  @each $variation, $hex in color-prop(color) {
    .ax-billboard--#{color-prop(name)}--#{$variation} {
      background-color: $hex;
      color: get-text-color($hex);
    }
  }
}
