.ax-candytar {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.ax-candytar--tiny-clanger {
  & .ax-candytar__body,
  & .ax-candytar__background {
    fill: var(--color-product-tiny-clanger);
  }
}

.ax-candytar--critical-mass {
  & .ax-candytar__body,
  & .ax-candytar__background {
    fill: var(--color-product-critical-mass);
  }
}

.ax-candytar--paradise-lost {
  & .ax-candytar__body,
  & .ax-candytar__background {
    fill: var(--color-product-paradise-lost);
  }
}

.ax-candytar--serene-sea {
  & .ax-candytar__body,
  & .ax-candytar__background {
    fill: var(--color-product-serene-sea);
  }
}

.ax-candytar--giant-leap {
  & .ax-candytar__body,
  & .ax-candytar__background {
    fill: var(--color-product-giant-leap);
  }
}

.ax-candytar--moon-lagoon {
  & .ax-candytar__body,
  & .ax-candytar__background {
    fill: var(--color-product-moon-lagoon);
  }
}

.ax-candytar--terra-form {
  & .ax-candytar__body,
  & .ax-candytar__background {
    fill: var(--color-product-terra-form);
  }
}

.ax-candytar--primeval-soup {
  & .ax-candytar__body,
  & .ax-candytar__background {
    fill: var(--color-product-primeval-soup);
  }
}

.ax-candytar--new-horizon {
  & .ax-candytar__body,
  & .ax-candytar__background {
    fill: var(--color-product-new-horizon);
  }
}

.ax-candytar--blast-off {
  & .ax-candytar__body,
  & .ax-candytar__background {
    fill: var(--color-product-blast-off);
  }
}

.ax-candytar--ground-control {
  & .ax-candytar__body,
  & .ax-candytar__background {
    fill: var(--color-product-ground-control);
  }
}

.ax-candytar--luna-dust {
  & .ax-candytar__body,
  & .ax-candytar__background {
    fill: var(--color-product-luna-dust);
  }
}
