.ax-candytar {
  display: block;
}

.ax-candytar--rose {
  & .ax-candytar__body,
  & .ax-candytar__background {
    fill: var(--color-brand-rose);
  }
}

.ax-candytar--pink {
  & .ax-candytar__body,
  & .ax-candytar__background {
    fill: var(--color-brand-pink);
  }
}

.ax-candytar--purple {
  & .ax-candytar__body,
  & .ax-candytar__background {
    fill: var(--color-brand-purple);
  }
}

.ax-candytar--lilac {
  & .ax-candytar__body,
  & .ax-candytar__background {
    fill: var(--color-brand-lilac);
  }
}

.ax-candytar--blue {
  & .ax-candytar__body,
  & .ax-candytar__background {
    fill: var(--color-brand-blue);
  }
}

.ax-candytar--teal {
  & .ax-candytar__body,
  & .ax-candytar__background {
    fill: var(--color-brand-teal);
  }
}

.ax-candytar--green {
  & .ax-candytar__body,
  & .ax-candytar__background {
    fill: var(--color-brand-green);
  }
}

.ax-candytar--chartreuse {
  & .ax-candytar__body,
  & .ax-candytar__background {
    fill: var(--color-brand-chartreuse);
  }
}

.ax-candytar--amber {
  & .ax-candytar__body,
  & .ax-candytar__background {
    fill: var(--color-brand-amber);
  }
}

.ax-candytar--orange {
  & .ax-candytar__body,
  & .ax-candytar__background {
    fill: var(--color-brand-orange);
  }
}

.ax-candytar--brown {
  & .ax-candytar__body,
  & .ax-candytar__background {
    fill: var(--color-brand-brown);
  }
}

.ax-candytar--grey {
  & .ax-candytar__body,
  & .ax-candytar__background {
    fill: var(--color-brand-grey);
  }
}
