.ax-tabset__list {
  display: flex;
  align-items: flex-end;
  padding: 0;
  white-space: nowrap;
  overflow: auto;

  &::after {
    content: '';
    flex: 1 1 auto;
    border-bottom: var(--component-border-width) solid var(--color-theme-border);
  }
}

.ax-tabset__list-item {
  position: relative;
  margin: 0 var(--component-padding-vertical-medium) 0 0;
  border: var(--component-border-width) solid transparent;
  border-radius: var(--component-border-radius) var(--component-border-radius) 0 0;
  background-color: var(--color-theme-background--subtle);
  list-style: none;
  transition-property: background-color, border-color, color;
  transition-duration: var(--transition-time-base);
  transition-timing-function: var(--transition-function);

  &::after {
    content: '';
    position: absolute;
    right: calc(var(--component-border-width) * -1);
    bottom: calc(var(--component-border-width) * -1);
    width: var(--component-padding-vertical-medium);
    transform: translateX(100%);
    border-bottom: var(--component-border-width) solid var(--color-theme-border);
  }
}

.ax-tabset__list-item--active {
  padding-bottom: var(--component-border-width);
  border-color: var(--color-theme-border);
  border-bottom-color: transparent;
  background-color: var(--color-theme-background);
  color: var(--color-ui-accent--active);
}

.ax-tabset__list-item--disabled {
  border-bottom-color: var(--color-theme-border);
  background-color: var(--color-theme-background--disabled);
}

.ax-tabset__button {
  outline: 0;
  border: 0;
  background: none;
  color: var(--color-theme-text--subtle);
  text-transform: capitalize;
  line-height: var(--component-line-height);
  transition-property: color;
  transition-duration: var(--transition-time-base);
  transition-timing-function: var(--transition-function);

  &:hover {
    color: var(--color-ui-accent);
    cursor: pointer;
  }

  &:disabled {
    color: var(--color-theme-text--disabled);
    cursor: default;
  }
}

.ax-tabset__list-item--active .ax-tabset__button {
  color: var(--color-ui-accent--active);
}

.ax-tabset__list--medium .ax-tabset__button {
  padding:
    calc(var(--component-padding-vertical-medium) - var(--component-border-width))
    var(--component-padding-horizontal-medium)
    var(--component-padding-vertical-medium);
}

.ax-tabset__list--large .ax-tabset__button {
  padding:
    calc(var(--component-padding-vertical-large) - var(--component-border-width))
    var(--component-padding-horizontal-large)
    var(--component-padding-vertical-large);
}
