/* stylelint-disable color-no-hex */
:root {
  --color-ui-dark-0: #2F2D36;
  --color-ui-dark-1: #34323B;
  --color-ui-dark-2: #48464F;

  --color-ui-primary-0: #1F8DC3;
  --color-ui-primary-1: #239EDC;
  --color-ui-primary-2: #27B0F5;

  --color-ui-light-0: #E3E1E8;
  --color-ui-light-1: #F2F0F7;
  --color-ui-light-2: #F7F5FC;

  --color-ui-white: #FFFFFF;

  --color-ui-success: #00BE96;
  --color-ui-warning: #E0B651;
  --color-ui-error: #FC4870;

  --color-ui-highlight: #D7FF00;

  --color-brand-rose-0: #E884A6;
  --color-brand-rose-1: #F498B7;
  --color-brand-rose-2: #FFABC7;

  --color-brand-pink-0: #E1455D;
  --color-brand-pink-1: #ED556D;
  --color-brand-pink-2: #FA667D;

  --color-brand-purple-0: #8F63A6;
  --color-brand-purple-1: #9C73B2;
  --color-brand-purple-2: #AB86BF;

  --color-brand-lilac-0: #7D8FCA;
  --color-brand-lilac-1: #90A0D6;
  --color-brand-lilac-2: #A4B2E3;

  --color-brand-blue-0: #4EB4D9;
  --color-brand-blue-1: #5FC3E6;
  --color-brand-blue-2: #6FD0F3;

  --color-brand-teal-0: #259BA3;
  --color-brand-teal-1: #31A6AF;
  --color-brand-teal-2: #3EB4BD;

  --color-brand-green-0: #6AA626;
  --color-brand-green-1: #77B232;
  --color-brand-green-2: #83BF3F;

  --color-brand-chartreuse-0: #B5AD0A;
  --color-brand-chartreuse-1: #C1B816;
  --color-brand-chartreuse-2: #CFC621;

  --color-brand-amber-0: #EEAE00;
  --color-brand-amber-1: #F9B800;
  --color-brand-amber-2: #FFBF0C;

  --color-brand-orange-0: #E67E00;
  --color-brand-orange-1: #F38700;
  --color-brand-orange-2: #FF920C;

  --color-brand-brown-0: #9E5524;
  --color-brand-brown-1: #AA6130;
  --color-brand-brown-2: #B86E3C;

  --color-brand-grey-0: #67818F;
  --color-brand-grey-1: #78909C;
  --color-brand-grey-2: #8A9EA8;

  --drop-shadow: 0 0 0.375rem color(var(--color-ui-dark-1) alpha(30%));

  --color-theme-light-border: color(var(--color-ui-dark-2) alpha(20%));
  --color-theme-light-border-subtle: color(var(--color-ui-dark-2) alpha(15%));
  --color-theme-light-background: var(--color-ui-white);
  --color-theme-light-background-disabled: color(var(--color-ui-dark-2) alpha(5%));
  --color-theme-light-background-faded: color(var(--color-ui-dark-2) alpha(10%));
  --color-theme-light-background-subtle: color(var(--color-ui-dark-2) alpha(15%));
  --color-theme-light-text: var(--color-ui-dark-2);
  --color-theme-light-text-subtle: color(var(--color-ui-dark-2) alpha(75%));
  --color-theme-light-text-disabled: color(var(--color-ui-dark-2) alpha(30%));

  --color-theme-dark-border: color(var(--color-ui-light-2) alpha(20%));
  --color-theme-dark-border-subtle: color(var(--color-ui-light-2) alpha(15%));
  --color-theme-dark-background: var(--color-ui-dark-2);
  --color-theme-dark-background-disabled: color(var(--color-ui-light-2) alpha(5%));
  --color-theme-dark-background-faded: color(var(--color-ui-light-2) alpha(10%));
  --color-theme-dark-background-subtle: color(var(--color-ui-light-2) alpha(15%));
  --color-theme-dark-text: var(--color-ui-light-2);
  --color-theme-dark-text-subtle: color(var(--color-ui-light-2) alpha(75%));
  --color-theme-dark-text-disabled: color(var(--color-ui-light-2) alpha(30%));
}
/* stylelint-enable */
