/* stylelint-disable color-no-hex */
:root {
  --rgb-ui-dark--dark: 48, 45, 53;
  --rgb-ui-dark: 57, 55, 62;
  --rgb-ui-dark--light: 72, 70, 77;

  --rgb-ui-primary--dark: 22, 145, 207;
  --rgb-ui-primary: 35, 158, 219;
  --rgb-ui-primary--light: 48, 171, 232;

  --rgb-ui-light--dark: 227, 225, 232;
  --rgb-ui-light: 237, 235, 242;
  --rgb-ui-light--light: 247, 245, 252;

  --rgb-ui-success--light: 10, 204, 162;
  --rgb-ui-success: 0, 190, 150;
  --rgb-ui-success--dark: 0, 166, 130;

  --rgb-ui-warning--light: 237, 195, 97;
  --rgb-ui-warning: 224, 182, 81;
  --rgb-ui-warning--dark: 212, 168, 66;

  --rgb-ui-error--light: 255, 99, 133;
  --rgb-ui-error: 252, 72, 112;
  --rgb-ui-error--dark: 240, 58, 97;

  --color-ui-dark--dark: rgb(var(--rgb-ui-dark--dark));
  --color-ui-dark: rgb(var(--rgb-ui-dark));
  --color-ui-dark--light: rgb(var(--rgb-ui-dark--light));

  --color-ui-primary--dark: rgb(var(--rgb-ui-primary--dark));
  --color-ui-primary: rgb(var(--rgb-ui-primary));
  --color-ui-primary--light: rgb(var(--rgb-ui-primary--light));

  --color-ui-light--dark: rgb(var(--rgb-ui-light--dark));
  --color-ui-light: rgb(var(--rgb-ui-light));
  --color-ui-light--light: rgb(var(--rgb-ui-light--light));

  --color-ui-success--light: rgb(var(--rgb-ui-success--light));
  --color-ui-success: rgb(var(--rgb-ui-success));
  --color-ui-success--dark: rgb(var(--rgb-ui-success--dark));

  --color-ui-warning--light: rgb(var(--rgb-ui-warning--light));
  --color-ui-warning: rgb(var(--rgb-ui-warning));
  --color-ui-warning--dark: rgb(var(--rgb-ui-warning--dark));

  --color-ui-error--light: rgb(var(--rgb-ui-error--light));
  --color-ui-error: rgb(var(--rgb-ui-error));
  --color-ui-error--dark: rgb(var(--rgb-ui-error--dark));

  --color-ui-white: #FFFFFF;

  --color-ui-highlight: #D7FF00;

  --color-brand-rose--dark: #E884A6;
  --color-brand-rose: #F498B7;
  --color-brand-rose--light: #FFABC7;

  --color-brand-pink--dark: #E1455D;
  --color-brand-pink: #ED556D;
  --color-brand-pink--light: #FA667D;

  --color-brand-purple--dark: #8F63A6;
  --color-brand-purple: #9C73B2;
  --color-brand-purple--light: #AB86BF;

  --color-brand-lilac--dark: #7D8FCA;
  --color-brand-lilac: #90A0D6;
  --color-brand-lilac--light: #A4B2E3;

  --color-brand-blue--dark: #4EB4D9;
  --color-brand-blue: #5FC3E6;
  --color-brand-blue--light: #6FD0F3;

  --color-brand-teal--dark: #259BA3;
  --color-brand-teal: #31A6AF;
  --color-brand-teal--light: #3EB4BD;

  --color-brand-green--dark: #6AA626;
  --color-brand-green: #77B232;
  --color-brand-green--light: #83BF3F;

  --color-brand-chartreuse--dark: #B5AD0A;
  --color-brand-chartreuse: #C1B816;
  --color-brand-chartreuse--light: #CFC621;

  --color-brand-amber--dark: #EEAE00;
  --color-brand-amber: #F9B800;
  --color-brand-amber--light: #FFBF0C;

  --color-brand-orange--dark: #E67E00;
  --color-brand-orange: #F38700;
  --color-brand-orange--light: #FF920C;

  --color-brand-brown--dark: #9E5524;
  --color-brand-brown: #AA6130;
  --color-brand-brown--light: #B86E3C;

  --color-brand-grey--dark: #67818F;
  --color-brand-grey: #78909C;
  --color-brand-grey--light: #8A9EA8;

  --drop-shadow-1: 0 0 0 0.0625rem rgba(var(--rgb-ui-dark--light), 0.2);
  --drop-shadow-2: 0 0.125rem 1rem 0 rgba(var(--rgb-ui-dark--dark), 0.1);
  --drop-shadow: var(--drop-shadow-2);

  --color-theme-light-border: rgba(var(--rgb-ui-dark--light), 0.2);
  --color-theme-light-border-subtle: rgba(var(--rgb-ui-dark--light), 0.15);
  --color-theme-light-background: var(--color-ui-white);
  --color-theme-light-background-active: var(--color-ui-light--light);
  --color-theme-light-background-disabled: rgba(var(--rgb-ui-dark--light), 0.05);
  --color-theme-light-background-faded: rgba(var(--rgb-ui-dark--light), 0.1);
  --color-theme-light-background-hover: var(--color-ui-light);
  --color-theme-light-background-subtle: rgba(var(--rgb-ui-dark--light), 0.15);
  --color-theme-light-text: var(--color-ui-dark--light);
  --color-theme-light-text-subtle: rgba(var(--rgb-ui-dark--light), 0.75);
  --color-theme-light-text-disabled: rgba(var(--rgb-ui-dark--light), 0.3);

  --color-theme-dark-border: rgba(var(--rgb-ui-light--light), 0.2);
  --color-theme-dark-border-subtle: rgba(var(--rgb-ui-light--light), 0.15);
  --color-theme-dark-background: var(--color-ui-dark--dark);
  --color-theme-dark-background-active: var(--color-ui-dark);
  --color-theme-dark-background-disabled: rgba(var(--rgb-ui-light--light), 0.05);
  --color-theme-dark-background-faded: rgba(var(--rgb-ui-light--light), 0.1);
  --color-theme-dark-background-hover: var(--color-ui-dark);
  --color-theme-dark-background-subtle: rgba(var(--rgb-ui-light--light), 0.15);
  --color-theme-dark-text: var(--color-ui-light--light);
  --color-theme-dark-text-subtle: rgba(var(--rgb-ui-light--light), 0.75);
  --color-theme-dark-text-disabled: rgba(var(--rgb-ui-light--light), 0.3);

  --color-twitter-blue: #1DA1F2;
}
/* stylelint-enable */
