/* stylelint-disable color-no-hex, max-line-length */
:root {
  --rgb-ui-carbon--darker: 48, 45, 53;
  --rgb-ui-carbon--dark: 57, 55, 62;
  --rgb-ui-carbon: 72, 70, 77;

  --rgb-ui-white-noise--darker: 227, 225, 232;
  --rgb-ui-white-noise--dark: 237, 235, 242;
  --rgb-ui-white-noise: 247, 245, 252;

  --rgb-ui-accent--hover: 48, 171, 232;
  --rgb-ui-accent: 35, 158, 219;
  --rgb-ui-accent--active: 22, 145, 207;

  --rgb-ui-success--hover: 10, 204, 162;
  --rgb-ui-success: 0, 190, 150;
  --rgb-ui-success--active: 0, 166, 130;

  --rgb-ui-warning--hover: 237, 195, 97;
  --rgb-ui-warning: 224, 182, 81;
  --rgb-ui-warning--active: 212, 168, 66;

  --rgb-ui-error--hover: 255, 99, 133;
  --rgb-ui-error: 252, 72, 112;
  --rgb-ui-error--active: 240, 58, 97;

  --rgb-ui-info--hover: var(--rgb-ui-accent--hover);
  --rgb-ui-info: var(--rgb-ui-accent);
  --rgb-ui-info--active: var(--rgb-ui-accent--active);

  --color-ui-carbon--darker: rgb(var(--rgb-ui-carbon--darker));
  --color-ui-carbon--dark: rgb(var(--rgb-ui-carbon--dark));
  --color-ui-carbon: rgb(var(--rgb-ui-carbon));

  --color-ui-white-noise--darker: rgb(var(--rgb-ui-white-noise--darker));
  --color-ui-white-noise--dark: rgb(var(--rgb-ui-white-noise--dark));
  --color-ui-white-noise: rgb(var(--rgb-ui-white-noise));

  --color-ui-accent--active: rgb(var(--rgb-ui-accent--active));
  --color-ui-accent: rgb(var(--rgb-ui-accent));
  --color-ui-accent--hover: rgb(var(--rgb-ui-accent--hover));

  --color-ui-success--hover: rgb(var(--rgb-ui-success--hover));
  --color-ui-success: rgb(var(--rgb-ui-success));
  --color-ui-success--active: rgb(var(--rgb-ui-success--active));

  --color-ui-warning--hover: rgb(var(--rgb-ui-warning--hover));
  --color-ui-warning: rgb(var(--rgb-ui-warning));
  --color-ui-warning--active: rgb(var(--rgb-ui-warning--active));

  --color-ui-error--hover: rgb(var(--rgb-ui-error--hover));
  --color-ui-error: rgb(var(--rgb-ui-error));
  --color-ui-error--active: rgb(var(--rgb-ui-error--active));

  --color-ui-info--hover: rgb(var(--rgb-ui-info--hover));
  --color-ui-info: rgb(var(--rgb-ui-info));
  --color-ui-info--active: rgb(var(--rgb-ui-info--active));

  --color-ui-white: #FFFFFF;

  --color-ui-highlight: #D7FF00;

  --color-product-tiny-clanger--active: #E884A6;
  --color-product-tiny-clanger: #F498B7;
  --color-product-tiny-clanger--hover: #FFABC7;

  --color-product-critical-mass--active: #E1455D;
  --color-product-critical-mass: #ED556D;
  --color-product-critical-mass--hover: #FA667D;

  --color-product-paradise-lost--active: #8F63A6;
  --color-product-paradise-lost: #9C73B2;
  --color-product-paradise-lost--hover: #AB86BF;

  --color-product-serene-sea--active: #7D8FCA;
  --color-product-serene-sea: #90A0D6;
  --color-product-serene-sea--hover: #A4B2E3;

  --color-product-giant-leap--active: #4EB4D9;
  --color-product-giant-leap: #5FC3E6;
  --color-product-giant-leap--hover: #6FD0F3;

  --color-product-moon-lagoon--active: #259BA3;
  --color-product-moon-lagoon: #31A6AF;
  --color-product-moon-lagoon--hover: #3EB4BD;

  --color-product-terra-form--active: #6AA626;
  --color-product-terra-form: #77B232;
  --color-product-terra-form--hover: #83BF3F;

  --color-product-primeval-soup--active: #B5AD0A;
  --color-product-primeval-soup: #C1B816;
  --color-product-primeval-soup--hover: #CFC621;

  --color-product-new-horizon--active: #EEAE00;
  --color-product-new-horizon: #F9B800;
  --color-product-new-horizon--hover: #FFBF0C;

  --color-product-blast-off--active: #E67E00;
  --color-product-blast-off: #F38700;
  --color-product-blast-off--hover: #FF920C;

  --color-product-ground-control--active: #9E5524;
  --color-product-ground-control: #AA6130;
  --color-product-ground-control--hover: #B86E3C;

  --color-product-luna-dust--active: #67818F;
  --color-product-luna-dust: #78909C;
  --color-product-luna-dust--hover: #8A9EA8;

  --color-external-twitter-blue: #1DA1F2;

  --drop-shadow-1: 0 0 0 0.0625rem rgba(var(--rgb-ui-carbon), 0.2);
  --drop-shadow-2: 0 0.125rem 1rem 0 rgba(var(--rgb-ui-carbon--darker), 0.1);
  --drop-shadow: var(--drop-shadow-2);

  /** Theme opacities */
  --opacity-text--subtle: 0.75;
  --opacity-text--disabled: 0.3;

  --opacity-backgorund--subtle: 0.15;
  --opacity-backgorund--disabled: 0.05;

  --opacity-border: 0.2;

  /** Light theme colours */
  --rgb-theme-light-main: var(--rgb-ui-carbon);
  --rgb-theme-light-main--dark: var(--rgb-ui-carbon--dark);
  --rgb-theme-light-main--darker: var(--rgb-ui-carbon--darker);

  --color-theme-light-main: rgb(var(--rgb-theme-light-main));
  --color-theme-light-main--dark: rgb(var(--rgb-theme-light-main--dark));
  --color-theme-light-main--darker: rgb(var(--rgb-theme-light-main--darker));

  --color-theme-light-text: var(--color-theme-light-main);
  --color-theme-light-text--subtle: rgba(var(--rgb-theme-light-main), var(--opacity-text--subtle));
  --color-theme-light-text--disabled: rgba(var(--rgb-theme-light-main), var(--opacity-text--disabled));

  --color-theme-light-background--active: var(--color-ui-white-noise--dark);
  --color-theme-light-background: var(--color-ui-white);
  --color-theme-light-background--hover: var(--color-ui-white-noise);
  --color-theme-light-background--subtle: rgba(var(--rgb-theme-light-main), var(--opacity-backgorund--subtle));
  --color-theme-light-background--disabled: rgba(var(--rgb-theme-light-main), var(--opacity-backgorund--disabled));

  --color-theme-light-border: rgba(var(--rgb-theme-light-main), var(--opacity-border));

  /** Dark theme colours */
  --rgb-theme-dark-main: var(--rgb-ui-white-noise);
  --rgb-theme-dark-main--dark: var(--rgb-ui-white-noise--dark);
  --rgb-theme-dark-main--darker: var(--rgb-ui-white-noise--darker);

  --color-theme-dark-main: rgb(var(--rgb-theme-dark-main));
  --color-theme-dark-main--dark: rgb(var(--rgb-theme-dark-main--dark));
  --color-theme-dark-main--darker: rgb(var(--rgb-theme-dark-main--darker));

  --color-theme-dark-text: var(--color-theme-dark-main);
  --color-theme-dark-text--subtle: rgba(var(--rgb-theme-dark-main), var(--opacity-text--subtle));
  --color-theme-dark-text--disabled: rgba(var(--rgb-theme-dark-main), var(--opacity-text--disabled));

  --color-theme-dark-background--active: var(--color-ui-carbon--darker);
  --color-theme-dark-background: var(--color-ui-carbon--dark);
  --color-theme-dark-background--hover: var(--color-ui-carbon);
  --color-theme-dark-background--subtle: rgba(var(--rgb-theme-dark-main), var(--opacity-backgorund--subtle));
  --color-theme-dark-background--disabled: rgba(var(--rgb-theme-dark-main), var(--opacity-backgorund--disabled));

  --color-theme-dark-border: rgba(var(--rgb-theme-dark-main), var(--opacity-border));
}
/* stylelint-enable */
