:root {
  --layout-width-tiny: 23rem;
  --layout-width-small: 48rem;
  --layout-width-medium: 62rem;
  --layout-width-large: 75rem;

  --z-index-platform: 1;
  --z-index-position: 2;
  --z-index-modal: 2;
  --z-index-sticky: 2;
  --z-index-notifications: 3;
}
