.ax-theme--day {
  --color-theme-main: var(--color-theme-day-main);
  --color-theme-main--dark: var(--color-theme-day-main--dark);
  --color-theme-main--darker: var(--color-theme-day-main--darker);

  --color-theme-text: var(--color-theme-day-text);
  --color-theme-text--subtle: var(--color-theme-day-text--subtle);
  --color-theme-text--disabled: var(--color-theme-day-text--disabled);

  --color-theme-background--active: var(--color-theme-day-background--active);
  --color-theme-background: var(--color-theme-day-background);
  --color-theme-background--hover: var(--color-theme-day-background--hover);
  --color-theme-background--subtle: var(--color-theme-day-background--subtle);
  --color-theme-background--disabled: var(--color-theme-day-background--disabled);

  --color-theme-border: var(--color-theme-day-border);

  --color-theme-shadow: rgba(var(--rgb-theme-day-main--dark), 0.1);
  --color-theme-shadow--border: rgba(var(--rgb-theme-day-main), 0.2);

  --drop-shadow-theme-border: var(--drop-shadow-border) var(--color-theme-shadow--border);
  --drop-shadow-theme-elevation--x1: var(--drop-shadow-elevation--x1) var(--color-theme-shadow);
  --drop-shadow-theme-elevation--x2: var(--drop-shadow-elevation--x2) var(--color-theme-shadow);

  --color-theme-card-background: var(--color-ui-white);
  --color-theme-card-background--active: var(--color-ui-white-noise);
  --color-theme-card-background--dark: var(--color-ui-white-noise);
  --color-theme-card-background--darker: var(--color-ui-white-noise--dark);
}
