.dm-demo-box {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(var(--spacing-grid-size) * 12);
  padding: calc(var(--spacing-grid-size) * 2);
  border: 0.0625rem solid var(--color-theme-border);
  background-color: var(--color-theme-background--disabled);
  color: var(--color-theme-text--subtle);
}
