@import '~bw-axiom/design-patterns/colors/vars';
@import '~bw-axiom/design-patterns/spacing/vars';

.dm-demo-box {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: $spacing-grid-size * 12;
  padding: $spacing-grid-size * 2;
  border: 0.0625rem solid var(--color-context-border);
  background-color: var(--color-context-background-disabled);
  color: var(--color-context-text-subtle);
}
