@import '~bw-axiom/design-patterns/colors/vars';
@import '~bw-axiom/design-patterns/spacing/vars';

.dm-demo-box {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  padding: $component-padding-sm;
  border: $component-border-width solid $color-context-component-border;
  background-color: $color-ui-primary-1;
  color: $color-ui-light-1;
}
