@import '~bw-axiom/design-patterns/colors/mixins';
@import '~bw-axiom/design-patterns/colors/_vars.js';
@import '~bw-axiom/design-patterns/spacing/_vars.js';
@import '~bw-axiom/components/typography/_vars.js';

//
.dm-demo-box {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  padding: $component-padding-v-base $component-padding-h-base;
  border: 1px solid get-color($color-primary, 100);
  background-color: get-color($color-primary, 50);
  color: get-text-color(get-color($color-primary, 50));
  font-size: $font-size-sm;
  text-transform: uppercase;
}

.dm-demo-box--attention {
  border-color: get-color($color-primary, 500);
  background-color: get-color($color-primary, 300);
  color: get-text-color(get-color($color-primary, 300));
}

.dm-demo-container {
  min-height: 180px;
}
