:root {
  --cmp-dialog-width-small: 20rem;
  --cmp-dialog-width-medium: 37.5rem;
  --cmp-dialog-width-large: 50rem;
}

.ax-dialog {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  border-radius: var(--component-border-radius);
  background-color: var(--color-context-background);
  color: var(--color-context-text);
  filter: drop-shadow(var(--drop-shadow));
}

.ax-dialog__header,
.ax-dialog__footer {
  flex: 0 1 auto;
  padding: var(--page-padding-vertical) var(--page-padding-horizontal);
}

.ax-dialog__body {
  flex: 1 1 auto;
  padding: 0 var(--page-padding-horizontal);
  overflow: auto;

  &:first-child { padding-top: var(--page-padding-vertical); }
  &:last-child  { padding-bottom: var(--page-padding-vertical); }
}

.ax-dialog--small  { width: var(--cmp-dialog-width-small); }
.ax-dialog--medium { width: var(--cmp-dialog-width-medium); }
.ax-dialog--large  { width: var(--cmp-dialog-width-large); }

.ax-dialog--fullscreen {
  width: 100vw;
  height: 100vh;
}
