@import '../../design-patterns/utilities/mixins';

// Dialog Overlay
.ax-dialog__overlay {
  @include overlay();

  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: $container-padding-v-base $container-padding-h-base;
  z-index: $z-index-dialog;
}


// Dialog: Base
.ax-dialog {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  z-index: $z-index-dialog + 1;

  &:focus {
    outline: none;
  }
}

.ax-dialog__body {
  flex: 1;
  overflow: auto;
}


// Dialog: Card
.ax-dialog__card {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.ax-dialog__card-title,
.ax-dialog__card-footer {
  flex: 0 0 auto;
}


// Dialog: Sizes
@each $dialog-size in $dialog-sizes {
  $dialog-id: map-get($dialog-size, id);
  $dialog-width: map-get($dialog-size, width);

  .ax-dialog--#{$dialog-id} {
    max-width: $dialog-width;
  }
}

.ax-dialog--fullscreen {
  min-width: 100%;
  min-height: 100%;
}


// sass-lint:disable class-name-format

// React modal animations
.ReactModal__Overlay,
.ReactModal__Content {
  animation-duration: $transition-time-base;
  animation-fill-mode: forwards;
}

.ReactModal__Overlay--after-open   { animation-name: appear-fade; }
.ReactModal__Overlay--before-close { animation-name: disappear-fade; }

.ReactModal__Content--after-open   { animation-name: appear-standard; }
.ReactModal__Content--before-close { animation-name: disappear-standard; }

// Stop body scrolling
.ReactModal__Body--open {
  overflow: hidden;
}

// sass-lint:enable class-name-format
