@import '../../design-patterns/colors/vars';
@import '../../design-patterns/colors/colors-light';
@import '../../design-patterns/spacing/vars';

.ax-dialog {
  @include theme-light;

  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  border-radius: 0.1875rem;
  background-color: var(--color-context-background);
  color: var(--color-context-text);
  filter: drop-shadow($drop-shadow);
}

.ax-dialog__header,
.ax-dialog__footer {
  padding: $container-padding-lg;
}

.ax-dialog__body {
  padding: 0 $container-padding-lg;

  &:first-child { padding-top: $container-padding-lg; }
  &:last-child  { padding-bottom: $container-padding-lg; }
}

.ax-dialog__header,
.ax-dialog__footer {
  flex: 0 1 auto;
}

.ax-dialog__body {
  flex: 1 1 auto;
  overflow: auto;
}


// Dialog: Sizes
.ax-dialog--small  { width: 20rem; }
.ax-dialog--medium { width: 37.5rem; }
.ax-dialog--large  { width: 50rem; }

.ax-dialog--fullscreen {
  height: 100vh;
}
