@import '../../design-patterns/colors/_vars.js';
@import '../../design-patterns/spacing/_vars.js';

.ax-dialog {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  border-radius: $component-border-radius;
  background-color: $color-white-0;
}

.ax-dialog__header,
.ax-dialog__footer {
  padding: $container-padding-lg;
}

.ax-dialog__body {
  padding: 0 $container-padding-lg;

  &:first-child { padding-top: $container-padding-lg; }
  &:last-child  { padding-bottom: $container-padding-lg; }
}

.ax-dialog__header,
.ax-dialog__footer {
  flex: 0 0 auto;
}

.ax-dialog__body {
  flex: 1 1 0%;
  overflow: auto;
}


// Dialog: Sizes
.ax-dialog--small  { max-width: 400px; }
.ax-dialog--medium { max-width: 600px; }
.ax-dialog--large  { max-width: 800px; }

.ax-dialog--fullscreen {
  height: 100vh;
}
