:root {
  --cmp-dialog-width-small: 20rem;
  --cmp-dialog-width-medium: 37.5rem;
  --cmp-dialog-width-large: 50rem;
}

.ax-dialog {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  border-radius: var(--component-border-radius);
  box-shadow: var(--drop-shadow-border), var(--drop-shadow-elevation--x2);
  background-color: var(--color-theme-background);
  color: var(--color-theme-text);
}

.ax-dialog__body,
.ax-dialog__header {
  padding: var(--page-padding-vertical) var(--page-padding-horizontal);
}

.ax-dialog__header {
  border-bottom: 0.0625rem solid var(--color-theme-border);
}

.ax-dialog__body {
  flex: 1 1 auto;
  overflow: auto;
}

.ax-dialog__footer {
  padding: 0 var(--page-padding-vertical) var(--page-padding-horizontal);
}

.ax-dialog__header,
.ax-dialog__footer {
  flex: 0 1 auto;
}

.ax-dialog--small  { width: var(--cmp-dialog-width-small); }
.ax-dialog--medium { width: var(--cmp-dialog-width-medium); }
.ax-dialog--large  { width: var(--cmp-dialog-width-large); }

.ax-dialog--fullscreen {
  width: 100vw;
  height: 100vh;
}
