@import '../../design-patterns/colors/_vars.js';
@import '../../design-patterns/spacing/_vars.js';
@import '../dialog/_vars.js';

.ax-dialog {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  border-radius: $component-border-radius;
  background-color: $color-white-0;
}

.ax-dialog__header,
.ax-dialog__footer {
  padding: $container-padding-lg;
}

.ax-dialog__body {
  padding: 0 $container-padding-lg;

  &:first-child { padding-top: $container-padding-lg; }
  &:last-child  { padding-bottom: $container-padding-lg; }
}

.ax-dialog__header,
.ax-dialog__footer {
  flex: 0 0 auto;
}

.ax-dialog__body {
  flex: 1 1 0%;
  overflow: auto;
}


// Dialog: Sizes
@each $dialog-size in $dialog-sizes {
  .ax-dialog--#{map-get($dialog-size, id)} {
    max-width: map-get($dialog-size, width);
  }
}

.ax-dialog--fullscreen {
  height: 100vh;
}
