@import '../../materials/colors';
@import '../../materials/sizing';

.ax-user-menu__content {
  &::before {
    content: '';
    display: block;
    margin: 0 calc(var(--spacing-grid-size) * 6);
    border-bottom: var(--component-border-width) solid var(--color-context-border);
  }
}
