@import "~axiom/sass/core/mixins";
@import "~axiom/sass/components/_mixins/scheme";

.dm-color-box {
  padding: $component-padding-v-base $component-padding-h-base;
  overflow: hidden;
  text-overflow: ellipsis;

  &:first-child { border-radius: $border-radius-base $border-radius-base 0 0; }
  &:last-child  { border-radius: 0 0 $border-radius-base $border-radius-base; }
}

.dm-color-box--base {
  padding: $component-padding-v-lg $component-padding-h-base;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.dm-color-box--accent {
  margin: $component-margin-v-sm 0 0;
}

@include for-each-color {
  @each $variation, $hex in color-prop(color) {
    .dm-color--#{color-prop(name)}--#{$variation} {
      @include for-each-scheme {
        background-color: $hex;
        color: scheme-text-color($hex);
      }
    }
  }
}
