.ax-date-picker__day {
  display: block;
  position: relative;
  padding: 0 var(--spacing-grid-size);
  outline: 0;
  border: 0;
  background-color: transparent;
  color: var(--color-context-text-subtle);
  cursor: pointer;

  &:disabled {
    color: var(--color-context-text-disabled);
    cursor: default;
  }
}

.ax-date-picker__day-inner {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: var(--component-round-size-small);
  height: var(--component-round-size-small);
  border-radius: var(--component-round-size-small);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-loose);
  line-height: var(--component-line-height);
}

.ax-date-picker__day--selection {
  color: var(--color-ui-primary--dark);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-context-background-subtle);

    @nest .ax-date-picker__day--first& {
      border-top-left-radius: var(--component-round-size-small);
      border-bottom-left-radius: var(--component-round-size-small);
    }

    @nest .ax-date-picker__day--last&  {
      border-top-right-radius: var(--component-round-size-small);
      border-bottom-right-radius: var(--component-round-size-small);
    }
  }
}

.ax-date-picker__day--selected {
  color: var(--color-ui-light--light);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
  }

  & .ax-date-picker__day-inner {
    background-color: var(--color-ui-primary--dark);
  }
}

.ax-date-picker__day--selected-end:not(.ax-date-picker__day--first)::before {
  right: 50%;
  left: 0;
  background-color: var(--color-context-background-subtle);
}

.ax-date-picker__day--selected-start:not(.ax-date-picker__day--last)::before {
  right: 0;
  left: 50%;
  background-color: var(--color-context-background-subtle);
}
