@import '../../design-patterns/animations/mixins';
@import '../../design-patterns/colors/vars';
@import '../vars';

.ax-tabset__list {
  display: flex;
  align-items: flex-end;
  margin: 0 0 ($spacing-grid-size * 6);
  padding: 0;

  &::after {
    flex: 1 1 auto;
    border-bottom: $component-border-width solid var(--color-context-border);
    content: '';
  }
}

.ax-tabset__list-item {
  @include transition((border-color, background-color, color));

  position: relative;
  margin: 0 $component-padding-vertical-medium 0 0;
  border: $component-border-width solid transparent;
  border-radius: $component-border-radius $component-border-radius 0 0;
  background-color: var(--color-context-background-subtle);
  list-style: none;

  &::after {
    position: absolute;
    right: -$component-border-width;
    bottom: -$component-border-width;
    width: $component-padding-vertical-medium;
    transform: translateX(100%);
    border-bottom: $component-border-width solid var(--color-context-border);
    content: '';
  }

  &:not(.ax-tabset__list-item--disabled):hover {
    color: $color-ui-primary-1;
  }
}

.ax-tabset__list-item--active {
  border-color: var(--color-context-border);
  border-bottom-color: transparent;
  background-color: var(--color-context-background);
}

.ax-tabset__list-item--disabled {
  border-bottom-color: var(--color-context-border);
  background-color: var(--color-context-background-disabled);
  color: var(--color-context-text-disabled);
}

.ax-tabset__button {
  color: inherit;
  line-height: $component-line-height;
}

// Tab sizing
.ax-tabset__list-item--medium {
  .ax-tabset__button {
    padding: $component-padding-vertical-medium $component-padding-horizontal-medium;
  }

  &:not(.ax-tabset__list-item--active) {
    .ax-tabset__button {
      padding-top: $component-padding-vertical-medium - $component-border-width;
    }
  }
}

.ax-tabset__list-item--large {
  .ax-tabset__button {
    padding: $component-padding-vertical-large $component-padding-horizontal-large;
  }

  &:not(.ax-tabset__list-item--active) {
    .ax-tabset__button {
      padding-top: $component-padding-vertical-large - $component-border-width;
    }
  }
}
