@import '../../design-patterns/animations/mixins';
@import '../../design-patterns/colors/mixins';
@import '../../design-patterns/spacing/mixins';

$tabset-border-width: 1px;
$tabset-border-radius: 2px;
$tabset-border-color: get-color($color-grey, 200);
$tabset-background-color-active: get-color($color-white);
$tabset-background-color-inactive: get-color($color-grey, 200);
$tabset-background-color-hover: get-color($color-grey, 100);

.ax-tabs {
  @include space-block();
}

.ax-tabs__nav {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: auto;
  z-index: 0;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $tabset-border-width;
    background-color: $tabset-border-color;
    content: '';
    z-index: -1;
  }
}

.ax-tabs__nav-item {
  @include transition((background-color, border-color));

  margin: 0 $component-margin-h-sm 0 0;
  border: $tabset-border-width solid $tabset-border-color;
  border-bottom: 0;
  border-radius: $tabset-border-radius $tabset-border-radius 0 0;
  background-color: $tabset-background-color-inactive;
  color: get-text-color($tabset-background-color-inactive);
  list-style: none;
  white-space: nowrap;

  &:hover {
    background-color: $tabset-background-color-hover;
    color: get-text-color($tabset-background-color-hover);
  }

  &:last-child {
    margin-right: 0;
  }
}

.ax-tabs__nav-item--active {
  &,
  &:hover {
    background-color: $tabset-background-color-active;
    color: get-text-color($tabset-background-color-active);
  }
}

.ax-tabs__nav-link {
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  justify-content: center;
  padding: $component-padding-v-base $component-padding-h-base;
  font-size: $font-size-md;
  font-weight: $font-weight-strong;
  text-transform: uppercase;
}

.ax-tabs__content {
  padding: $component-padding-v-base 0 0;
}
