@import '../../materials/colors';
@import '../../materials/sizing';

:root {
  --cmp-table-row-padding-small: calc(var(--spacing-grid-size) * 1);
  --cmp-table-row-padding-medium: calc(var(--spacing-grid-size) * 2);
  --cmp-table-row-padding-large: calc(var(--spacing-grid-size) * 4);

  --cmp-table-column-padding-small: calc(var(--spacing-grid-size) * 1);
  --cmp-table-column-padding-medium: calc(var(--spacing-grid-size) * 2);
  --cmp-table-column-padding-large: calc(var(--spacing-grid-size) * 4);
}

.ax-table {
  width: 100%;
  border-spacing: 0;
}

.ax-table--column-padding-small {
  & .ax-table__cell {
    padding-right: var(--cmp-table-column-padding-small);
    padding-left: var(--cmp-table-column-padding-small);
  }
}

.ax-table--column-padding-medium {
  & .ax-table__cell {
    padding-right: var(--cmp-table-column-padding-medium);
    padding-left: var(--cmp-table-column-padding-medium);
  }
}

.ax-table--column-padding-large {
  & .ax-table__cell {
    padding-right: var(--cmp-table-column-padding-large);
    padding-left: var(--cmp-table-column-padding-large);
  }
}

.ax-table--column-padding-none {
  & .ax-table__cell {
    padding-right: 0;
    padding-left: 0;
  }
}

.ax-table__cell:first-child { padding-left: 0; }
.ax-table__cell:last-child  { padding-right: 0; }

.ax-table--row-padding-small,
.ax-table__head--row-padding-small {
  & .ax-table__cell {
    padding-top: var(--cmp-table-row-padding-small);
    padding-bottom: var(--cmp-table-row-padding-small);
  }
}

.ax-table--row-padding-medium,
.ax-table__head--row-padding-medium {
  & .ax-table__cell {
    padding-top: var(--cmp-table-row-padding-medium);
    padding-bottom: var(--cmp-table-row-padding-medium);
  }
}

.ax-table--row-padding-large,
.ax-table__head--row-padding-large {
  & .ax-table__cell {
    padding-top: var(--cmp-table-row-padding-large);
    padding-bottom: var(--cmp-table-row-padding-large);
  }
}

.ax-table--row-padding-none,
.ax-table__head--row-padding-none {
  & .ax-table__cell {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.ax-table--borders {
  & .ax-table__cell {
    border-bottom: var(--component-border-width-medium) solid var(--color-context-border);
  }
}

.ax-table__head {
  & .ax-table__row {
    line-height: 1;
  }
}

.ax-table__cell--grow {
  width: 100%;
}
