@import '../vars';
@import '../../design-patterns/colors/vars';
@import '../../design-patterns/spacing/vars';

$table-padding-vertical-small: $spacing-grid-size * 2;
$table-padding-vertical-large: $spacing-grid-size * 5;

$table-padding-horizontal: $spacing-grid-size * 8;

// Table styling
.ax-table {
  width: 100%;
  border-spacing: 0;
}

.ax-table__cell {
  padding-right: $table-padding-horizontal;
}

.ax-table__head {
  .ax-table__cell {
    padding-top: $table-padding-vertical-small;
    padding-bottom: $table-padding-vertical-small;
  }
}

.ax-table__body {
  .ax-table__cell {
    padding-top: $table-padding-vertical-large;
    padding-bottom: $table-padding-vertical-large;
  }
}

.ax-table__row {
  .ax-table__cell:last-child {
    padding-right: 0;
  }
}

.ax-table--compact {
  .ax-table__cell {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.ax-table--borders {
  .ax-table__cell {
    border-bottom: $component-border-width-medium solid var(--color-context-border);
  }
}
