@import '../../design-patterns/colors/mixins';
@import '../../design-patterns/colors/_vars.js';
@import '../../design-patterns/spacing/_vars.js';
@import '../icon/mixins';
@import '../icon/vars';
@import '../typography/_vars.js';

$table-border-width: 1px;
$table-border-color: get-color($color-grey, 200);
$table-row-background-color-odd: get-color($color-grey, 50);
$table-row-background-color-even: get-color($color-white);

// Table: Base
.ax-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;

  th,
  td {
    padding: $component-padding-v-base $component-padding-h-sm;
    font-weight: normal;
    vertical-align: middle;
  }

  th {
    font-size: $font-size-md;
    font-weight: $font-weight-strong;
  }
}


// Table: Stripey Row
.ax-table--striped {
  tbody {
    tr {
      &:nth-child(odd)  { background-color: $table-row-background-color-odd; }
      &:nth-child(even) { background-color: $table-row-background-color-even; }
    }
  }
}


// Table: Bordered
.ax-table--borders,
.ax-table--borders--v {
  th:not(:first-child),
  td:not(:first-child) {
    border-left: $table-border-width solid $table-border-color;
  }
}

.ax-table--borders,
.ax-table--borders--h {
  tr {
    border-bottom: $table-border-width solid $table-border-color;
  }
}


// Table: Cell alignment (content dependant)
.ax-table__cell--number {
  text-align: right;
  white-space: nowrap;
}


// Table: Sorting
.ax-table--sortable {
  .ax-table__sort--asc,
  .ax-table__sort--desc {
    white-space: nowrap;
    cursor: pointer;

    &::after {
      margin: 0 0 0 $component-padding-h-sm;
    }
  }

  .ax-table__sort--asc::after  { @include icon($fa-var-sort-asc); }
  .ax-table__sort--desc::after { @include icon($fa-var-sort-desc); }
}
