@import '../../../src/materials/colors';

/* stylelint-disable selector-class-pattern */
.dm-editor {
  width: 100%;
  height: 75vh;
}

.ace-dm .ace_gutter {
  background: var(--color-context-background-disabled);
  color: var(--color-context-text-subtle);
}

.ace-dm {
  background-color: inherit;
  color: inherit;
}

.ace-dm .ace_cursor {
  color: var(--color-context-text-subtle);
}

.ace-dm .ace_marker-layer .ace_selection {
  background: var(--color-context-background-disabled);
}

.ace-dm.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 0.1875rem 0 var(--color-ui-primary--light);
}

.ace-dm .ace_gutter-active-line {
  background-color: transparent;
}

.ace-dm .ace_marker-layer .ace_selected-word {
  border: 0;
}

.ace-dm .ace_entity.ace_name.ace_tag,
.ace-dm .ace_keyword,
.ace-dm .ace_meta.ace_tag,
.ace-dm .ace_storage {
  color: var(--color-brand-pink);
}

.ace-dm .ace_punctuation,
.ace-dm .ace_punctuation.ace_tag {
  color: var(--color-context-text-subtle);
}

.ace-dm .ace_constant.ace_character,
.ace-dm .ace_constant.ace_language,
.ace-dm .ace_constant.ace_numeric,
.ace-dm .ace_constant.ace_other {
  color: var(--color-brand-lilac);
}

.ace-dm .ace_support.ace_constant,
.ace-dm .ace_support.ace_function {
  color: var(--color-brand-blue);
}

.ace-dm .ace_storage.ace_type,
.ace-dm .ace_support.ace_class,
.ace-dm .ace_support.ace_type {
  color: var(--color-brand-teal);
  font-style: italic;
}

.ace-dm .ace_entity.ace_name.ace_function,
.ace-dm .ace_entity.ace_other,
.ace-dm .ace_entity.ace_other.ace_attribute-name,
.ace-dm .ace_variable {
  color: var(--color-brand-green);
}

.ace-dm .ace_variable.ace_parameter {
  color: var(--color-brand-orange);
  font-style: italic;
}

.ace-dm .ace_string {
  color: var(--color-brand-amber--dark);
}

.ace-dm .ace_comment {
  color: var(--color-context-text-subtle);
}
