@import '../vars';

// Avatar Base
.ax-avatar {
  display: block;
  border: 0 solid var(--color-context-border);
  border-radius: 50%;
}

.ax-avatar--small { border-width: $component-border-width-small; }
.ax-avatar--large { border-width: $component-border-width-large; }
