@import '~bw-axiom/design-patterns/colors/vars';
@import '~bw-axiom/design-patterns/layout/vars';
@import '~bw-axiom/design-patterns/spacing/vars';

$layout-change-point: $layout-width-sm;
$z-index-layout-header: 400;

$header-height-sm: $spacing-grid-size * 12;
$header-height-lg: $spacing-grid-size * 25;

$sidebar-width: 15rem;
$sidebar-active-color: $color-ui-primary-1;
$sidebar-border-width: 0.0625rem;
