@import '~bw-axiom/design-patterns/colors/vars';
@import '~bw-axiom/design-patterns/layout/vars';

$layout-change-point: $layout-width-sm;

$z-index-layout-header: 400;

$header-height-sm: 50px;
$header-height-lg: 100px;
$header-background-color: $color-white-0;

$sidebar-width: 240px;
$sidebar-header-background-color: $color-white-0;
$sidebar-background-color: $color-white-0;
$sidebar-border-color: $color-grey-2;
$sidebar-border-width: 1px;
