@import '~bw-axiom/design-patterns/colors/mixins';

$layout-change-point: $layout-width-sm;

$z-index-layout-header: 400;

$header-height-sm: 50px;
$header-height-lg: 100px;
$header-background-color: get-color($color-white);

$sidebar-width: 240px;
$sidebar-header-background-color: get-color($color-white);
$sidebar-background-color: get-color($color-white);
$sidebar-border-color: get-color($color-grey, 200);
$sidebar-border-width: 1px;

$logo-background-color:  get-color($color-white);

$footer-background-color: get-color($color-grey, 200);
