@import '~bw-axiom/design-patterns/spacing/_vars.js';
@import './vars';

.dm-layout__sidebar-header {
  flex: 0 1 auto;
  padding: $component-padding-v-base $component-padding-h-base;
  background-color: $sidebar-header-background-color;
  color: get-text-color($sidebar-header-background-color);
}
