@import '~bw-axiom/design-patterns/colors/mixins';
@import '~bw-axiom/design-patterns/layout/mixins';
@import './vars';

.dm-layout__header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  width: $sidebar-width;
  height: $header-height-lg;
  padding: 0 $page-padding-h;
  border-right: $sidebar-border-width solid $sidebar-border-color;
  border-bottom: $sidebar-border-width solid transparent;
  background-color: $header-background-color;
  color: get-text-color($header-background-color);
  text-align: center;
  z-index: $z-index-layout-header;

  @include screen-less-than($layout-change-point) {
    width: 100%;
    height: $header-height-sm;
    border-right: 0;
    border-bottom-color: $sidebar-border-color;
    text-align: left;
  }

}
