@import '~bw-axiom/design-patterns/colors/mixins';
@import '~bw-axiom/design-patterns/spacing/_vars.js';
@import './vars';

.dm-layout__footer-container {
  position: relative;
  padding: 0 $container-padding-h-base $container-padding-v-base;
  background-color: $footer-background-color;
  color: get-text-color($footer-background-color);
}

.dm-layout__footer {
  padding: $container-padding-v-base 0 0;
}

.dm-layout__logo {
  background-color: $logo-background-color;
  color: get-text-color($logo-background-color);
}
