@import '~bw-axiom/design-patterns/layout/mixins';
@import '~bw-axiom/design-patterns/layout/_vars.js';
@import '~bw-axiom/design-patterns/spacing/_vars.js';
@import './vars';

.dm-layout__main {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;

  .dm-layout__header ~ & {
    @include screen-less-than($layout-change-point) {
      margin-top: $header-height-sm;
    }
  }
}
