.dm-layout__full-height-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.dm-layout__full-height-container--top    { justify-content: flex-start; }
.dm-layout__full-height-container--middle { justify-content: center; }
.dm-layout__full-height-container--bottom { justify-content: flex-end; }
.dm-layout__full-height-container--left   { align-items: flex-start; }
.dm-layout__full-height-container--center { align-items: center; }
.dm-layout__full-height-container--right  { align-items: flex-end; }
