@import '~bw-axiom/design-patterns/animations/mixins';
@import '~bw-axiom/design-patterns/colors/vars';
@import '~bw-axiom/design-patterns/layout/mixins';
@import '~bw-axiom/design-patterns/layout/vars';
@import '~bw-axiom/design-patterns/spacing/vars';
@import './vars';

.dm-layout__sidebar {
  display: flex;
  position: fixed;
  top: $header-height-lg;
  bottom: 0;
  left: 0;
  flex-direction: column;
  width: $sidebar-width;
  border-right: $sidebar-border-width solid $sidebar-border-color;
  background-color: $sidebar-background-color;
  color: $sidebar-color;
  z-index: $z-index-layout-header;

  @include screen-less-than($layout-change-point) {
    @include transition((transform));

    top: $header-height-sm;
    transform: translateX(-100%);

    .dm-layout--open & {
      transform: translateX(-0%);
    }
  }

  .dm-layout__header ~ & {
    @include screen-less-than($layout-change-point) {
      top: $header-height-sm;
    }
  }

  ~ .dm-layout__main,
  ~ .dm-layout__footer-container {
    margin-left: $sidebar-width;

    @include screen-less-than($layout-change-point) {
      @include transition((transform));

      margin-left: 0;

      .dm-layout--open & {
        transform: translateX($sidebar-width);
      }
    }
  }
}

.dm-layout__sidebar-body {
  flex: 1 1 0%;
  overflow: auto;
}

.dm-layout__sidebar-footer {
  flex: 0 1 auto;
  padding: $page-padding-v $page-padding-h;
}
