@import '~bw-axiom/design-patterns/layout/mixins';
@import '~bw-axiom/design-patterns/layout/vars';
@import './vars';

.dm-layout {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.dm-layout--open {
  @include screen-less-than($layout-change-point) {
    overflow-x: hidden;
  }
}
