@import '~bw-axiom/design-patterns/layout/mixins';
@import '~bw-axiom/design-patterns/layout/_vars.js';
@import '~bw-axiom/design-patterns/spacing/_vars.js';
@import './vars';

.dm-layout__content {
  position: relative;
  width: 100%;
  margin: 0 auto;

  @include for-each-breakpoint {
    @include screen-more-than {
      width: breakpoint-prop(width) - $sidebar-width;
    }
  }

  @include screen-less-than($layout-change-point) {
    width: 100%;
  }
}

.dm-layout__content--padded {
  padding: $page-padding-v $page-padding-h;

  @include screen-less-than($layout-change-point) {
    padding-left: 0;
    padding-right: 0;
  }
}
