@import './vars';

@mixin space-block($spacing: ($spacing-grid-size * 3)) {
  margin: $spacing 0;

  &:first-child { margin-top: 0; }
  &:last-child  { margin-bottom: 0; }
}

@mixin space-inline-children($spacing: ($spacing-grid-size * 2)) {
  &,
  &:last-child {
    margin-bottom: -$spacing;
  }

  > * {
    margin: 0 $spacing $spacing 0;

    &:last-child {
      margin-right: 0;
    }
  }
}
