$spacing-grid-size: 4px;

$page-padding-h: $spacing-grid-size * 6;
$page-padding-v: $spacing-grid-size * 6;

$component-border-width: 1px;
$component-border-radius: 3px;

$component-padding-sm: $spacing-grid-size;
$component-padding-md: $spacing-grid-size * 2;
$component-padding-lg: $spacing-grid-size * 3;

$component-margin-sm: $spacing-grid-size * 2;
$component-margin-md: $spacing-grid-size * 3;
$component-margin-lg: $spacing-grid-size * 9;

$container-padding-sm: $spacing-grid-size * 3;
$container-padding-lg: $spacing-grid-size * 6;

$container-margin-sm: $spacing-grid-size * 3;
$container-margin-lg: $spacing-grid-size * 6;
