$page-padding-h: 24px;
$page-padding-v: 24px;

$component-border-width: 1px;
$component-border-radius: 3px;

$component-padding-sm: 6px;
$component-padding-lg: 12px;

$component-margin-sm: 6px;
$component-margin-lg: 12px;

$container-padding-sm: 12px;
$container-padding-lg: 24px;

$container-margin-sm: 12px;
$container-margin-lg: 24px;
