.dm-color-swatch {
  width: calc(var(--spacing-grid-size) * 16);
  height: calc(var(--spacing-grid-size) * 16);
  margin-bottom: var(--spacing-grid-size--x2);
  border-radius: 50%;
  box-shadow: inset var(--drop-shadow-theme-border);
}
