:root {
  --cmp-stat-vertical-padding: calc(var(--spacing-grid-size) * 0.5);
  --cmp-stat-spacing: calc(var(--spacing-grid-size) * 2);
}

.ax-stat-cards__stat {
  padding-top: var(--cmp-stat-vertical-padding);
  padding-bottom: var(--cmp-stat-vertical-padding);
  list-style: none;

  & + .ax-stat-cards__stat {
    margin-left: var(--cmp-stat-spacing);
    padding-left: var(--cmp-stat-spacing);
    border-left: var(--component-border-width) solid var(--color-theme-border);
  }
}

.ax-stat-cards__stat--tiny-clanger { color: var(--color-product-tiny-clanger); }
.ax-stat-cards__stat--critical-mass { color: var(--color-product-critical-mass); }
.ax-stat-cards__stat--paradise-lost { color: var(--color-product-paradise-lost); }
.ax-stat-cards__stat--serene-sea { color: var(--color-product-serene-sea); }
.ax-stat-cards__stat--giant-leap { color: var(--color-product-giant-leap); }
.ax-stat-cards__stat--moon-lagoon { color: var(--color-product-moon-lagoon); }
.ax-stat-cards__stat--terra-form { color: var(--color-product-terra-form); }
.ax-stat-cards__stat--primeval-soup { color: var(--color-product-primeval-soup); }
.ax-stat-cards__stat--new-horizon { color: var(--color-product-new-horizon); }
.ax-stat-cards__stat--blast-off { color: var(--color-product-blast-off); }
.ax-stat-cards__stat--ground-control { color: var(--color-product-ground-control); }
.ax-stat-cards__stat--luna-dust { color: var(--color-product-luna-dust); }
