.ax-bars__bar {
  display: flex;
  position: relative;
  transition: opacity var(--transition-time-base) var(--transition-function);
}

.ax-bars__bar--center {
  align-items: center;
}

.ax-bars__bar--faded {
  opacity: var(--cmp-chart-opacity-faded);
}

.ax-bars__bar--hidden {
  opacity: 0;
}

.ax-bars__bar-label {
  align-self: center;
  opacity: 1;
  line-height: var(--cmp-chart-label-line-height);
  transition: opacity var(--transition-time-base) var(--transition-function);
}

.ax-bars__bar-label--hidden {
  opacity: 0;
}

.ax-bars__bar-rect {
  flex: 1 1 0%;

  &.ax-bars__bar-rect--tiny-clanger { background-color: var(--color-product-tiny-clanger); }
  &.ax-bars__bar-rect--critical-mass { background-color: var(--color-product-critical-mass); }
  &.ax-bars__bar-rect--paradise-lost { background-color: var(--color-product-paradise-lost); }
  &.ax-bars__bar-rect--serene-sea { background-color: var(--color-product-serene-sea); }
  &.ax-bars__bar-rect--giant-leap { background-color: var(--color-product-giant-leap); }
  &.ax-bars__bar-rect--moon-lagoon { background-color: var(--color-product-moon-lagoon); }
  &.ax-bars__bar-rect--terra-form { background-color: var(--color-product-terra-form); }
  &.ax-bars__bar-rect--primeval-soup { background-color: var(--color-product-primeval-soup); }
  &.ax-bars__bar-rect--new-horizon { background-color: var(--color-product-new-horizon); }
  &.ax-bars__bar-rect--blast-off { background-color: var(--color-product-blast-off); }
  &.ax-bars__bar-rect--ground-control { background-color: var(--color-product-ground-control); }
  &.ax-bars__bar-rect--luna-dust { background-color: var(--color-product-luna-dust); }
}

.ax-bars__bar--clickable {
  cursor: pointer;

  & .ax-bars__bar-rect {
    transition-property: background-color;
    transition-duration: var(--transition-time-base);
    transition-timing-function: var(--transition-function);

    &.ax-bars__bar-rect--tiny-clanger {
      &:hover { background-color: var(--color-product-tiny-clanger--hover); }
      &:active { background-color: var(--color-product-tiny-clanger--active); }
    }

    &.ax-bars__bar-rect--critical-mass {
      &:hover { background-color: var(--color-product-critical-mass--hover); }
      &:active { background-color: var(--color-product-critical-mass--active); }
    }

    &.ax-bars__bar-rect--paradise-lost {
      &:hover { background-color: var(--color-product-paradise-lost--hover); }
      &:active { background-color: var(--color-product-paradise-lost--active); }
    }

    &.ax-bars__bar-rect--serene-sea {
      &:hover { background-color: var(--color-product-serene-sea--hover); }
      &:active { background-color: var(--color-product-serene-sea--active); }
    }

    &.ax-bars__bar-rect--giant-leap {
      &:hover { background-color: var(--color-product-giant-leap--hover); }
      &:active { background-color: var(--color-product-giant-leap--active); }
    }

    &.ax-bars__bar-rect--moon-lagoon {
      &:hover { background-color: var(--color-product-moon-lagoon--hover); }
      &:active { background-color: var(--color-product-moon-lagoon--active); }
    }

    &.ax-bars__bar-rect--terra-form {
      &:hover { background-color: var(--color-product-terra-form--hover); }
      &:active { background-color: var(--color-product-terra-form--active); }
    }

    &.ax-bars__bar-rect--primeval-soup {
      &:hover { background-color: var(--color-product-primeval-soup--hover); }
      &:active { background-color: var(--color-product-primeval-soup--active); }
    }

    &.ax-bars__bar-rect--new-horizon {
      &:hover { background-color: var(--color-product-new-horizon--hover); }
      &:active { background-color: var(--color-product-new-horizon--active); }
    }

    &.ax-bars__bar-rect--blast-off {
      &:hover { background-color: var(--color-product-blast-off--hover); }
      &:active { background-color: var(--color-product-blast-off--active); }
    }

    &.ax-bars__bar-rect--ground-control {
      &:hover { background-color: var(--color-product-ground-control--hover); }
      &:active { background-color: var(--color-product-ground-control--active); }
    }

    &.ax-bars__bar-rect--luna-dust {
      &:hover { background-color: var(--color-product-luna-dust--hover); }
      &:active { background-color: var(--color-product-luna-dust--active); }
    }
  }
}

.ax-bars--up .ax-bars__bar { flex-direction: column-reverse; }
.ax-bars--right .ax-bars__bar { flex-direction: row; }
.ax-bars--down .ax-bars__bar { flex-direction: column; }
.ax-bars--left .ax-bars__bar { flex-direction: row-reverse; }

.ax-bars--right,
.ax-bars--left {
  & .ax-bars__bar-label {
    position: absolute;
  }
}

.ax-bars--right {
  & .ax-bars__bar-label {
    left: 100%;
    margin-right: calc(var(--cmp-chart-label-width) * -1);
    padding-left: var(--cmp-chart-label-margin);
  }
}

.ax-bars--left {
  & .ax-bars__bar-label {
    right: 100%;
    margin-left: calc(var(--cmp-chart-label-width) * -1);
    padding-right: var(--cmp-chart-label-margin);
  }
}

.ax-bars--up,
.ax-bars--down {
  & .ax-bars__bar {
    flex: 1 1 0%;
  }
}

.ax-bars--up {
  & .ax-bars__bar-label {
    margin-top: calc(var(--cmp-chart-label-height) * -1);
    padding-bottom: var(--cmp-chart-label-margin);
  }
}

.ax-bars--down {
  & .ax-bars__bar-label {
    margin-bottom: calc(var(--cmp-chart-label-height) * -1);
    padding-top: var(--cmp-chart-label-margin);
  }
}
