@import '~bw-axiom/design-patterns/colors/vars';
@import '~bw-axiom/design-patterns/colors/colors-dark';
@import '~bw-axiom/design-patterns/colors/colors-light';

.dm-theme--dark  { @include theme-dark; }
.dm-theme--light { @include theme-light; }

html {
  height: 100%;
}

body {
  background-color: var(--color-context-background);
  color: var(--color-context-text);
}

body,
.dm-app-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 100%;
}
