<!DOCTYPE html>
<html lang="en-us">
  <head>
    <% if (htmlWebpackPlugin.options.basename) { %>
      <base href="<%= htmlWebpackPlugin.options.basename %>">
    <% } %>
    <meta charSet="utf-8" />
    <meta content="IE=edge" httpEquiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Brandwatch | Axiom</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <link href="assets/favicon.ico" rel="shortcut icon" />
    <% if (htmlWebpackPlugin.options.stylesheet) { %>
      <link href="<%= htmlWebpackPlugin.options.stylesheet %>" rel="stylesheet">
    <% } %>
  </head>
  <body class="dm-theme--light">
    <div class="dm-app-container" id="react-root"><% if (htmlWebpackPlugin.options.html) { %><%= htmlWebpackPlugin.options.html %><% } %></div>

    <% if (htmlWebpackPlugin.options.script) { %>
      <script src="<%= htmlWebpackPlugin.options.script %>" type="application/javascript"></script>
    <% } %>
  </body>
</html>
