@import '~bw-axiom/design-patterns/colors/vars';
@import '~bw-axiom/design-patterns/spacing/mixins';

.dm-doc-api__pre {
  @include space-block();
}

.dm-doc-api__code {
  padding: 0 $component-padding-sm;
  border: $component-border-width solid $color-grey-1;
  background-color: $color-grey-0;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  white-space: normal;
}
