@import '~bw-axiom/design-patterns/colors/vars';
@import '~bw-axiom/design-patterns/spacing/vars';
@import '~bw-axiom/design-patterns/spacing/mixins';

.dm-api-docs-list {
  @include space-block($container-margin-lg);
}

.dm-api-docs-list__item {
  padding: $container-margin-sm 0;
  border-bottom: $component-border-width solid $color-grey-2;

  &:last-child {
    padding-bottom: 0;
    border-bottom: 0;
  }
}
