@import '../../../src/materials/colors';
@import '../../../src/materials/sizing';

.dm-doc-api__code {
  padding: var(--spacing-grid-size) calc(var(--spacing-grid-size) * 2);
  background-color: var(--color-ui-light--light);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  white-space: normal;
}
