@import '~bw-axiom/design-patterns/colors/vars';
@import '~bw-axiom/design-patterns/spacing/vars';

$labs-square-size: $spacing-grid-size * 3;
$labs-border-width: 0.0625rem;

.dm-labs {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $page-padding-v $page-padding-h;
  background-image: (
    repeating-linear-gradient(0deg, transparent, transparent $labs-square-size, var(--color-context-border) $labs-border-width, transparent ($labs-square-size + $labs-border-width)),
    repeating-linear-gradient(90deg, transparent, transparent $labs-square-size, var(--color-context-border) $labs-border-width, transparent ($labs-square-size + $labs-border-width))
  );
}

.dm-labs__canvas {
  max-width: 100%;
  padding: $container-padding-lg;
  background-color: var(--color-context-background);
  filter: drop-shadow($drop-shadow);
}
