.ax-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  outline: 0;
  border-width: var(--component-border-width);
  border-style: solid;
  border-radius: var(--component-border-radius);
  border-color: transparent;
  background-color: transparent;
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-loose);
  text-align: center;
  text-transform: uppercase;
  line-height: var(--component-line-height);
  white-space: nowrap;
  vertical-align: middle;
  transition-property: background-color, border-color, color;
  transition-duration: var(--transition-time-base);
  transition-timing-function: var(--transition-function);

  &:hover {
    cursor: pointer;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    cursor: default;
  }

  /* Works around flex alignment bug in Safari */
  &::before,
  &::after {
    content: '';
    flex: 1 0 auto;
  }
}

.ax-button--joined-left {
  border-left-width: 0;
}

.ax-button--joined:not(:first-child),
.ax-button--joined-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.ax-button--joined:not(:last-child),
.ax-button--joined-right {
  margin-right: 0;
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ax-button--full {
  width: 100%;
}

@media (max-width: 47.9375rem) {
  .ax-button--full--small { width: 100%; }
}

@media (max-width: 61.9375rem) {
  .ax-button--full--medium { width: 100%; }
}

@media (max-width: 74.9375rem) {
  .ax-button--full--large { width: 100%; }
}

.ax-button--circle-small,
.ax-button--circle-medium,
.ax-button--circle-large,
.ax-button--circle-huge {
  padding: 0;
  border-radius: 50%;
  line-height: 0;
}

.ax-button--circle-small {
  width: var(--component-round-size-small);
  height: var(--component-round-size-small);
  border-width: var(--component-border-width-small);
}

.ax-button--circle-medium {
  width: var(--component-round-size-medium);
  height: var(--component-round-size-medium);
  border-width: var(--component-border-width-medium);
}

.ax-button--circle-large {
  width: var(--component-round-size-large);
  height: var(--component-round-size-large);
  border-width: var(--component-border-width-large);
}

.ax-button--circle-huge {
  width: var(--component-round-size-huge);
  height: var(--component-round-size-huge);
  border-width: var(--component-border-width-huge);
}

.ax-button--rectangle-small {
  padding: var(--component-padding-vertical-small) var(--component-padding-horizontal-small);
  font-size: var(--font-size-small);
}

.ax-button--rectangle-medium {
  padding: var(--component-padding-vertical-medium) var(--component-padding-horizontal-medium);
  font-size: var(--font-size-small);
}

.ax-button--rectangle-large {
  padding: var(--component-padding-vertical-large) var(--component-padding-horizontal-large);
  font-size: var(--font-size-large);
}

.ax-button--icon-only {
  &.ax-button--rectangle-small {
    padding-right: var(--component-padding-vertical-small);
    padding-left: var(--component-padding-vertical-small);
  }

  &.ax-button--rectangle-medium {
    padding-right: var(--component-padding-vertical-medium);
    padding-left: var(--component-padding-vertical-medium);
  }

  &.ax-button--rectangle-large {
    padding-right: var(--component-padding-vertical-large);
    padding-left: var(--component-padding-vertical-large);
  }
}

.ax-button--stadium-small {
  min-width: var(--component-round-size-small);
  height: var(--component-round-size-small);
  padding: 0 calc(var(--component-round-size-small) * 0.25);
  border-width: var(--component-border-width-small);
  border-radius: var(--component-round-size-small);
  line-height: 0;
}

.ax-button--primary {
  border-color: transparent;
  color: var(--color-ui-white-noise);

  /* Pattern obscurity */
  &.ax-button--joined:not(:first-child) {
    border-left-color: rgba(var(--rgb-ui-white-noise--dark), 0.45);
  }

  &:disabled {
    background-color: var(--color-theme-background--disabled);
    color: var(--color-theme-text--disabled);
  }

  &:active,
  &.ax-button--active {
    color: var(--color-ui-white-noise);
  }
}

.ax-button--secondary {
  border-color: var(--color-theme-border);

  &:hover {
    border-color: transparent;
    background-color: var(--color-theme-background--subtle);
  }

  &:disabled {
    border-color: var(--color-theme-border);
    background-color: transparent;
    color: var(--color-theme-text--disabled);
  }

  &:active,
  &.ax-button--active {
    border-color: transparent;
    background-color: var(--color-theme-background--subtle);
  }
}

.ax-button--tertiary {
  &:disabled {
    color: var(--color-theme-text--disabled);
  }
}

.ax-button--quaternary {
  color: var(--color-theme-text--subtle);

  &:hover {
    color: var(--color-ui-accent--hover);
  }

  &:disabled {
    color: var(--color-theme-text--disabled);
  }

  &:active,
  &.ax-button--active {
    color: var(--color-ui-accent--active);
  }
}

.ax-button--accent:not(:disabled) {
  &.ax-button--primary {
    background-color: var(--color-ui-accent);

    &:hover  {
      background-color: var(--color-ui-accent--hover);
    }

    &:active,
    &.ax-button--active {
      background-color: var(--color-ui-accent--active);
    }
  }

  &.ax-button--secondary,
  &.ax-button--tertiary {
    color: var(--color-ui-accent);
  }

  &.ax-button--secondary,
  &.ax-button--tertiary,
  &.ax-button--quaternary {
    &:hover {
      color: var(--color-ui-accent--hover);
    }

    &:active,
    &.ax-button--active {
      color: var(--color-ui-accent--active);
    }
  }
}

.ax-button--negative:not(:disabled) {
  &.ax-button--primary {
    background-color: var(--color-ui-error);

    &:hover  {
      background-color: var(--color-ui-error--hover);
    }

    &:active,
    &.ax-button--active {
      background-color: var(--color-ui-error--active);
    }
  }

  &.ax-button--secondary,
  &.ax-button--tertiary {
    color: var(--color-ui-error);
  }

  &.ax-button--secondary,
  &.ax-button--tertiary,
  &.ax-button--quaternary {
    &:hover {
      color: var(--color-ui-error--hover);
    }

    &:active,
    &.ax-button--active {
      color: var(--color-ui-error--active);
    }
  }
}

.ax-button--positive:not(:disabled) {
  &.ax-button--primary {
    background-color: var(--color-ui-success);

    &:hover  {
      background-color: var(--color-ui-success--hover);
    }

    &:active,
    &.ax-button--active {
      background-color: var(--color-ui-success--active);
    }
  }

  &.ax-button--secondary,
  &.ax-button--tertiary {
    color: var(--color-ui-success);
  }

  &.ax-button--secondary,
  &.ax-button--tertiary,
  &.ax-button--quaternary {
    &:hover {
      color: var(--color-ui-success--hover);
    }

    &:active,
    &.ax-button--active {
      color: var(--color-ui-success--active);
    }
  }
}
